<div class="page-declarations__container" [ngClass]="{ 'page-declarations__container--hidden': isHiddenSidebar }">
  <app-declaration-sidebar
    [isHiddenSidebar]="isHiddenSidebar"
    [events]="employeeSubject.asObservable()"
    (onSelectEmployees)="handleSelectEmployees($event)"
    (onToggleSidebar)="handleToggleSidebar()"
  ></app-declaration-sidebar>

  <div class="page-declarations__content">
    <div class="page-declarations__group-button">
      <div class="page-declarations__buttons">
        <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button nzType="default" (click)="handleAddEmployee('II_1','reductionlabor')">
          <i nz-icon nzType="arrow-down"></i>Giảm lao động
        </button>
        <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button nzType="default" (click)="handleAddEmployee('II_2','reductionlabor')">
          <i nz-icon nzType="arrow-down"></i>Giảm BHYT
        </button>
        <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button nzType="default" (click)="handleAddEmployee('II_3','reductionlabor')">
          <i nz-icon nzType="arrow-down"></i>Giảm BHTN
        </button>
        <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button nzType="default" (click)="handleAddEmployee('III','reductionlabor')">
          <i nz-icon nzType="arrow-down"></i>Giảm BHTNLĐ, BNN
        </button>
        <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button nzType="default" (click)="handleAddEmployee('I_1','reductionlabor')">
          <i nz-icon nzType="arrow-up"></i>Tăng BHYT
        </button>
      </div>
      <h1><strong>{{pageCode}} |</strong>| {{pageName}}</h1>
    </div><!-- page-declarations__group-button -->

    <div class="page-declarations__title">
      <ng-container *ngIf="hasForm">
        <app-increase-form (onFormValuesChanged)="handleFormValuesChanged($event)"></app-increase-form>
      </ng-container>
      <div *ngIf="!hasForm"></div>       
    </div><!-- page-declarations__title -->

    <div class="page-declarations__editor">
      <app-increase-editor
      tableName="reductionlabor"
      [data]="declarations.reductionlabor.table"
      [nestedHeaders]="headers.reductionlabor.nested"
      [columns]="headers.reductionlabor.columns"
      [events]="tableSubject.asObservable()"
      (onChange)="handleChangeTable($event,'reductionlabor')"
      (onDelete)="handleDeleteTableData($event,'reductionlabor')"
      (onAddRow)="handleAddRow($event,'reductionlabor')"
      (onFocus)="handleFocus($event)"
    ></app-increase-editor>
    </div><!-- page-declarations__editor -->

    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel class="collapse-attachment" [nzHeader]="attachmentHeader" [nzActive]="panel.attachment.active" (nzActiveChange)="collapseChange($event, 'attachment')">
        <app-labor-attachment></app-labor-attachment>
      </nz-collapse-panel>
    </nz-collapse>
    <ng-template #attachmentHeader>
      Tài liệu kèm theo <span class="collapse-attachment-note">(tổng dung lượng &lt; 20MB)</span>
    </ng-template>
    <ng-template #attachmentHeader>
      Tài liệu kèm theo <span class="collapse-attachment-note">(tổng dung lượng &lt; 20MB)</span>
    </ng-template>
  </div><!-- page-declarations__content -->
</div><!-- page-declarations__container -->
