<div class="page-container dashboard-page-container">
  <div class="page-card page-card--scrollable">
    <app-dashboard-search (onFormSearch)="handleFormSearch($event)"></app-dashboard-search>

    <h1>Danh sách hồ sơ giao dịch điện tử</h1>
    <div class="scrollable-container">
      <nz-table class="table" #basicTable [nzData]="declarations" [nzShowPagination]="false">
        <thead>
          <tr class="table__header">
            <th style="width: 50px" class="table__middle cell__header" nzShowCheckbox> </th>
            <th class="table__middle cell__header">Ngày gửi</th>
            <th class="table__middle cell__header">Giấy tờ đi kèm</th>
            <th class="table__middle cell__header">Lần gửi</th>
            <th class="table__middle cell__header">Trạng thái</th>
            <th class="table__middle cell__header">Kết quả xử lý HS của cơ quan BHXH</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let document of basicTable.data">
            <td nzShowCheckbox></td>
            <td class="text-center table__middle">
              <span class="table__date">{{document.sendDate}}</span>
            </td>
            <td>
              <strong class="table__title">{{document.declarationName}}</strong>
              <p class="text-p-wrap">
                {{ document.declarationFile }}
              </p>
            </td>
            <td class="text-center">{{document.sendTimes}}</td>
            <td class="text-center">{{ status[document.satus] | translate }}</td>
            <td>
              <span class="table__document-number">Số hồ sơ: {{document.documentNo}}</span>
              Tiến độ xử lý: <a class="table__label-detail">Chi tiết</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>

    <div class="ui-table-paging-custom">
      <div class="ui-table-paging-custom__statistics">* Danh sách có 3/3 hồ sơ</div>
      <div class="ui-table-paging-custom__paging">
        <span>Hiển thị</span>
        <nz-select nzSize="small">
          <nz-option *ngFor="let page of pageNumbers" [nzLabel]="page.label" [nzValue]="page.value"></nz-option>
        </nz-select>
        <span>Hồ sơ/1 trang</span>
      </div>
    </div>
  </div>

  <div class="custom-footer row">
    <div class="custom-ivan col-md-6">
      <app-dashboard-ivan></app-dashboard-ivan>
    </div>
    <div class="custom-news col-md-6">
      <app-dashboard-news></app-dashboard-news>
    </div>
  </div>
</div>
