.dashboard-page-card {
  width: 100%;
  height: 570px;
}

.table {
  &__middle {
    vertical-align: middle;
  }

  &__date {
    display: block;
    margin-bottom: 5px;
  }

  &__time {
    color: #8BA0B3;
  }

  &__title {
    font-weight: 700;
  }

  &__document-number {
    color: #3266D3;
    display: block;
    margin-bottom: 8px;
  }

  &__label-detail {
    color: #FF6C00;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
  }
}

.scrollable-container {
  height: 475px;
  width: 100%;
  overflow: auto;
}
