<div class="page-container dashboard-page-container">
  <div class="clr-row">
    <div class="clr-col-sm-4 clr-col-12">
      <div class="card">
        <div class="card-block">
          <div class="progress top">
            <progress value="..." max="100"></progress>
          </div>
          <h4 class="card-title">Card title</h4>
          <p class="card-text">...</p>
        </div>
        <div class="card-footer">
          <a href="..." class="card-link">Click</a>
        </div>
      </div>
    </div>
    <div class="clr-col-sm-4 clr-col-12">
      <div class="card">
        <div class="card-block">
          <div class="progress top">
            <progress value="..." max="100"></progress>
          </div>
          <h4 class="card-title">Card title</h4>
          <p class="card-text">...</p>
        </div>
        <div class="card-footer">
          <a href="..." class="card-link">Click</a>
        </div>
      </div>
    </div>
    <div class="clr-col-sm-4 clr-col-12">
      <div class="card">
        <div class="card-block">
          <div class="progress top">
            <progress value="..." max="100"></progress>
          </div>
          <h4 class="card-title">Card title</h4>
          <p class="card-text">...</p>
        </div>
        <div class="card-footer">
          <a href="..." class="card-link">Click</a>
        </div>
      </div>
    </div>
</div>
</div>
