<form  nz-form [formGroup]="companyForm" (ngSubmit)="handleSubmit()" class="login-page">
  <div class="page-container">    
      <div class="page-company" cardFullHeight>
        <div class="page-company__blank"></div>
        <div class="page-company__main">
          <h1>A. Thông tin đơn vị</h1> 
          <div nz-row nzGutter="8">
              <div nz-col nzMd="6">
                  <nz-form-label class="black" [nzSpan]="24">{{ 'company.from.city' | translate }} <span class="required">*</span></nz-form-label>
              </div>
              <div nz-col nzMd="6">
                <nz-form-control
                  [nzSpan]="24"
                >
                  <nz-select formControlName="cities" (ngModelChange)="changeCity($event);"  nzAllowClear nzPlaceHolder="Lựa chọn">
                    <nz-option [nzValue]="city.id" [nzLabel]="city.name" *ngFor="let city of cities"></nz-option>
                  </nz-select>
                </nz-form-control>
              </div>
              <div nz-col nzMd="6">
                  <nz-form-label class="black text-padding-left" [nzSpan]="24">{{ 'company.from.insurranceManagement' | translate }} <span class="required">*</span></nz-form-label>
              </div>
              <div nz-col nzMd="6">
                <nz-form-control
                  [nzSpan]="24"
                >
                  <nz-select formControlName="insurranceManagement" nzAllowClear nzPlaceHolder="Lựa chọn">
                    <nz-option [nzValue]="insurranceManagement.id" [nzLabel]="insurranceManagement.name" *ngFor="let insurranceManagement of isurranceDepartments"></nz-option>
                  </nz-select>
                </nz-form-control>
              </div>
          </div>

          <div nz-row nzGutter="8">
              <div nz-col nzMd="6">
                  <nz-form-label class="black" [nzSpan]="24">{{ 'company.from.companyCode' | translate }} <span class="required">*</span></nz-form-label>
              </div>
              <div nz-col nzMd="6">
                  <nz-form-control
                  [nzSpan]="24"
                >
                <input formControlName="code" class="ant-input" placeholder="Nhập dữ liệu" />
                </nz-form-control>
              </div>
              <div nz-col nzMd="6">
                  <nz-form-label class="black text-padding-left" [nzSpan]="24">{{ 'company.from.area' | translate }} <span class="required">*</span></nz-form-label>
              </div>
              <div nz-col nzMd="6">
                <nz-form-control
                  [nzSpan]="24"
                >
                  <nz-select formControlName="salaryAreas"  [(ngModel)]="salaryAreaId" nzAllowClear nzPlaceHolder="Lựa chọn">
                    <nz-option [nzValue]="salaryArea.id" [nzLabel]="salaryArea.name" *ngFor="let salaryArea of salaryAreas"></nz-option>
                  </nz-select>
                </nz-form-control>
              </div>
          </div>

          <div nz-row nzGutter="8">
              <div nz-col nzMd="6">
                  <nz-form-label class="black" [nzSpan]="24">{{ 'company.from.name' | translate }} <span class="required">*</span></nz-form-label>
              </div>
              <div nz-col nzMd="18">
                  <nz-form-control
                  [nzSpan]="24"
                >
                <input formControlName="name" class="ant-input" placeholder="Nhập dữ liệu" [(ngModel)]="name" />
                </nz-form-control>
              </div>
          </div>

          <div nz-row nzGutter="8">
              <div nz-col nzMd="6">
                  <nz-form-label class="black" [nzSpan]="24">{{ 'company.from.addressRegister' | translate }} <span class="required">*</span></nz-form-label>
              </div>
              <div nz-col nzMd="18">
                  <nz-form-control
                  [nzSpan]="24"
                >
                <input formControlName="addressRegister" class="ant-input" placeholder="Nhập dữ liệu" [(ngModel)]="addressRegister" />
                </nz-form-control>
              </div>
          </div>

          <div nz-row nzGutter="8">
              <div nz-col nzMd="6">
                  <nz-form-label class="black" [nzSpan]="24">{{ 'company.from.address' | translate }} <span class="required">*</span></nz-form-label>
              </div>
              <div nz-col nzMd="18">
                  <nz-form-control
                  [nzSpan]="24"
                >
                <input formControlName="address" class="ant-input" placeholder="Nhập dữ liệu" [(ngModel)]="address" />
                </nz-form-control>
              </div>
          </div>

          <div nz-row nzGutter="8">
              <div nz-col nzMd="6">
                  <nz-form-label class="black" [nzSpan]="24">{{ 'company.from.taxCode' | translate }} <span class="required">*</span></nz-form-label>
              </div>
              <div nz-col nzMd="6">
                  <nz-form-control
                  [nzSpan]="24"
                >
                <input formControlName="taxCode" class="ant-input" placeholder="Nhập dữ liệu" [(ngModel)]="taxCode" />
                </nz-form-control>
              </div>
              <div nz-col nzMd="6">
                  <nz-form-label class="black text-padding-left" [nzSpan]="24">{{ 'company.from.delegate' | translate }} <span class="required">*</span></nz-form-label>
              </div>
              <div nz-col nzMd="6">
                  <nz-form-control
                  [nzSpan]="24"
                >
                <input formControlName="delegate"   class="ant-input"  placeholder="Nhập dữ liệu" [(ngModel)]="delegate" />
                </nz-form-control>
              </div>
          </div>

          <div nz-row nzGutter="8">
              <div nz-col nzMd="6">
                  <nz-form-label class="black" [nzSpan]="24">{{ 'company.from.traders' | translate }} <span class="required">*</span></nz-form-label>
              </div>
              <div nz-col nzMd="6">
                  <nz-form-control
                  [nzSpan]="24"
                >
                <input formControlName="traders" class="ant-input" placeholder="Nhập dữ liệu" [(ngModel)]="traders" />
                </nz-form-control>
              </div>
              <div nz-col nzMd="6">
                  <nz-form-label class="black text-padding-left" [nzSpan]="24">{{ 'company.from.mobile' | translate }} <span class="required">*</span></nz-form-label>
              </div>
              <div nz-col nzMd="6">
                  <nz-form-control
                  [nzSpan]="24"
                >
                <input formControlName="mobile" class="ant-input"  placeholder="Nhập dữ liệu" [(ngModel)]="mobile" />
                </nz-form-control>
              </div>
          </div>

          <div nz-row nzGutter="8">
              <div nz-col nzMd="6">
                  <nz-form-label class="black" [nzSpan]="24">{{ 'company.from.emailContract' | translate }} <span class="required">*</span></nz-form-label>
              </div>
              <div nz-col nzMd="18">
                  <nz-form-control
                  [nzSpan]="24"
                >
                <input formControlName="emailOfContract" class="ant-input" placeholder="Nhập dữ liệu" [(ngModel)]="emailOfContract" />
                </nz-form-control>
              </div>
          </div>

          <div nz-row nzGutter="8">
              <div nz-col nzMd="6">
                  <nz-form-label class="black" [nzSpan]="24">{{ 'company.from.methodPay' | translate }} <span class="required">*</span></nz-form-label>
              </div>
              <div nz-col nzMd="6">
                  <nz-form-control
                  [nzSpan]="24"
                >
                  <nz-select formControlName="paymentMethodId" nzAllowClear  [(ngModel)]="paymentMethodId" nzPlaceHolder="Lựa chọn">
                    <nz-option [nzValue]="paymentMethod.id" [nzLabel]="paymentMethod.name" *ngFor="let paymentMethod of paymentMethods"></nz-option>
                  </nz-select>
                </nz-form-control>
              </div>
              <div nz-col nzMd="5">
                  <nz-form-label class="black text-padding-left" [nzSpan]="24">{{ 'company.from.responseResults' | translate }} <span class="required">*</span></nz-form-label>
              </div>
              <div nz-col nzMd="7">
                  <nz-form-control
                  [nzSpan]="24"
                >
                  <nz-radio-group formControlName="responseResults">
                    <label nz-radio nzValue="1">Nhận tại CQBH</label>
                    <label nz-radio nzValue="2">Nhận qua BĐ</label>
                  </nz-radio-group>
                </nz-form-control>
              </div>
          </div>

          <div nz-row nzGutter="8">
              <div nz-col nzMd="24">
                  <nz-form-label class="black" [nzSpan]="24">Đơn vị cam kết hoàn toàn chịu trách nhiệm trước pháp luật về tính chính xác, trung thực của nội dung trên.</nz-form-label>
              </div>
          </div>

        <h1>B. Cấu hình kê khai {{ companyForm.get('groupCompanyCode').value || 'note'}}</h1>
        
        <div nz-row nzGutter="8">
            <div nz-col nzMd="6">
                <nz-form-label class="black" [nzSpan]="24">{{ 'company.from.group' | translate }} <span class="required">*</span></nz-form-label>
            </div>
            <div nz-col nzMd="18">
                <nz-form-control
                  [nzSpan]="24"
                >
                  <nz-select formControlName="groupCompanyCode" nzAllowClear  nzPlaceHolder="Lựa chọn">
                    <nz-option [nzValue]="groupCompany.code" [nzLabel]="groupCompany.name" *ngFor="let groupCompany of groupCompanies"></nz-option>
                  </nz-select>
                </nz-form-control>
            </div>
        </div>

        <div nz-row nzGutter="8">
            <div nz-col nzMd="6">
                <nz-form-label class="black" [nzSpan]="24">{{ 'company.from.submission' | translate }} <span class="required">*</span></nz-form-label>
            </div>
            <div nz-col nzMd="18">
                <nz-form-control
                  [nzSpan]="24"
                >
                  <nz-radio-group formControlName="submissionType" [(ngModel)]="submissionType">
                    <label nz-radio nzValue="0">Ký và nộp luôn</label>
                    <label nz-radio nzValue="1">Phải trình ký</label>
                  </nz-radio-group>
                </nz-form-control>
            </div>
        </div>

        <div nz-row nzGutter="8" *ngIf="(companyForm.get('groupCompanyCode').value === '02' || companyForm.get('groupCompanyCode').value === '04' || companyForm.get('groupCompanyCode').value === '05')">
            <div nz-col nzMd="6">
                <nz-form-label class="black" [nzSpan]="24">{{ 'company.from.district' | translate }} <span class="required">*</span></nz-form-label>
            </div>
            <div nz-col nzMd="6">
              <nz-form-control
                [nzSpan]="24"
              >
                <nz-select formControlName="districts" (ngModelChange)="changeDistrict($event);" nzAllowClear nzPlaceHolder="Lựa chọn">
                  <nz-option [nzValue]="district.id" [nzLabel]="district.name" *ngFor="let district of districts"></nz-option>
                </nz-select>
              </nz-form-control>
            </div>
            <div nz-col nzMd="6" *ngIf="(companyForm.get('groupCompanyCode').value === '02' || companyForm.get('groupCompanyCode').value === '05')">
                <nz-form-label class="black text-padding-left" [nzSpan]="24">{{ 'company.from.wards' | translate }} <span class="required">*</span></nz-form-label>
            </div>
            <div nz-col nzMd="6" *ngIf="(companyForm.get('groupCompanyCode').value === '02' || companyForm.get('groupCompanyCode').value === '05')">
              <nz-form-control
                [nzSpan]="24"
              >
                <nz-select formControlName="wards" nzAllowClear nzPlaceHolder="Lựa chọn">
                  <nz-option [nzValue]="ward.id" [nzLabel]="ward.name" *ngFor="let ward of wards"></nz-option>
                </nz-select>
              </nz-form-control>
            </div>
        </div>

        <div nz-row nzGutter="8" *ngIf="(companyForm.get('groupCompanyCode').value == '03')">
            <div nz-col nzMd="6">
                <nz-form-label class="black" [nzSpan]="24">{{ 'company.from.object' | translate }} <span class="required">*</span></nz-form-label>
            </div>
            <div nz-col nzMd="18">
                <nz-form-control
                  [nzSpan]="24"
                >
                  <nz-radio-group formControlName="object" [(ngModel)]="object">
                    <label nz-radio nzValue="A">{{ 'company.from.studentLevelOne' | translate }}</label>
                    <label nz-radio nzValue="B">{{ 'company.from.studentLevelTwo' | translate }}</label>
                  </nz-radio-group>
                </nz-form-control>
            </div>
        </div>

        <div nz-row nzGutter="8" *ngIf="(companyForm.get('groupCompanyCode').value == '01')">
            <div nz-col nzMd="24">
                <nz-form-label class="black" [nzSpan]="24">Danh sách phòng ban</nz-form-label>
            </div>
            <div nz-col nzMd="24">
                <div class="page-declarations__editor">
                    <app-table-editor
                      [headers]="tableHeader"
                      [columns]="tableColumnType"
                      [columnWidths]="tableColumnWidth"
                      [data]="department"
                    ></app-table-editor>
                  </div><!-- page-declarations__editor -->
            </div>
        </div>
        </div>
      </div>
  </div>
</form>