.page-container {
    height: 100%;
  }
  
  .page-card {
    height: 100%;
  }
  .contents {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
  }
  .form-group-header {
    display: grid;
    grid-template-columns: 25% 1fr 29%;
    grid-gap: 50px;
    width: 100%;
    padding-bottom: 40px;

    &__caption {
      text-align: center;
      font-weight: bold;
      line-height: 20px;
    }
  }

  .form-group-infomation {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-gap: 1%;
    width: 100%;
    padding-bottom: 5px;
    
    &__label {
      display: block;
      text-align: left;
      
    }

    &__label_right {
      display: block;
      text-align: right;
    }
  }

  .form-group-contact {
    display: grid;
    grid-template-columns: 25% 25% 22% 25%;
    grid-gap: 1%;
    width: 100%;
    padding-bottom: 5px;
  } 
  .text-padding-left {
    text-indent: 40px;
  }
  .input-label {
    color: #000 !important;
  }