<div class="regiter-ivan-guide">
  <div class="regiter-ivan-guide__header">
    <h1 class="text-center">HƯỚNG DẪN ĐĂNG KÝ THÀNH CÔNG</h1>
  </div>

  <div class="regiter-ivan-guide__content">
    <pre>
            1. Chúng tôi sẽ liên hệ lại đơn vị để xác nhận thông tin lập hợp đồng, hóa đơn
            2. Phần mềm tự động cung cấp tài khoản để sử dụng miễn phí trong 30 ngày
                Hết thời hạn miễn phí, đơn vị ký hợp đồng và thanh toán để nhận Mã kích hoạt theo gói dịch vụ đã đặt mua
            3. Tài khoản nhận thanh toán của bên B:
                Công ty TNHH Hóa đơn điện tử M-invoice, số tài khoản, tại ngân hàng
            4. Nội dung thanh toán ghi rõ: Thanh toán dịch vụ I-VAN, [Mã đơn vị]. [BHXH quận/huyện - tỉnh/thành]
            5. Đơn vị nhập Mã kích hoạt (được gửi qua Email) vào phần mềm để chính thức sử dụng dịch vụ đã đăng ký.
        </pre>
  </div>
</div>
