<div class="hospital-register">
  <form nz-form [formGroup]="form" [nzNoColon]="true" class="hospital-register-form">
    <nz-form-item>
      <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="8">Tỉnh/Thành phố</nz-form-label>
      <nz-form-control [nzSpan]="16" nzErrorTip="Tỉnh/Thành phố không để trống">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn" formControlName="cityCode">
          <nz-option *ngFor="let city of cities" [nzLabel]="city.name" [nzValue]="city.id"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="8">Mã bệnh viện</nz-form-label>
      <nz-form-control [nzSpan]="16" nzErrorTip="Mã bệnh viện không để trống">
        <input nz-input
          placeholder="Mã bệnh viện"
          formControlName="id"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="8">Tên bệnh viện</nz-form-label>
      <nz-form-control [nzSpan]="16" nzErrorTip="Tên bệnh viện không để trống">
        <input nz-input
          placeholder="Tên bệnh viện"
          formControlName="name"
        />
      </nz-form-control>
    </nz-form-item>
    <div class="hospital-register__group-button" *nzModalFooter>
      <button nz-button nzType="primary" (click)="save($event)">Thêm</button>
      <button nz-button nzType="default" (click)="dismiss($event)">Hủy</button>
    </div>
  </form>
</div>
