<div class="page-card-custom">
    <form  nz-form [formGroup]="formSearch" (ngSubmit)="handleSearchBox()">
      <div class="page-title ">
          <h1>{{'system.products.info.title' | translate}}</h1>
          <div class="page-declarations__footer">
              <button class="element-form_button-search" nz-button nzType="default">
                <i nz-icon nzType="search"></i>{{ 'common.btnSearch' | translate }}
              </button>
              <button class="element-form_button-add" nz-button nzType="default" [routerLink]="['/products/add']">
                <i nz-icon nzType="user-add" nzTheme="outline"></i>{{ 'common.btnCreate' | translate }}
              </button>
          </div>
      </div>
        <div class="page-search">
          <div nz-row nzGutter="30">
              <div nz-col nzMd="8">
                <nz-form-item>
                  <nz-form-label>{{ 'system.products.info.keyWords' | translate }}</nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input formControlName="keyword">
                  </nz-form-control>
                </nz-form-item >
              </div>
              <div nz-col nzMd="4">
                <nz-form-item>
                  <nz-form-label>{{ 'system.products.info.dateFrom' | translate }}</nz-form-label>
                  <nz-form-control>
                     <input nz-input
                        placeholder="Từ ngày"
                        formControlName="dateFrom"
                        mask="00/00/0000"
                        [showMaskTyped]="true"
                        [validation]="true"
                        [clearIfNotMatch]="true"
                      />
                  </nz-form-control>
                </nz-form-item >
              </div>
              <div nz-col nzMd="4">
                <nz-form-item>
                  <nz-form-label>{{ 'system.products.info.dateTo' | translate }}</nz-form-label>
                  <nz-form-control>
                      <input nz-input
                         placeholder="Đến ngày"
                         formControlName="dateTo"
                         mask="00/00/0000"
                         [showMaskTyped]="true"
                         [validation]="true"
                         [clearIfNotMatch]="true"
                       />
                   </nz-form-control>
                </nz-form-item >
              </div>
    
          </div>
        </div>
      </form>
    
        <nz-table
          nzBordered 
          #ajaxTable
          nzShowSizeChanger
          [nzFrontPagination]="false"
          [nzData]="products"
          [nzLoading]="loading"
          [nzPageSize]="products.length"
          [nzShowPagination]="false"
          [nzLoading]="loading"
          [nzTotal]="total"
          class="table-editor"
        >
          <thead (nzSortChange)="sort($event)" nzSortFn>
            <tr class="ui-table-custom-header">
              <th class="cell-custom" style="width: 50px;">{{'system.products.table.stt' | translate}}</th>
              <th class="cell-custom" nzShowSort  nzColumnKey="name">{{'system.products.table.productName' | translate}}</th>
              <th class="cell-custom" nzShowSort  nzColumnKey="tax"><span>{{'system.products.table.unitCode' | translate}}</span></th>
              <th class="cell-custom" nzShowSort  nzColumnKey="delegate"><span>{{'system.products.table.useTime' | translate}}</span></th>
              <th class="cell-custom" nzShowSort  nzColumnKey="delegate"><span>{{'system.products.table.productPrice' | translate}}</span></th>
              <th class="cell-custom" style="width: 140px;" nzShowSort nzColumnKey="active"><span>{{'system.products.table.status' | translate}}</span></th>
              <th class="cell-custom" style="width: 120px;"><span>{{'system.products.table.action' | translate}}</span></th>
            </tr>

            <tr class="ui-table-custom-filter">
              <td class="cell-custom"></td>
              <td class="cell-custom"><input class="input-filter" nz-input placeholder="Tìm kiếm..." nzSize="small" [(ngModel)]="filter.productName" (ngModelChange)="handleFilter('productName')" /></td>
              <td class="cell-custom"><input class="input-filter"  nz-input placeholder="Tìm kiếm..." nzSize="small" [(ngModel)]="filter.unitCode" (ngModelChange)="handleFilter('unitCode')" /></td>
              <td class="cell-custom"><input class="input-filter" nz-input placeholder="Tìm kiếm..." nzSize="small" [(ngModel)]="filter.useTime" (ngModelChange)="handleFilter('useTime')" /></td>
              <td class="cell-custom"><input class="input-filter" nz-input placeholder="Tìm kiếm..." nzSize="small" [(ngModel)]="filter.productPrice" (ngModelChange)="handleFilter('productPrice')" /></td>
              <td class="cell-custom"><input class="input-filter" nz-input placeholder="Tìm kiếm..." nzSize="small" [(ngModel)]="filter.status" (ngModelChange)="handleFilter('status')" /></td>
              <td class="cell-custom"></td>
            </tr>
          </thead>
          <tbody>
          

            <tr *ngFor="let data of ajaxTable.data;index as i">
              <td>{{i + 1}}</td>
              <td>{{ data.productName }}</td>
              <td>{{ data.unitCode }}</td>
              <td>{{ data.useTime }}</td>
              <td>{{ data.productPrice }}</td>
              <td>{{ status[(data.active ? 1 : 0)] | translate }}</td>
              <td>
                <ng-container>
                    <a [routerLink]="['/products/' + data.id + '/edit']" class="action-padding">
                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                    </a>    
                </ng-container>
                <app-button-delete [id]="data.id" (delete)="delete($event)"></app-button-delete>
              </td>
            </tr>
          </tbody>
        </nz-table>
        <app-pagination [total]="total" [selected]="selectedPage" (onPageChange)="pageChange($event)"></app-pagination>
    </div>
    
    