/* Main Colors */
$primary-color: #2254BF;
$secondary-color: #f4f4f4;
$default-color: #ffffff;
$default-primary-color: #cccccc;
$default-secondary-color: #dddddd;

/* Brand Colors */
$senior-x-primary-color: #ffaf00;
$senior-x-secondary-color: #ff8200;
$senior-color: #008267;

/* Feedback Colors */
$success-color: #0c9348;
$info-color: #428bca;
$error-color: #c13018;
$danger-color: #f8931f;
$warning-color: #fcbf10;

/* Text Colors */
$primary-dark-text-color: #333333;
$secondary-dark-text-color: #999999;
$primary-light-text-color: #ffffff;

/* Chart Colors */
$chart-colors: #ade500, #67acbc, #008080, #063951, #400753, #50201f, #eb5b5c, #f5a319;

/* Utility */
@function highlight($color) {
    @return lighten($color, 10%);
}

@function active($color) {
    @return darken($color, 10%);
}

@mixin disabled() {
    opacity: 0.5;
    filter: Alpha(Opacity=50);
    background-image: none;

    &,
    & * {
        cursor: text !important;
    }
}

$input-border-color: $default-primary-color;
$input-hover-border-color: $default-primary-color;
$input-focus-border-color: $primary-color;
$input-focus-hover-border-color: highlight($primary-color);
$input-error-border-color: $error-color;
$input-error-hover-border-color: highlight($error-color);
