// Px's são usados para grid breakpoints porque o width do viewport não muda com a font-size.
$sm-devices: "(max-width: 767px)";
$md-devices: "(min-width: 768px)"; 
$lg-devices: "(min-width: 992px)"; 
$xl-devices: "(min-width: 1200px)";