@charset "UTF-8";
@import "./_queries";
@import "./_colors";

* {
    margin: 0;
    padding: 0;

    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body.ui-overflow-hidden {
    position: absolute;
    width: 100%;
}

body .ui-widget,
body .ui-widget .ui-widget,
body .ui-widget input,
body .ui-widget select,
body .ui-widget textarea,
body .ui-widget button {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 14px;
}

body .ui-widget-content {
    background-color: $default-color;
}

body .ui-state-active,
body .ui-state-highlight {
    background-color: $primary-color;
    color: $primary-light-text-color;
}

body .ui-state-error,
body .ui-state-default.ui-state-error {
    border-bottom-color: $error-color;
}

body .ui-icon {
    width: 16px;
    height: 16px;
    line-height: 1;
}

body .ui-state-disabled,
body .ui-widget:disabled {
    @include disabled();
}

body .ui-corner-all {
    border-radius: 4px;
}

body .ui-corner-top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

body .ui-corner-bottom {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

body .ui-corner-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

body .ui-corner-right {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

body .ui-widget-overlay {
    background-color: #333333;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

body .ui-inputtext {
    background: $primary-light-text-color;
    padding: 5px 10px;
    border: 1px solid $default-primary-color;
    border-radius: 4px;
    font-size: 14px;
    color: $primary-dark-text-color;
    line-height: 1.25;
    min-height: 34px;
}

body .ui-inputtext.ui-state-focus,
body .ui-inputtext:focus {
    transition: background-color 200ms ease-out, color 200ms ease-out, border-color 200ms ease-out;
    border: 1px solid $primary-color;

    &:hover {
        border-color: highlight($primary-color);
    }
}

body .ui-fileupload {
    border: 1px solid $default-secondary-color;
}

body .ui-fileupload-choose:not(.ui-state-disabled):hover,
body .ui-fileupload-choose.ui-state-focus {
    outline: 0 none;
    background-color: highlight($primary-color);
}

body .ui-fileupload-choose:not(.ui-state-disabled):active {
    background-color: active($primary-color);
}

body .ui-togglebutton.ui-button.ui-state-focus {
    box-shadow: 0px 0px 5px highlight($primary-color);
}

body .ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active):hover {
    background-color: highlight($primary-color);
}

body .ui-togglebutton:not(.ui-state-disabled).ui-state-active {
    background-color: active($primary-color);
}

body .ui-chips .ui-chips-token .ui-chips-token-label {
    padding: 0;
    font-size: 12px !important;
}

body .ui-chips .ui-chips-input-token input:focus {
    border: none;
}

body .ui-chips > ul.ui-inputtext,
body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container {
    padding: 5px 10px;
}

body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-input-token input:focus {
    border: none;
}

body .ui-listbox {
    padding: 0;
    width: 200px;
}

body .ui-listbox .ui-listbox-item {
    margin: 0;
    padding: 5px 10px;
    border-radius: 0;
}

body .ui-listbox .ui-listbox-item:last-child {
    border-bottom: none;
}

body .ui-listbox:not(.ui-state-disabled) .ui-listbox-item:hover {
    background-color: highlight($default-primary-color);
    color: $primary-dark-text-color;
}

body .ui-listbox .ui-listbox-item.ui-state-highlight {
    background-color: transparent;
    color: $primary-dark-text-color;
}

body .ui-listbox .ui-listbox-item.ui-state-highlight .ui-chkbox {
    border: none;
}

body .ui-listbox.ui-state-disabled .ui-chkbox-box:not(.ui-state-active):hover {
    border: 1px solid highlight($default-primary-color);
}

body .ui-listbox .ui-listbox-item > td {
    padding: 5px 10px;
}

body .ui-listbox .ui-listbox-header {
    padding: 5px 10px;
    border-top: 0 none;
    border-right: 0 none;
    border-left: 0 none;
    border-radius: 0;
}

body .ui-listbox .ui-listbox-header .ui-listbox-filter-container {
    width: 80%;
}

body .ui-multiselectlistbox {
    padding: 0;
}

body .ui-multiselectlistbox .ui-multiselectlistbox-header {
    padding: 5px 10px;
}

body .ui-multiselectlistbox .ui-multiselectlistbox-item {
    margin: 0;
    padding: 5px 10px;
    border-radius: 0;
}

body .ui-multiselectlistbox .ui-multiselectlistbox-item:not(.ui-state-highlight):hover {
    background-color: $default-color;
    color: $primary-dark-text-color;
}

body .ui-multiselectlistbox .ui-multiselectlistbox-item.ui-state-highlight {
    background-color: active($primary-color);
    color: $primary-light-text-color;
}

body .ui-rating .ui-rating-cancel {
    display: inline-block;
}

body .ui-rating .ui-rating-cancel a {
    background: none !important;
    display: inline-block;
    font: normal normal 900 1rem/1 "Font Awesome 5 Pro";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    display: block;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    color: #e42a7b;
}

body .ui-rating .ui-rating-cancel a:before {
    content: "";
}

body .ui-rating .ui-rating-cancel a:hover {
    color: #e74189;
}

body .ui-rating .ui-rating-star {
    display: inline-block;
}

body .ui-rating .ui-rating-star a {
    background: none !important;
    display: inline-block;
    font: normal normal 900 1rem/1 "Font Awesome 5 Pro";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    display: block;
    color: #373a3c;
}

body .ui-rating .ui-rating-star a:before {
    content: "";
}

body .ui-rating .ui-rating-star a:hover {
    color: #0275d8;
}

body .ui-rating .ui-rating-star-on a {
    color: #0275d8;
    background: none !important;
    display: inline-block;
    font: normal normal 900 1rem/1 "Font Awesome 5 Pro";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    display: block;
}

body .ui-rating .ui-rating-star-on a:before {
    content: "";
}

body .ui-slider {
    background-color: #ccc;
    border-color: #ccc;
}

body .ui-slider.ui-slider-horizontal .ui-slider-handle {
    top: -0.6em;
}

body .ui-slider.ui-slider-vertical .ui-slider-handle {
    left: -0.6em;
}

body .ui-slider .ui-slider-handle {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    transition: background-color 0.3s;
    border-radius: 100%;
}

body .ui-slider.ui-slider-animate .ui-slider-handle {
    transition: background-color 0.3s, left 0.3s;
}

body .ui-slider .ui-slider-handle:hover {
    background-color: #e5eaea;
}

body .ui-slider .ui-slider-range {
    background: #248bca;
}

body .ui-buttonset .ui-button {
    background-color: #e5eaea;
    color: $primary-dark-text-color;
    border: 1px solid transparent;
    border-radius: 0px;
}

body .ui-buttonset .ui-button:hover {
    background-color: #ccc;
}

body .ui-buttonset .ui-button:focus {
    background-color: #e5eaea;
    color: $primary-dark-text-color;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #428bca;
}

body .ui-buttonset .ui-button:active {
    background-color: #428bca;
    color: $primary-light-text-color;
}

body .ui-buttonset .ui-button:active:focus {
    background-color: #428bca;
    color: $primary-light-text-color;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

body .ui-buttonset .ui-button:first-child {
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}

body .ui-buttonset .ui-button:last-child {
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

body .ui-organizationchart .ui-organizationchart-line-down {
    background-color: $default-primary-color;
}

body .ui-organizationchart .ui-organizationchart-line-left {
    border-right: 1px solid $default-primary-color;
}

body .ui-organizationchart .ui-organizationchart-line-top {
    border-top: 1px solid $default-primary-color;
}

body .ui-organizationchart .ui-organizationchart-node-content {
    border-color: $default-primary-color;
}

body .ui-organizationchart .ui-organizationchart-node-content .ui-node-toggler {
    color: $default-primary-color;
}

body .ui-trigger-calendar .ui-datepicker-trigger.ui-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

body .ui-inplace .ui-inplace-display {
    padding: 0.5em 0.75em;
    border-radius: 4px;
}

body .ui-inplace .ui-inplace-display:hover {
    background-color: #fff;
}

body .ui-fileupload .ui-fileupload-buttonbar {
    padding: 0.75em 1.25em;
    background-color: #f5f5f5;
    border-bottom: 0 none;
}

body .ui-fileupload .ui-fileupload-content {
    padding: 1.25em;
}

body .ui-panel .ui-panel-titlebar,
body .ui-dialog .ui-dialog-titlebar .ui-dialog-title,
body .ui-sidebar h1 {
    border: 0 none;
    border-radius: 0;
    background-color: #fff;
    color: $primary-dark-text-color;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0;
}

body .ui-notificationbar {
    background-color: #248bca;
    color: $primary-light-text-color;
}

body .ui-scrollpanel .ui-scrollpanel-drag {
    background-color: #e3e3e3;
}

body .ui-scrollpanel .ui-scrollpanel-track {
    background-color: #f7f7f7;
    border: 0 none;
}

body .ui-scrollpanel .ui-scrollpanel-corner {
    background-color: #f7f7f7;
}

body .ui-toolbar {
    padding: 5px 10px;
}

body .ui-toolbar .fa-ellipsis-v {
    color: #aaaaaa;
    margin: 0 0.5em;
}

@media #{$sm-devices} {
    body .ui-panelgrid .ui-grid-responsive .ui-grid-row {
        border: 0 none;
    }
}

body .ui-dataview-content {
    border: 1px solid $default-secondary-color;
}

body .ui-datalist .ui-datalist-header {
    padding: 0.75em 1.25em;
    background-color: #fff;
}

body .ui-datalist .ui-paginator {
    padding: 0;
}

body .ui-datascroller {
    border: 1px solid $default-secondary-color;
}

body .ui-datascroller .ui-datascroller-header {
    padding: 0.75em 1.25em;
    background-color: #f5f5f5;
}

body .ui-orderlist .ui-orderlist-list-container {
    border: 1px solid $default-secondary-color;
}

body .ui-orderlist .ui-orderlist-list,
body .ui-orderlist .ui-orderlist-filter-container {
    border-top: 1px solid $default-secondary-color;
}

body .ui-orderlist .ui-orderlist-controls button {
    font-size: 16px;
    margin-left: 0;
}

body .ui-orderlist .ui-orderlist-caption {
    padding: 12px 20px;
    background-color: #fff;
    box-sizing: border-box;
    width: 200px;
}

body .ui-orderlist .ui-orderlist-list {
    box-sizing: border-box;
}

body .ui-orderlist .ui-orderlist-list .ui-orderlist-item {
    padding: 5px 10px;
    margin: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

body .ui-orderlist .ui-orderlist-list .ui-orderlist-item:last-child {
    border-bottom: none;
}

body .ui-orderlist .ui-orderlist-list .ui-orderlist-item:not(.ui-state-highlight):hover {
    background-color: #fff;
    color: $primary-dark-text-color;
}

body .ui-orderlist .ui-orderlist-list .ui-orderlist-item.ui-state-highlight {
    background-color: #248bca;
    color: $primary-light-text-color;
}

body .ui-orderlist.ui-grid-responsive .ui-grid-row .ui-orderlist-controls {
    margin-right: 0;
    padding-right: 5px;
}

body .ui-carousel {
    padding: 0;
    border: 1px solid $default-secondary-color;
}

body .ui-carousel .ui-carousel-header {
    margin: 0;
    border: 0 none;
    border-bottom: 1px solid #e6e6e6;
    padding: 0.75em 1.25em;
    background-color: #f5f5f5;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

body .ui-carousel .ui-carousel-header .ui-carousel-header-title {
    padding: 0;
}

body .ui-carousel .ui-carousel-footer {
    border: 0 none;
    border-top: 1px solid #e6e6e6;
    margin: 0;
    border-radius: 0;
    padding: 12px 20px;
    background-color: #fff;
}

body .ui-carousel .ui-carousel-button {
    margin-top: 5px;
    transition: color 0.3s;
    color: $primary-dark-text-color;
}

body .ui-carousel .ui-carousel-button:hover {
    color: #999;
}

body .ui-carousel .ui-carousel-button.ui-state-disabled:hover {
    color: #697882;
}

body .ui-carousel .ui-carousel-page-links {
    margin-top: 5px;
}

body .ui-carousel .ui-carousel-page-links .ui-carousel-page-link {
    color: $primary-dark-text-color;
}

body .ui-carousel .ui-carousel-page-links .ui-carousel-page-link.ui-icon-radio-on {
    color: $primary-color;
    background-color: #999;
}

body .ui-tree {
    box-sizing: border-box;
    border: 1px solid $default-secondary-color;
}

body .ui-tree .ui-treenode .ui-treenode-content .ui-tree-toggler {
    font-size: 18px;
    vertical-align: middle;
    display: inline-block;
    color: #999;
    margin-top: 3px;
}

body .ui-tree .ui-treenode .ui-treenode-content .ui-treenode-icon {
    vertical-align: middle;
    display: inline-block;
    margin: 3px 0.6px 0 0;
    font-size: 1.1em;
    color: #999;
}

body .ui-tree .ui-treenode .ui-treenode-content .ui-treenode-label {
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    padding: 0.286em;
}

body .ui-tree.ui-tree-selectable .ui-treenode .ui-treenode-content .ui-treenode-label:not(.ui-state-highlight):hover {
    background-color: #fff;
    color: $primary-dark-text-color;
}

body .ui-tree .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight {
    background-color: #248bca;
    color: $primary-light-text-color;
}

body .ui-tree .ui-tree-droppoint:hover {
    background-color: #248bca;
}

body .ui-tree.ui-tree-horizontal .ui-treenode-content {
    background-color: #fff;
    border: 1px solid #ccc;
}

body .ui-tree.ui-tree-horizontal .ui-treenode-content.ui-treenode-selectable .ui-treenode-label:not(.ui-state-highlight):hover {
    background-color: inherit;
    color: inherit;
}

body .ui-tree.ui-tree-horizontal .ui-treenode-content.ui-treenode-selectable:not(.ui-state-highlight):hover {
    background-color: #fff;
    color: $primary-dark-text-color;
}

body .ui-tree.ui-tree-horizontal .ui-treenode-content.ui-state-highlight {
    background-color: #248bca;
    color: $primary-light-text-color;
}

body .ui-tree.ui-tree-horizontal .ui-treenode-content.ui-state-highlight .ui-tree-toggler,
body .ui-tree.ui-tree-horizontal .ui-treenode-content.ui-state-highlight .ui-treenode-icon {
    color: $primary-light-text-color;
}

body .ui-tree.ui-tree-horizontal .ui-treenode-content .ui-chkbox .ui-icon {
    color: #248bca;
}

body .ui-tree-draghelper {
    border: 1px solid #248bca;
}

body .fc .fc-event {
    background-color: #357ebd;
    border-color: #357ebd;
}

body .fc .fc-slats td {
    background-color: #fff;
}

body .fc .fc-toolbar .fc-prev-button span {
    line-height: inherit;
    background: none !important;
    display: inline-block;
    font: normal normal 900 1rem/1 "Font Awesome 5 Pro";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
}

body .fc .fc-toolbar .fc-prev-button span:before {
    content: "";
}

body .fc .fc-toolbar .fc-prev-button .ui-icon {
    position: relative;
    top: 3px;
}

body .fc .fc-toolbar .fc-next-button span {
    line-height: inherit;
    background: none !important;
    display: inline-block;
    font: normal normal 900 1rem/1 "Font Awesome 5 Pro";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
}

body .fc .fc-toolbar .fc-next-button span:before {
    content: "";
}

body .fc .fc-toolbar .fc-next-button .ui-icon {
    position: relative;
    top: 3px;
}

body .ui-overlaypanel {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

body .ui-overlaypanel .ui-overlaypanel-close {
    background-color: #fff;
    color: $primary-dark-text-color;
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 15px;
    transition: color 0.3s;
}

body .ui-overlaypanel .ui-overlaypanel-close:hover {
    color: #357ebd;
}

body .ui-overlaypanel .ui-overlaypanel-close span {
    margin-left: 1px;
}

body .ui-lightbox {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

body .ui-lightbox .ui-lightbox-caption {
    padding: 5px 10px;
}

body .ui-lightbox .ui-lightbox-caption .ui-lightbox-caption-text {
    color: $primary-dark-text-color;
    margin: 0;
}

body .ui-lightbox .ui-lightbox-caption .ui-lightbox-close {
    padding: 0;
    color: $primary-dark-text-color;
    transition: color 0.3s;
}

body .ui-lightbox .ui-lightbox-caption .ui-lightbox-close:hover {
    color: #357ebd;
}

body .ui-lightbox .ui-lightbox-content-wrapper {
    overflow: hidden;
}

body .ui-lightbox .ui-lightbox-content-wrapper .ui-lightbox-nav-left {
    background: none !important;
    display: inline-block;
    font: normal normal 900 1rem/1 "Font Awesome 5 Pro";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0 !important;
    text-align: center;
    transition: all 0.3s;
    font-size: 24px;
    margin-left: 4px;
}

body .ui-lightbox .ui-lightbox-content-wrapper .ui-lightbox-nav-left:before {
    content: "";
}

body .ui-lightbox .ui-lightbox-content-wrapper .ui-lightbox-nav-left:hover {
    transform: scale(1.2);
}

body .ui-lightbox .ui-lightbox-content-wrapper .ui-lightbox-nav-left span {
    display: none;
}

body .ui-lightbox .ui-lightbox-content-wrapper .ui-lightbox-nav-right {
    background: none !important;
    display: inline-block;
    font: normal normal 900 1rem/1 "Font Awesome 5 Pro";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    transition: all 0.3s;
    font-size: 1.5em;
    margin-right: 0.25em;
}

body .ui-lightbox .ui-lightbox-content-wrapper .ui-lightbox-nav-right:before {
    content: "";
}

body .ui-lightbox .ui-lightbox-content-wrapper .ui-lightbox-nav-right:hover {
    transform: scale(1.2);
}

body .ui-lightbox .ui-lightbox-content-wrapper .ui-lightbox-nav-right span {
    display: none;
}

body .ui-lightbox .ui-lightbox-content-wrapper .ui-lightbox-content.ui-lightbox-loading + a {
    display: none;
}

body .ui-menu {
    padding: 0;
    border: 1px solid $default-secondary-color;
}

body .ui-menu.ui-shadow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

body .ui-menu .ui-menu-parent .ui-submenu-icon {
    margin-top: 3px;
}

body .ui-menu .ui-menu-list .ui-widget-header {
    width: 100%;
    box-sizing: border-box;
    border: 0 none;
    background: #e5eaea;
    border-radius: 0;
}

body .ui-menu .ui-menu-list .ui-widget-header h3 {
    padding: 5px 10px;
    font-weight: 400;
}

body .ui-menu .ui-menu-list .ui-widget-header .ui-icon {
    color: #999;
}

body .ui-menu .ui-menu-list .ui-widget-header:hover {
    background-color: #e5eaea;
}

body .ui-menu .ui-menu-list .ui-widget-header:hover .ui-icon {
    color: $primary-dark-text-color;
}

body .ui-menu .ui-menu-list .ui-widget-header:first-child {
    margin-top: 0;
}

body .ui-menu .ui-menu-list .ui-menuitem {
    margin: 0;
    box-sizing: border-box;
    border-radius: 0;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link {
    padding: 8px 12px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    color: $primary-dark-text-color;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link:hover,
body .ui-menu .ui-menu-list .ui-menuitem.ui-menuitem-active > .ui-menuitem-link {
    background-color: #357ebd;
    color: $primary-light-text-color;
}

body .ui-menu .ui-menu-list .ui-menu-child {
    padding: 0;
}

body .ui-menu .ui-menu-list .ui-menu-child.ui-shadow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

body .ui-menubar {
    border: 1px solid $default-secondary-color;
}

body .ui-menu.ui-menubar {
    background-color: #fff;
    border-color: #e5eaea;
}

body .ui-menu.ui-menubar > .ui-menu-list > .ui-menuitem {
    width: auto;
}

body .ui-menu.ui-menubar > .ui-menu-list > .ui-menuitem > .ui-menuitem-link {
    color: $primary-dark-text-color;
}

body .ui-menu.ui-menubar > .ui-menu-list > .ui-menuitem > .ui-menuitem-link .ui-menuitem-icon {
    color: #999;
}

body .ui-menu.ui-menubar > .ui-menu-list > .ui-menuitem > .ui-menuitem-link:hover {
    color: $primary-light-text-color;
}

body .ui-menu.ui-menubar > .ui-menu-list > .ui-menuitem > .ui-menuitem-link:hover .ui-menuitem-icon {
    color: $primary-light-text-color;
}

body .ui-menu.ui-menubar > .ui-menu-list > .ui-menuitem.ui-menubar-options {
    margin-right: 8px;
}

body .ui-megamenu {
    border: 1px solid $default-secondary-color;
}

body .ui-menu.ui-megamenu .ui-menu-list > table > tbody > tr > td {
    padding: 0;
}

body .ui-menu.ui-megamenu.ui-megamenu-vertical > .ui-menu-list .ui-menuitem {
    width: 100%;
}

body .ui-menubutton .ui-button.ui-button-text-icon-left .ui-icon {
    margin-top: 10px;
}

body .ui-panelmenu .fa {
    position: static;
}

body .ui-panelmenu .ui-panelmenu-panel {
    border: 1px solid #ccc;
    border-bottom: none;
}

body .ui-panelmenu .ui-panelmenu-panel:last-child {
    border-bottom: 1px solid #ccc;
}

body .ui-panelmenu .ui-panelmenu-header {
    background-color: #fff;
    padding: 0;
    font-size: 16px;
    color: $primary-dark-text-color;
    transition: background-color 0.3s;
    margin: 0;
}

body .ui-panelmenu .ui-panelmenu-header .fa {
    color: #999;
}

body .ui-panelmenu .ui-panelmenu-header a {
    padding: 8px 12px;
    color: $primary-dark-text-color;
}

body .ui-panelmenu .ui-panelmenu-header:not(.ui-state-active):hover {
    background-color: #e5eaea;
}

body .ui-panelmenu .ui-panelmenu-header:not(.ui-state-active):hover .fa {
    color: $primary-dark-text-color;
}

body .ui-panelmenu .ui-panelmenu-header.ui-state-active {
    background-color: #248bca;
}

body .ui-panelmenu .ui-panelmenu-header.ui-state-active a {
    color: $primary-light-text-color;
}

body .ui-panelmenu .ui-panelmenu-header.ui-state-active .fa {
    color: $primary-light-text-color;
}

body .ui-panelmenu .ui-panelmenu-content .ui-menuitem-link {
    padding: 5px 10px;
    color: $primary-dark-text-color;
    transition: background-color 0.3s;
    border-radius: 0;
}

body .ui-panelmenu .ui-panelmenu-content .ui-menuitem-link:hover {
    background-color: #fff;
    color: $primary-dark-text-color;
}

body .ui-panelmenu .ui-panelmenu-content .ui-menuitem-link > span.fa {
    display: inline-block;
    vertical-align: middle;
    left: auto;
}

body .ui-panelmenu .ui-panelmenu-content .ui-menuitem-link .ui-menuitem-text {
    display: inline-block;
    vertical-align: middle;
}

body .ui-progressbar {
    border: 0 none;
    background-color: #e5eaea;
}

body .ui-progressbar .ui-progressbar-value {
    border: 0 none;
    background: #248bca;
    margin: 0;
    border-radius: 0;
}

body .ui-progressbar .ui-progressbar-label {
    margin-top: -1px;
}

body .ui-galleria .ui-galleria-nav-prev {
    font-size: 16px;
    color: #999;
    transition: color 0.3s;
}

body .ui-galleria .ui-galleria-nav-prev:hover {
    color: $primary-dark-text-color;
}

body .ui-galleria .ui-galleria-nav-next {
    font-size: 16px;
    color: #999;
    transition: color 0.3s;
}

body .ui-galleria .ui-galleria-nav-next:hover {
    color: $primary-dark-text-color;
}

body .ui-slidemenu {
    border: 1px solid $default-secondary-color;
}

body .ui-slidemenu .ui-slidemenu-backward {
    border: 0 none;
    background-color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

body .ui-fluid .ui-inputgroup input {
    min-width: 0;
}

body .ui-inputgroup .ui-inputgroup-addon {
    border-color: #ccc;
    background-color: #eceeef;
    color: #999;
    padding: 6px 12px;
    height: 34px;
    min-width: 34px;
    box-sizing: border-box;
}

body .ui-inputgroup .ui-inputgroup-addon:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

body .ui-inputgroup .ui-inputgroup-addon:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

body .ui-inputgroup .ui-button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

body .ui-inputgroup .ui-button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

// Validation
.ui-inputtext.ng-dirty.ng-invalid,
p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext,
p-calendar.ng-dirty.ng-invalid > .ui-calendar > .ui-inputtext,
p-chips.ng-dirty.ng-invalid > .ui-chips > .ui-inputtext,
p-inputmask.ng-dirty.ng-invalid > .ui-inputtext,
p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box,
p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box,
p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch,
p-listbox.ng-dirty.ng-invalid .ui-inputtext,
p-multiselect.ng-dirty.ng-invalid > .ui-multiselect,
p-spinner.ng-dirty.ng-invalid > .ui-inputtext,
p-selectbutton.ng-dirty.ng-invalid .ui-button,
p-togglebutton.ng-dirty.ng-invalid .ui-button {
    border-color: $error-color;

    &:hover {
        border-color: highlight($error-color);
    }
}

//===========================================================================================
// Customizações
//===========================================================================================

// Base
html {
    height: 100%;
}

body {
    color: $primary-dark-text-color !important;
    background-color: #f2f2f2;
    font-family: "Roboto", sans-serif !important;
    font-size: 14px !important;
    min-height: 100%;
    line-height: 1.5;
}

a {
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

ul {
    padding-left: 40px;
}

hr {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background: #d8d8d8;
}

label {
    font-weight: normal;
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
}

.required > label:after {
    content: " *";
    color: #c13018;
}

input::placeholder {
    color: #CCC;
}

[data-hidden="true"] {
    display: none !important;
}

//Form
.form-group {
    margin-bottom: 15px;
}

//Listbox
p-listbox .ui-inputtext {
    height: auto;
}

.ui-listbox-header .ui-inputtext {
    padding: 5px 10px !important;
    font-size: 14px !important;
    min-height: 34px;
}

.ui-listbox-header .ui-listbox-filter-container .fa {
    display: none;
}

.ui-listbox .ui-chkbox {
    margin-right: 10px;
}

//Slider
body .ui-slider .ui-slider-handle {
    width: 25px !important;
    height: 25px !important;
}

body .ui-slider-horizontal {
    height: 10px !important;
}

@import "mixins";
@import "utilities";
@import "components";
