.login-page {
  .form-group {
    margin-bottom: 25px;

    &__label {
      margin-bottom: 15px;
      display: block;
    }
  }

  .form-group-remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
  }

  .form-group-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    width: 100%;
  }

  .ant-form-item-label {
    line-height: 14px;
  }
}
