<div class="login-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()" class="login">
    <section class="title">
      <a [routerLink]="['/']" class="login__logo">
        <img src="/assets/img/logo.png" alt="{{'common.title' | translate}}">
      </a>
    </section>
    <div class="login-group">
      <clr-select-container>
        <label class="clr-sr-only">{{ 'auth.login.form.company' | translate }}</label>
        <select clrSelect formControlName="company">
          <option *ngFor="let company of companies" value="{{company.value}}">{{company.label}}</option>
        </select>
      </clr-select-container>
      <clr-input-container>
        <label class="clr-sr-only">{{ 'auth.login.form.username' | translate }}</label>
        <input type="text" clrInput placeholder="{{ 'auth.login.form.username' | translate }}" formControlName="username">
      </clr-input-container>
      <clr-input-container>
        <label class="clr-sr-only">{{ 'auth.login.form.password' | translate }}</label>
        <input type="password" clrInput placeholder="{{ 'auth.login.form.password' | translate }}" formControlName="password">
      </clr-input-container>
      <clr-checkbox-wrapper>
        <label>{{'auth.login.form.remember' | translate }}</label>
        <input type="checkbox" formControlName="remember" clrCheckbox>
      </clr-checkbox-wrapper>
      <button type="submit" class="btn btn-primary">{{ 'auth.login.form.submit' | translate }}</button>

      <div class="form-group-reset">
        <a [routerLink]="['/auth/forgot']" class="btn btn-sm btn-link">
          {{ 'auth.login.form.forgot' | translate }}
        </a>
        <a [routerLink]="['/auth/register']" class="btn btn-sm btn-link">
          {{ 'auth.login.form.register' | translate }}
        </a>
      </div>
    </div>
  </form>
</div>
