<form [formGroup]="loginForm" (ngSubmit)="handleSubmit()" class="login-page">
  <h1>{{ 'auth.login.pageTitle' | translate }}</h1>

  <div class="form-group">
    <label class="form-group__label">{{ 'auth.login.form.username' | translate }} <span class="required">*</span></label>
    <input type="text" pInputText formControlName="username" class="input-fluid" />
  </div>

  <div class="form-group">
    <label class="form-group__label">{{ 'auth.login.form.password' | translate }} <span class="required">*</span></label>
    <input type="password" pPassword formControlName="password" class="input-fluid" />
  </div>

  <div class="form-group-remember">
    <p-checkbox formControlName="remember" label="{{'auth.login.form.remember' | translate }}"></p-checkbox>
    <a [routerLink]="['/auth/forgot']" class="form-group-reset__forgot">
      {{ 'auth.login.form.forgot' | translate }}
    </a>
  </div>

  <div class="form-group-button">
    <p-button class="input-fluid" styleClass="ui-button-secondary ui-button-outline" type="button" label="{{'auth.login.form.register' | translate}}"></p-button>
    <p-button class="input-fluid" type="submit" label="{{'auth.login.form.submit' | translate}}"></p-button>
  </div>
</form>
