<div class="page-declarations__container" [ngClass]="{ 'page-declarations__container--hidden': isHiddenSidebar }">
  <app-declaration-sidebar
    tableName="adjustment"
    [isHiddenSidebar]="isHiddenSidebar"
    [events]="employeeSubject.asObservable()"
    (onSelectEmployees)="handleSelectEmployees($event)"
    (onToggleSidebar)="handleToggleSidebar()"
    (onUserUpdated)="handleUserUpdateTables($event, 'adjustment')"
    (onUserDeleted)="handleUserDeleteTables($event, 'adjustment')"
    (onUserAdded)="handleUserAdded($event)"
  ></app-declaration-sidebar>

  <div class="page-declarations__content">
    <div class="page-declarations__group-button">
      <div class="page-declarations__buttons">
        <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button nzType="default" (click)="handleAddEmployee('I_1','adjustment')">
         <i nz-icon nzType="dollar-circle" nzTheme="outline"></i> Tăng mức đóng
        </button>
        <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button nzType="default" (click)="handleAddEmployee('II_1','adjustment')">
          <i nz-icon nzType="dollar-circle" nzTheme="outline"></i> Giảm mức đóng
        </button>
        <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button nzType="default"  (click)="handleAddEmployee('I_1','adjustment')">
          <i nz-icon nzType="user-switch" nzTheme="outline"></i>Thay đổi chức danh
        </button>
        <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button nzType="default"  (click)="handleAddEmployee('III_1','adjustment')">
          <i nz-icon nzType="user-switch" nzTheme="outline"></i>Điều chỉnh tham gia BHTNLD,BNN
        </button>

        <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button nzType="default"  (click)="handleAddEmployee('III_1','adjustment')">
          <i nz-icon nzType="user-switch" nzTheme="outline"></i>Điều chỉnh khác
        </button>


      </div>
      <h1><strong>{{pageCode}} |</strong>| {{pageName}}</h1>
    </div><!-- page-declarations__group-button -->

    <div class="page-declarations__title">
      <ng-container *ngIf="hasForm">
        <app-increase-form (onFormValuesChanged)="handleFormValuesChanged($event)"></app-increase-form>
      </ng-container>
      <div *ngIf="!hasForm"></div>
    </div><!-- page-declarations__title -->

    <div class="page-declarations__editor">
      <app-increase-editor
      tableName="adjustment"
      [data]="declarations.adjustment.table"
      [salaryAreas]="salaryAreas"
      [headerForm] = "headerForm"
      [nestedHeaders]="headers.adjustment.nested"
      [columns]="headers.adjustment.columns"
      [events]="tableSubject.asObservable()"
      [validate]="validateSubject.asObservable()"
      (onChange)="handleChangeTable($event,'adjustment')"
      (onDelete)="handleDeleteTableData($event,'adjustment')"
      (onAddRow)="handleAddRow($event,'adjustment')"
      (onFocus)="handleFocus($event)"
      (onSort)="handleSort($event, 'adjustment')"
    ></app-increase-editor>
    </div><!-- page-declarations__editor -->

    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel class="collapse-attachment" [nzHeader]="attachmentHeader" [nzActive]="panel.attachment.active" (nzActiveChange)="collapseChange($event, 'attachment')">
          <app-labor-attachment *ngIf="selectedTab == 'adjustment'" [notAllowAttach] ="!allowAttach" [files]="files" [declarationCode] = "'6000'" (onSelectedFileChanged)="handleFileSelected($event)"></app-labor-attachment>
      </nz-collapse-panel>
    </nz-collapse>
    <ng-template #attachmentHeader>
      Tài liệu kèm theo <span class="collapse-attachment-note">(tổng dung lượng &lt; 20MB)</span>
    </ng-template>

  </div><!-- page-declarations__content -->
</div><!-- page-declarations__container -->
