<div class="page-container">
  <nz-spin [nzSpinning]="isSpinning">
    <div class="page-declarations" [ngClass]="{'page-declarations-hide-last-tab': !usedocumentDT01}" cardFullHeight>
      <nz-tabset nzSize="small" nzTabPosition="bottom" nzSelectedIndex="1" [nzTabBarExtraContent]="extraTemplate"
        (nzSelectChange)="handleSelectTab($event)">
        <nz-tab  [nzTitle]="tabDocument">
          <ng-template #tabDocument>
            <div class="page-adjust-general__tab-title" [ngClass]="{'page-adjust-general__tab-title--error': tableSubmitErrors.documentFomError > 0}">
              Danh mục tài liệu
            </div>
          </ng-template>
          <div class="page-document-list__container">
            <form nz-form [formGroup]="documentForm">
              <h1><strong>{{declarationCode}}</strong> | {{declarationName}}</h1>
               <div nz-row [nzGutter]="10">
                <div nz-col [nzSpan]="12">
                  <nz-form-item>
                    <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="10">Người nộp</nz-form-label>
                    <nz-form-control [nzSpan]="14" [nzErrorTip]="submitterTpl">
                      <input nz-input placeholder="Người nộp" formControlName="submitter"/>
                      <ng-template #submitterTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          <p class="regime-approval-form__error">Người nộp không được để trống</p>
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                      <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="10">Số điện thoại</nz-form-label>
                      <nz-form-control [nzSpan]="14" [nzErrorTip]="mobileTpl">
                        <!-- <input nz-input formControlName="month"> -->
                        <input nz-input formControlName="mobile" placeholder="Số điện thoại">
                        <ng-template #mobileTpl let-control>
                          <ng-container *ngIf="control.hasError('required')">
                            <p class="regime-approval-form__error">Số điện thoại không được để trống</p>
                          </ng-container>
                          <ng-container *ngIf="control.hasError('pattern')">
                            <p class="regime-approval-form__error">Số điện thoại phải là số</p>
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
              <h1>Thành phần hồ sơ</h1>
              <div class="document-form__process-table">
                <div class="document-form__process-table">
                  <app-document-table [data]="documentList" (onChange)="handleChangeProcessTable($event)"
                    (onDelete)="handleDeleteProcessData($event)"></app-document-table>
                </div>
              </div>
              <div nz-row [nzGutter]="10">
                <div nz-col [nzSpan]="12">
                  <nz-form-item>
                    <label nz-checkbox formControlName="usedocumentDT01">Phát sinh kê khai Mẫu D01T-TS Bảng kê thông
                      tin</label>
                  </nz-form-item>
                </div>
              </div>
            </form>
          </div><!-- page-declarations__container -->
        </nz-tab><!-- tab 1-->

        <nz-tab [nzTitle]="allocationCard">
          <ng-template #allocationCard>
            <div class="page-adjust-general__tab-title" [ngClass]="{'page-adjust-general__tab-title--error': (tableSubmitErrors.allocationCard > 0 || tableSubmitErrors.generalFomError > 0)}">
              D03-TS
            </div>
          </ng-template>
          <div class="page-declarations__container"
            [ngClass]="{ 'page-declarations__container--hidden': isHiddenSidebar }">
            <app-declaration-sidebar tableName="increaseLabor"
               [isHiddenSidebar]="isHiddenSidebar"
              [events]="employeeSubject.asObservable()"
              (onSelectEmployees)="handleSelectEmployees($event)"
              (onToggleSidebar)="handleToggleSidebar()"
              (onUserUpdated)="handleUserUpdated($event)"
              (onUserDeleted)="handleUserDeleted($event)" 
              (onUserAdded)="handleUserAdded($event)">
            </app-declaration-sidebar>

            <div class="page-declarations__content">
              <div class="page-declarations__group-button">
                <div class="page-declarations__buttons">
                  <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button
                    nzType="default" (click)="handleAddEmployee('I_1')">
                    <i nz-icon nzType="arrow-up"></i>Tăng người tham gia
                  </button>
                  <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button
                    nzType="default" (click)="handleAddEmployee('I_2')">
                    <i nz-icon nzType="arrow-up"></i>Tăng mức đóng
                  </button>
                  <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button
                    nzType="default" (click)="handleAddEmployee('II_1')">
                    <i nz-icon nzType="arrow-down"></i>Giảm người tham gia
                  </button>
                  <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button
                    nzType="default" (click)="handleAddEmployee('II_2')">
                    <i nz-icon nzType="arrow-down"></i>Giảm mức đóng
                  </button>
                </div>
                <h1><strong>{{declarationCode}}</strong> | {{declarationName}}</h1>
              </div><!-- page-declarations__group-button -->

              <div class="page-declarations__title">
                <h2>Danh sách người chỉ tham gia BHYT</h2>
                <form nz-form [formGroup]="form" class="page-declarations__search_normal">
                  <div nz-row nzJustify="center">
                    <div nz-col nzSpan="2">
                      <nz-form-item>
                        <nz-form-label [nzNoColon]="true" [nzSpan]="14">Số</nz-form-label>
                        <nz-form-control [nzSpan]="10">
                          <input nz-input formControlName="batch">
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col nzSpan="2">
                      <nz-form-item>
                        <nz-form-label [nzNoColon]="true" [nzSpan]="14">Tháng</nz-form-label>
                        <nz-form-control [nzSpan]="10">
                          <input nz-input formControlName="month">
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col nzSpan="3">
                      <nz-form-item>
                        <nz-form-label class="text-right" [nzNoColon]="true" [nzSpan]="7">Năm</nz-form-label>
                        <nz-form-control [nzSpan]="10">
                          <input nz-input formControlName="year">
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                  
                  <div nz-row>
                    <div nz-col [nzSpan]="3">
                      <div class="page-declarations__check-code">
                        <button nz-button nzType="default" (click)="checkInsurranceCode($event)">Kiểm tra mã số
                          BHXH</button>
                      </div><!-- page-declarations__check-code -->
                    </div>
                    <div nz-col [nzSpan]="13">
                      <nz-form-item>
                        <nz-form-label class="text-center" [nzSpan]="6">Tên đối tượng</nz-form-label>
                        <nz-form-control [nzSpan]="17">
                          <input nz-input placeholder="Tên đối tượng" formControlName="benefitLevelName" />
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="7">
                      <nz-form-item>
                        <nz-form-label class="text-left" [nzSpan]="8">Nguồn đóng</nz-form-label>
                        <nz-form-control [nzSpan]="16">
                          <input nz-input placeholder="Nguồn đóng" formControlName="resource" />
                        </nz-form-control>
                      </nz-form-item>
                    </div><!-- col -->
                  </div>
                </form>
              </div><!-- page-declarations__title -->
              <div class="page-declarations__editor">
                <app-register-allocation-editor 
                  tableName="allocationCard" 
                  [salaryAreas]="salaryAreas"
                  [nestedHeaders]="tableNestedHeaders"
                  [columns]="tableHeaderColumns" 
                  [data]="declarations" 
                  [events]="tableSubject.asObservable()"
                  [validate]="validateSubject.asObservable()" 
                  (onSubmit)="handleSubmit($event)"
                  (onChange)="handleChangeTable($event)" 
                  (onDelete)="handleDeleteData($event)"
                  (onAddRow)="handleAddRow($event)" 
                  (onFocus)="handleFocus($event)" 
                  (onSort)="handleSort($event)">
                </app-register-allocation-editor>
              </div><!-- page-declarations__editor -->
              <div class="sumCar">
                  <form nz-form [formGroup]="declarationGeneral">
                    <nz-form-item>
                      <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="4">Tổng số thẻ BHYT đề nghị cấp
                      </nz-form-label>
                      <nz-form-control [nzSpan]="14" [nzErrorTip]="sumCarfTpl">
                        <nz-input-number placeholder="Tổng số thẻ" formControlName="totalCardInsurance"  [nzSize]="'small'" 
                          [nzFormatter]="formatterCurrency"></nz-input-number>
                        <ng-template #sumCarfTpl let-control>
                          <ng-container *ngIf="control.hasError('pattern')">
                            Tổng số thẻ phải số
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </form>
              </div>
              <nz-collapse [nzBordered]="false" [ngClass]="{
                'collapse-active-all': panel.general.active && panel.attachment.active,
                'collapse-active-general': panel.general.active && !panel.attachment.active,
                'collapse-active-attachment': !panel.general.active && panel.attachment.active
              }">
                <nz-collapse-panel class="collapse-attachment" [nzHeader]="attachmentHeader"
                  [nzActive]="panel.attachment.active" (nzActiveChange)="collapseChange($event, 'attachment')">
                  <app-labor-attachment [files]="files" [notAllowAttach] ="!allowAttachFile" [declarationCode] = "declarationCode" (onSelectedFileChanged)="handleFileSelected($event)">
                  </app-labor-attachment>
                </nz-collapse-panel>
              </nz-collapse>
              <ng-template #attachmentHeader>
                Tài liệu kèm theo <span class="collapse-attachment-note">(tổng dung lượng &lt; 20MB)</span>
              </ng-template>
            </div><!-- page-declarations__content -->
          </div><!-- page-declarations__container -->
        </nz-tab><!-- tab 2 -->
        <nz-tab [nzTitle]="tabFamily" [nzDisabled]="(!autoCreateFamilies || !families || !families.length)">
            <ng-template #tabFamily>
                <div class="page-adjust-general__tab-title" [ngClass]="{'page-adjust-general__tab-title--error': tableSubmitErrors.family > 0}">
                  TK1-TS
                </div>
              </ng-template>
          <div class="page-document-list__container page-document-list__container--note">
          <h1><strong>{{declarationCode}}</strong> | {{declarationName}}</h1>
            <h2>PHỤ LỤC THÀNH VIÊN GIA ĐÌNH</h2>
            <div class="document-form__process-table">
              <app-increase-tk1-table
                tableName="family" 
                [data]="families" 
                [nestedHeaders]="tableNestedHeadersFamilies"
                [columns]="tableHeaderColumnsFamilies"
                [events]="tableSubject.asObservable()"
                (onChange)="handleChangeDataFamilies($event)" 
                (onDelete)="handleDeleteMember($event)"
                (onAddRow)="handleAddMember($event)">
              </app-increase-tk1-table>
            </div>
          </div>
        </nz-tab>
        <nz-tab [nzTitle]="tabDocumentList">
            <ng-template #tabDocumentList>
                <div class="page-adjust-general__tab-title" [ngClass]="{'page-adjust-general__tab-title--error': tableSubmitErrors.documentList > 0}">
                  D01-TS
                </div>
            </ng-template>
          <div class="page-document-list__container">
            <form nz-form [formGroup]="documentForm">
              <h1><strong>{{declarationCode}}</strong> | {{declarationName}}</h1>
              <h2>BẢNG KÊ THÔNG TIN</h2>

              <div class="document-form__process-table">
                <app-document-list-table 
                  tableName="documentList"
                  [data]="informations" 
                  [nestedHeaders]="tableNestedHeadersDocuments"
                  [columns]="tableHeaderColumnsDocuments" 
                  [events]="tableSubject.asObservable()"
                  (onChange)="handleChangeInfomation($event)" 
                  (onAddRow)="handleAddDocumentRow($event)"
                  (onDelete)="handleDeleteInfomation($event)">
                </app-document-list-table>
              </div>
            </form>
          </div>
        </nz-tab>

      </nz-tabset>
      <ng-template #extraTemplate>
        <div class="page-declarations__footer">
          <button nz-button class="page-declarations__footer-export" nzType="default" nzSize="small"
            (click)="emitEventToChild('saveAndView')">
            <i nz-icon nzType="upload"></i>Xuất tờ khai
          </button>
          <button nz-button nzType="default" nzSize="small" (click)="emitEventToChild('save')">
            <i nz-icon nzType="save"></i>Lưu nháp
          </button>
         <button nz-button nzType="default" nzSize="small" (click)="uploadData()">
              <i nz-icon nzType="database" nzTheme="outline"></i>Nhập Excel
            </button>
          <button nz-button class="page-declarations__footer-button" nzType="default" nzSize="small"
            (click)="emitEventToChild('back')">
            <i nz-icon nzType="reload"></i>Quay lại
          </button>
        </div>
      </ng-template>
    </div>
  </nz-spin>
</div>
