<form nz-form [formGroup]="searchForm" class="search">
  <div nz-row class="page-search">
    <div nz-col nzMd="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Loại hồ sơ</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-select formControlName="declarationCode" nzAllowClear nzPlaceHolder="Lựa chọn">
            <nz-option [nzValue]="type.declarationCode" [nzLabel]="type.declarationName" *ngFor="let type of declarationTypes"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzMd="4">
      <nz-form-item>
        <nz-form-label>Từ ngày</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="dateFrom" mask="00/00/0000" [showMaskTyped]="true" [validation]="true"
            [clearIfNotMatch]="true" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzMd="4">
      <nz-form-item>
        <nz-form-label>Đến ngày</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="dateTo" mask="00/00/0000" [showMaskTyped]="true" [validation]="true"
            [clearIfNotMatch]="true" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzMd="4">
      <div class="group-button">
        <button class="element-form_button-search" (click)="search()" nz-button nzType="default">
            <i nz-icon nzType="search"></i>{{ 'common.btnSearch' | translate }}
        </button>
      </div>
    </div>
  </div>
</form><!-- search -->
