<form  nz-form [formGroup]="formContract"  class="companyAgencies-form">
  <div class="page-container-form-custom">  
      <div class="page-company">
        <div class="page-company__blank"></div>
        <div class="page-company__main">
          <h1>I. THÔNG TIN KHÁCH HÀNG</h1> 
          <div nz-row nzGutter="10">
              <div nz-col [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="12">{{ 'customers.from.city' | translate }}
                  </nz-form-label>
                  <nz-form-control [nzSpan]="12" [nzErrorTip]="citytempl" class="item-left-2">
                    <nz-select formControlName="cityCode" nzShowSearch (ngModelChange)="changeCity($event);" nzAllowClear
                      nzPlaceHolder="Lựa chọn">
                      <nz-option [nzValue]="city.id" [nzLabel]="city.name" *ngFor="let city of cities"></nz-option>
                    </nz-select>
                    <ng-template #citytempl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        {{ 'customers.from.city' | translate }} không để trống
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label class="text-left item-padding-left-2" [nzRequired]="true" [nzSpan]="12">
                    {{ 'customers.from.isurranceDepartment' | translate }}</nz-form-label>
                  <nz-form-control [nzSpan]="12" [nzErrorTip]="isurranceDepartmentTpl">
                    <nz-select nzShowSearch formControlName="isurranceDepartmentId" nzAllowClear nzPlaceHolder="Lựa chọn">
                      <nz-option [nzValue]="isurranceDepartment.id" [nzLabel]="isurranceDepartment.name"
                        *ngFor="let isurranceDepartment of isurranceDepartments"></nz-option>
                    </nz-select>
                    <ng-template #isurranceDepartmentTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        {{ 'customers.from.isurranceDepartment' | translate }} không để trống
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          <div nz-row nzGutter="10">
              <div nz-col [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="12">
                    {{ 'customers.from.companyCode' | translate }}</nz-form-label>
                  <nz-form-control [nzSpan]="12" [nzErrorTip]="companyCodetempl" class="item-left-2">
                    <input nz-input placeholder="{{ 'customers.from.companyCode' | translate }}" formControlName="code" />
                    <ng-template #companyCodetempl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        {{ 'customers.from.companyCode' | translate }} không để trống
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label class="text-left item-padding-left-2" [nzRequired]="true" [nzSpan]="12">
                    {{ 'customers.from.salaryAreaName' | translate }}</nz-form-label>
                  <nz-form-control [nzSpan]="12" [nzErrorTip]="salaryAreaNametpl">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn" formControlName="salaryAreaCode">
                      <nz-option *ngFor="let salaryArea of salaryAreas" [nzLabel]="salaryArea.name"
                        [nzValue]="salaryArea.id"></nz-option>
                    </nz-select>
                    <ng-template #salaryAreaNametpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        {{ 'customers.from.salaryAreaName' | translate }} không để trống
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row nzGutter="10">
                <div nz-col [nzSpan]="24">
                    <nz-form-item>
                        <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="6">{{ 'contract.from.name' | translate }}</nz-form-label>
                        <nz-form-control [nzSpan]="18" [nzErrorTip]="nametpl" >
                        <input nz-input
                            placeholder="{{ 'contract.from.name' | translate }}"
                            formControlName="name" />
                        <ng-template #nametpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                {{ 'contract.from.name' | translate }} không được để trống
                            </ng-container>
                        </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div><!-- col -->
            </div>
            <div nz-row nzGutter="10">
                <div nz-col [nzSpan]="24">
                    <nz-form-item>
                        <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="6">{{ 'agencies.from.address' | translate }}</nz-form-label>
                        <nz-form-control [nzSpan]="18" [nzErrorTip]="addressTpl" >
                        <input nz-input
                            placeholder="{{ 'agencies.from.address' | translate }}"
                            formControlName="address"/>
                        <ng-template #addressTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                {{ 'agencies.from.address' | translate }} không được để trống
                            </ng-container>
                        </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div><!-- col -->
            </div>
            <div nz-row nzGutter="10">
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="12">{{ 'agencies.from.personContact' | translate }}</nz-form-label>
                        <nz-form-control [nzSpan]="12" [nzErrorTip]="delegateTpl" class="item-left-2" >
                        <input nz-input
                            placeholder="{{ 'agencies.from.personContact' | translate }}"
                            formControlName="delegate" />
                        <ng-template #delegateTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                {{ 'agencies.from.personContact' | translate }} không được để trống
                            </ng-container>
                        </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label class="text-left item-padding-left-2" [nzRequired]="true" [nzSpan]="12">{{ 'agencies.from.tel' | translate }}</nz-form-label>
                        <nz-form-control [nzSpan]="12" [nzErrorTip]="telTpl" class="item-left-2" >
                        <input nz-input
                            placeholder="{{ 'agencies.from.tel' | translate }}"
                            formControlName="tel" />
                        <ng-template #telTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                {{ 'agencies.from.tel' | translate }} không được để trống
                            </ng-container>
                            <ng-container *ngIf="control.hasError('maxlength')">
                                {{ 'agencies.from.tel' | translate }} chỉ được tối đa 15 ký tự
                            </ng-container>
                            <ng-container *ngIf="control.hasError('pattern')">
                                {{ 'agencies.from.tel' | translate }} liên hệ phải là số
                            </ng-container>
                        </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row nzGutter="10">
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="12">{{ 'agencies.from.email' | translate }}</nz-form-label>
                        <nz-form-control [nzSpan]="12" [nzErrorTip]="emailTpl" class="item-left-2" >
                        <input nz-input
                            placeholder="{{ 'agencies.from.email' | translate }}"
                            formControlName="email" />
                        <ng-template #emailTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                {{ 'agencies.from.email' | translate }} không được để trống
                            </ng-container>
                            <ng-container *ngIf="control.hasError('pattern')">
                                    {{ 'agencies.from.email' | translate }} không đúng định dạng
                                </ng-container>
                        </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label class="text-left item-padding-left-2" [nzRequired]="true" [nzSpan]="12">{{ 'agencies.from.Website' | translate }}</nz-form-label>
                        <nz-form-control [nzSpan]="12" [nzErrorTip]="websiteTpl" class="item-left-2" >
                        <input nz-input
                            placeholder="{{ 'agencies.from.Website' | translate }}"
                            formControlName="website" />
                        <ng-template #websiteTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                {{ 'agencies.from.Website' | translate }} không được để trống
                            </ng-container>
                        </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <h1>I. THÔNG TIN HỢP ĐỒNG</h1> 
            <div nz-row nzGutter="10">
              <div class="contents_service">
                   <div>
                     <h2>ĐĂNG KÝ IVAN</h2>
                        <div nz-row nzGutter="10"><!--sTART ROW-->
                            <div nz-col [nzSpan]="24">
                                <nz-form-item>
                                    <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="12">{{ 'contract.from.expiryDate' | translate }}</nz-form-label>
                                    <nz-form-control [nzSpan]="12" [nzErrorTip]="nametpl" >
                                        <nz-select formControlName="productIVAN" nzShowSearch (ngModelChange)="changeProductIVAN($event);" nzAllowClear
                                        nzPlaceHolder="Lựa chọn">
                                          <nz-option [nzValue]="product.id" [nzLabel]="product.name" *ngFor="let product of productIVAN"></nz-option>
                                        </nz-select>
                                      <ng-template #nametpl let-control>
                                        <ng-container *ngIf="control.hasError('required')">
                                            {{ 'contract.from.expiryDate' | translate }} không được để trống
                                        </ng-container>                                        
                                    </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                            </div><!-- col -->
                        </div><!--END ROW-->
                        <div nz-row nzGutter="10"><!--sTART ROW-->
                          <div nz-col [nzSpan]="24">
                              <nz-form-item>
                                  <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="12">{{ 'contract.from.block' | translate }}</nz-form-label>
                                  <nz-form-control [nzSpan]="12" [nzErrorTip]="nametpl" >
                                      <nz-select formControlName="blockServiceIVAN" nzShowSearch (ngModelChange)="changeBlockServiceIVAN($event);" nzAllowClear
                                      nzPlaceHolder="Lựa chọn">
                                         <nz-option [nzValue]="block.id" [nzLabel]="block.name" *ngFor="let block of blockServiceIVAN"></nz-option>
                                      </nz-select>
                                    <ng-template #nametpl let-control>
                                      <ng-container *ngIf="control.hasError('required')">
                                          {{ 'contract.from.block' | translate }} không được để trống
                                      </ng-container>
                                  </ng-template>
                                  </nz-form-control>
                              </nz-form-item>
                          </div><!-- col -->
                      </div><!--END ROW-->
                      <div nz-row nzGutter="10"><!--sTART ROW-->
                            <div  nz-col [nzSpan]="12" class="lable_text_left">{{ 'contract.from.totalVAN' | translate }}</div>
                            <div  nz-col [nzSpan]="12" class="lable_text_right"> {{ amountIVAN}} VNĐ</div>
                      </div><!--END ROW-->  
                      <div nz-row nzGutter="10"><!--sTART ROW-->
                        <div  nz-col [nzSpan]="12" class="lable_text_left">{{ 'contract.from.useDate' | translate }}</div>
                        <div  nz-col [nzSpan]="12" class="lable_text_right">{{ useDateIVAN}} </div>
                      </div><!--END ROW--> 
                      <div nz-row nzGutter="10"><!--sTART ROW-->
                        <div  nz-col [nzSpan]="12" class="lable_text_left">{{ 'contract.from.dataStandard' | translate }}</div>
                        <div  nz-col [nzSpan]="12" class="lable_text_right">{{ dataStandardIVAN}} </div>
                      </div><!--END ROW--> 
                      <div nz-row nzGutter="10"><!--sTART ROW-->
                        <div  nz-col [nzSpan]="12" class="lable_text_left">{{ 'contract.from.dataBonus' | translate }}</div>
                        <div  nz-col [nzSpan]="12" class="lable_text_right"> {{dataBonusIVAN}} tháng </div>
                      </div><!--END ROW--> 
                      
                   </div>
                  <div>
                    <h2>ĐĂNG KÝ CHỮ KÝ SỐ</h2>
                      <div class="service_other">
                            <div nz-row nzGutter="10"><!--sTART ROW-->
                              <div nz-col [nzSpan]="24">
                                  <nz-form-item>
                                      <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="12">{{ 'contract.from.expiryDate' | translate }}</nz-form-label>
                                      <nz-form-control [nzSpan]="12" [nzErrorTip]="nametpl" >
                                          <nz-select formControlName="productCKS" nzShowSearch (ngModelChange)="changeProductCKS($event);" nzAllowClear
                                          nzPlaceHolder="Lựa chọn">
                                            <nz-option [nzValue]="product.id" [nzLabel]="product.name" *ngFor="let product of productCKS"></nz-option>
                                          </nz-select>
                                        <ng-template #nametpl let-control>
                                          <ng-container *ngIf="control.hasError('required')">
                                              {{ 'contract.from.expiryDate' | translate }} không được để trống
                                          </ng-container>                                        
                                      </ng-template>
                                      </nz-form-control>
                                  </nz-form-item>
                              </div><!-- col -->
                          </div><!--END ROW-->
                          <div nz-row nzGutter="10"><!--sTART ROW-->
                            <div nz-col [nzSpan]="24">
                                <nz-form-item>
                                    <nz-form-label class="text-left"  [nzSpan]="12">{{ 'contract.from.block' | translate }}</nz-form-label>
                                    <nz-form-control [nzSpan]="12" [nzErrorTip]="nametpl" >
                                        <nz-select formControlName="blockServiceCKS" nzShowSearch (ngModelChange)="changeBlockServiceCKS($event);" nzAllowClear
                                        nzPlaceHolder="Lựa chọn">
                                          <nz-option [nzValue]="block.id" [nzLabel]="block.name" *ngFor="let block of blockServiceCKS"></nz-option>
                                        </nz-select>
                                      <ng-template #nametpl let-control>
                                        <ng-container *ngIf="control.hasError('required')">
                                            {{ 'contract.from.block' | translate }} không được để trống
                                        </ng-container>
                                    </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                            </div><!-- col -->
                        </div><!--END ROW-->
                        <div nz-row nzGutter="10"><!--sTART ROW-->
                              <div  nz-col [nzSpan]="12" class="lable_text_left">{{ 'contract.from.totalToken' | translate }}</div>
                              <div  nz-col [nzSpan]="12" class="lable_text_right">{{ amountCKS }} VNĐ</div>
                        </div><!--END ROW-->  
                        <div nz-row nzGutter="10"><!--sTART ROW-->
                          <div  nz-col [nzSpan]="12" class="lable_text_left">{{ 'contract.from.useDate' | translate }}</div>
                          <div  nz-col [nzSpan]="12" class="lable_text_right">{{ useDateCKS}}  </div>
                        </div><!--END ROW--> 
                        <div nz-row nzGutter="10"><!--sTART ROW-->
                          <div  nz-col [nzSpan]="12" class="lable_text_left">{{ 'contract.from.dataStandard' | translate }}</div>
                          <div  nz-col [nzSpan]="12" class="lable_text_right">{{ dataStandardCKS}} </div>
                        </div><!--END ROW--> 
                        <div nz-row nzGutter="10"><!--sTART ROW-->
                          <div  nz-col [nzSpan]="12" class="lable_text_left">{{ 'contract.from.dataBonus' | translate }}</div>
                          <div  nz-col [nzSpan]="12" class="lable_text_right">{{dataBonusCKS}} tháng </div>
                        </div><!--END ROW--> 
                      </div>                   
                 </div>
              </div>
            </div>
            <div nz-row nzGutter="10">
                <div nz-col [nzSpan]="24">
                    <nz-form-item>
                        <nz-form-label [nzRequired]="true" class="text-left font-bold" [nzSpan]="6">{{ 'contract.from.paymentMethod' | translate }}</nz-form-label>
                        <nz-form-control [nzSpan]="6" [nzErrorTip]="paymentMethodTemp">
                          <nz-radio-group formControlName="paymentMethod">
                            <label nz-radio nzValue="0">Tiền mặt</label>
                            <label nz-radio nzValue="1">Chuyển khoản</label>
                          </nz-radio-group>
                          <ng-template #paymentMethodTemp let-control>
                            <ng-container *ngIf="control.hasError('required')">
                              Chọn {{ 'contract.from.paymentMethod' | translate }}
                            </ng-container>
                          </ng-template>
                        </nz-form-control>
                      </nz-form-item>
                </div><!-- col -->
            </div>
            <div nz-row nzGutter="10">
                <div nz-col [nzSpan]="6" class="lable_text_left font-bold">{{ 'contract.from.totalAmount' | translate }}</div><!-- col -->
                <div nz-col [nzSpan]="18"class="lable_text_right font-bold" >{{ totalAmount}} VNĐ</div><!-- col -->
            </div>
            <div nz-row nzGutter="8">
                <div nz-col nzMd="24"  class="footer-botton">  
                    <button class="employee-form__button-save" nz-button nzType="primary" (click)="save()">
                        <i nz-icon nzType="save"></i>Duyệt hợp đồng
                    </button>
                    <button class="employee-form__button-back" nz-button nzType="default" [routerLink]="['/contract/list']">
                        <i nz-icon nzType="stop"></i>Quay lại
                    </button>
                </div>
            </div>
        </div>        
      </div>      
  </div>
</form>