<div class="document-form">
  <div class="document-form__content">
  <h2><span>Hồ sơ</span> : 600a | Báo giảm lao động | 16/04/2020 08:52:15</h2>
  <h1>DANH SÁCH TỜ KHAI</h1>
  <nz-table
      nzBordered
      #ajaxTable
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="declarationFiles"
      [nzLoading]="loading"
      [nzTotal]="total"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      class="table-editor "
    >
      <thead>
        <tr>
          <th>Tên tờ khai</th>
          <th style="width: 100px;"><span>{{'contract.table.action' | translate}}</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ajaxTable.data">
          <td>{{ data.fileName }}</td>
          <td class="text-center">
            <a (click)="downloadFile(data)" *ngIf="!data.isDownloading">
              <i nz-icon nzType="eye" nzTheme="outline"></i>
            </a>
            <ng-template #indicatorTemplate><i nz-icon nzType="loading"></i></ng-template>
            <nz-spin *ngIf="data.isDownloading" nzSimple [nzIndicator]="indicatorTemplate"> </nz-spin>
          </td>
        </tr>
      </tbody>
    </nz-table>
        <!-- ROW START -->
  </div>
  <div class="document-form__footer" *nzModalFooter>
    <button nz-button nzType="primary" (click)="save()">
      <i nz-icon nzType="snippets"></i>Nộp tờ khai
    </button>
    <button nz-button nzType="default" (click)="dismiss()">
      <i nz-icon nzType="rollback"></i>Quay lại
    </button>
  </div>
</div>
