<div class="document-form">
  <div class="document-form__content">
    <form nz-form [formGroup]="documentForm">
        <h1>600 | Báo tăng lao động</h1>
        <!-- ROW START -->
        <div nz-row [nzGutter]="10">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="10">Người nộp</nz-form-label>
              <nz-form-control [nzSpan]="14">
                <input nz-input
                  placeholder="Người nộp"
                  formControlName="userAction"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
              <nz-form-item>
                <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="10">Số điện thoại</nz-form-label>
                <nz-form-control [nzSpan]="14">
                  <input nz-input
                    placeholder="Số điện thoại"
                    formControlName="mobile"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
        </div>
        <!-- ROW END -->
        <h1>Thành phần hồ sơ</h1>
        <div class="document-form__process-table">
            <app-document-table
              [data]="documentList"  
              (onChange)="handleChangeProcessTable($event)"
              (onDelete)="handleDeleteProcessData($event)"            
            ></app-document-table>
        </div>
        <div nz-row [nzGutter]="10">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <label nz-checkbox  formControlName="usedocumentDT01">Phát sinh kê khai Mẫu D01T-TS Bảng kê thông tin</label>
            </nz-form-item>
          </div>
        </div>
    </form>
  </div>
  <div class="document-form__footer" *nzModalFooter>
    <button nz-button nzType="primary" (click)="save()">
      <i nz-icon nzType="export"></i>Lưu
    </button>
    <button nz-button nzType="default" (click)="dismiss()">
      <i nz-icon nzType="rollback"></i>Quay lại
    </button>
  </div>
</div>
