<div class="labor-attachment">
  <table class="labor-attachment-table">
    <tbody>
      <tr *ngFor="let row of rows">
        <td class="text-center">{{ row.no }}</td>
        <td>
          <input nz-input nzSize="small" [(ngModel)]="row.title" />
        </td>
        <td class="text-right">
          <button nz-button nzType="default" nzSize="small" [disabled]="!row.title"><i nz-icon nzType="paper-clip" nzTheme="outline"></i>File đính kèm</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
