<form  nz-form [formGroup]="companyAgencies"  class="companyAgencies-form">
  <div class="page-container-form-custom">  
      <div class="page-company" cardFullHeight>
        <div class="page-company__blank"></div>
        <div class="page-company__main">
            <h1>I. THÔNG TIN ĐẠI LÝ</h1> 
            <div nz-row nzGutter="10">
                <div nz-col [nzSpan]="24">
                    <nz-form-item>
                         <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="6">{{ 'agencies.from.tax' | translate }}</nz-form-label>
                        <nz-form-control [nzSpan]="10" [nzErrorTip]="taxtpl" >
                            <nz-input-group nzSearch  [nzAddOnAfter]="suffixButton">
                                <input type="text" formControlName="tax" nz-input placeholder="Tìm kiếm theo mã số thuế" />
                            </nz-input-group>
                            <ng-template #suffixButton>
                                <button nz-button nzType="primary" (click)="handleSearchTax()"  nzSearch>tra cứu </button>
                            </ng-template>
                            <ng-template #taxtpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    {{ 'agencies.from.tax' | translate }} không được để trống
                                </ng-container>
                                <ng-container *ngIf="control.hasError('maxlength')">
                                    {{ 'agencies.from.tax' | translate }}chỉ được tối đa 50 ký tự
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row nzGutter="10">
                <div nz-col [nzSpan]="24">
                    <nz-form-item>
                        <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="6">{{ 'agencies.from.agenciesName' | translate }}</nz-form-label>
                        <nz-form-control [nzSpan]="18" [nzErrorTip]="nametpl" >
                        <input nz-input
                            placeholder="{{ 'agencies.from.agenciesName' | translate }}"
                            formControlName="name" />
                        <ng-template #nametpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                            Tên đại lý không được để trống
                            </ng-container>
                            <ng-container *ngIf="control.hasError('maxlength')">
                            Mã nhân viên chỉ được tối đa 50 ký tự
                            </ng-container>
                        </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div><!-- col -->
            </div>
            <div nz-row nzGutter="10">
                <div nz-col [nzSpan]="24">
                    <nz-form-item>
                        <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="6">{{ 'agencies.from.address' | translate }}</nz-form-label>
                        <nz-form-control [nzSpan]="18" [nzErrorTip]="addressTpl" >
                        <input nz-input
                            placeholder="{{ 'agencies.from.address' | translate }}"
                            formControlName="address"/>
                        <ng-template #addressTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                {{ 'agencies.from.address' | translate }} không được để trống
                            </ng-container>
                        </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div><!-- col -->
            </div>
            <div nz-row nzGutter="10">
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="12">{{ 'agencies.from.personContact' | translate }}</nz-form-label>
                        <nz-form-control [nzSpan]="12" [nzErrorTip]="delegateTpl" class="item-left-2" >
                        <input nz-input
                            placeholder="{{ 'agencies.from.personContact' | translate }}"
                            formControlName="delegate" />
                        <ng-template #delegateTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                {{ 'agencies.from.personContact' | translate }} không được để trống
                            </ng-container>
                        </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label class="text-left item-padding-left-2" [nzRequired]="true" [nzSpan]="12">{{ 'agencies.from.tel' | translate }}</nz-form-label>
                        <nz-form-control [nzSpan]="12" [nzErrorTip]="telTpl" class="item-left-2" >
                        <input nz-input
                            placeholder="{{ 'agencies.from.tel' | translate }}"
                            formControlName="tel" />
                        <ng-template #telTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                {{ 'agencies.from.tel' | translate }} không được để trống
                            </ng-container>
                            <ng-container *ngIf="control.hasError('maxlength')">
                                {{ 'agencies.from.tel' | translate }} chỉ được tối đa 15 ký tự
                            </ng-container>
                            <ng-container *ngIf="control.hasError('pattern')">
                                {{ 'agencies.from.tel' | translate }} liên hệ phải là số
                            </ng-container>
                        </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row nzGutter="10">
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="12">{{ 'agencies.from.email' | translate }}</nz-form-label>
                        <nz-form-control [nzSpan]="12" [nzErrorTip]="emailTpl" class="item-left-2" >
                        <input nz-input
                            placeholder="{{ 'agencies.from.email' | translate }}"
                            formControlName="email" />
                        <ng-template #emailTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                {{ 'agencies.from.email' | translate }} không được để trống
                            </ng-container>
                            <ng-container *ngIf="control.hasError('pattern')">
                                    {{ 'agencies.from.email' | translate }} không đúng định dạng
                                </ng-container>
                        </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label class="text-left item-padding-left-2" [nzRequired]="true" [nzSpan]="12">{{ 'agencies.from.Website' | translate }}</nz-form-label>
                        <nz-form-control [nzSpan]="12" [nzErrorTip]="websiteTpl" class="item-left-2" >
                        <input nz-input
                            placeholder="{{ 'agencies.from.Website' | translate }}"
                            formControlName="website" />
                        <ng-template #websiteTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                {{ 'agencies.from.Website' | translate }} không được để trống
                            </ng-container>
                        </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row nzGutter="10">
                <div nz-col [nzSpan]="6">&nbsp;</div>
                <div nz-col [nzSpan]="12">
                    <nz-checkbox-wrapper >
                        <label nz-checkbox formControlName="active">{{ 'agencies.from.status' | translate }} </label>
                    </nz-checkbox-wrapper>
                </div>
            </div>

            <div nz-row nzGutter="8">
                <div nz-col nzMd="24"  class="footer-botton">  
                    <button class="employee-form__button-save" [disabled]="!companyAgencies.valid" nz-button nzType="primary" (click)="save()">
                        <i nz-icon nzType="save"></i>Lưu
                    </button>
                    <button class="employee-form__button-back" nz-button nzType="default" [routerLink]="['/agencies/list']">
                        <i nz-icon nzType="stop"></i>Quay lại
                    </button>
                </div>
            </div>
        </div>        
      </div>      
  </div>
</form>