
  <div class="page-container-form-custom">
    <div class="page-company" cardFullHeight>
      <div class="page-company__blank"></div>
      <div class="page-company__main">
      <form nz-form [formGroup]="form" class="companyAgencies-form"> 
        <h1>I. Thông tin nhân viên</h1>
        <div nz-row nzGutter="10">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="7">
                {{ 'system.accounts.form.fullName' | translate }}</nz-form-label>
              <nz-form-control [nzSpan]="17" [nzErrorTip]="nameTempl">
                <input nz-input placeholder="{{ 'system.accounts.form.fullName' | translate }}"
                  formControlName="name" />
                <ng-template #nameTempl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    {{ 'system.accounts.form.fullName' | translate }} không được để trống
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="6" nzOffset="1">
                {{ 'system.accounts.form.tel' | translate }}</nz-form-label>
              <nz-form-control [nzSpan]="17" [nzErrorTip]="mobileTpl">
                <input nz-input placeholder="{{ 'system.accounts.form.tel' | translate }}" formControlName="mobile" />
                <ng-template #mobileTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    {{ 'system.accounts.form.tel' | translate }} không được để trống
                  </ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">
                    {{ 'system.accounts.form.tel' | translate }} số điện thoại không hợp lệ
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row nzGutter="10">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="7">
                {{ 'system.accounts.form.userName' | translate }}</nz-form-label>
              <nz-form-control [nzSpan]="17" [nzErrorTip]="loginIdTemp">
                <input nz-input placeholder="{{ 'system.accounts.form.userName' | translate }}"
                  formControlName="loginId" />
                <ng-template #loginIdTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    {{ 'system.accounts.form.userName' | translate }} không được để trống
                  </ng-container>
                  <ng-container *ngIf="control.hasError('minlength')">
                    {{ 'system.accounts.form.userName' | translate }} tối thiểu 6 ký tự
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div><!-- col -->

          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="6" nzOffset="1">
                {{ 'system.accounts.form.passWord' | translate }}</nz-form-label>
              <nz-form-control [nzSpan]="17" [nzErrorTip]="passwordTemp">
                <input [readonly]="isEdit" type="password" nz-input
                  placeholder="{{ 'system.accounts.form.passWord' | translate }}" formControlName="passWord" />
                <ng-template #passwordTemp let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    {{ 'system.accounts.form.passWord' | translate }} không được để trống
                  </ng-container>
                  <ng-container *ngIf="control.hasError('minlength')">
                    {{ 'system.accounts.form.passWord' | translate }} tối thiểu 6 ký tự
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div><!-- col -->
        </div>

        <div nz-row nzGutter="10">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="7">
                {{ 'system.accounts.form.email' | translate }}</nz-form-label>
              <nz-form-control [nzSpan]="17" [nzErrorTip]="emailError">
                <input nz-input placeholder="{{ 'system.accounts.form.email' | translate }}" formControlName="email" />
                <ng-template #emailError let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    {{ 'system.accounts.form.email' | translate }} không được để trống
                  </ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">
                    {{ 'system.accounts.form.email' | translate }} không đúng định dạng
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div><!-- col -->
          <div nz-col [nzSpan]="12" class="active-status">
            <nz-checkbox-wrapper>
              <label nz-checkbox formControlName="active">{{ 'system.accounts.form.status' | translate }} </label>
            </nz-checkbox-wrapper>
          </div>
        </div>
      </form>
      <!-- Table permission -->
      <div class="page-company__permission" style="margin-bottom: 20px;">
          <div class="page-title ">
            <h1>II. {{'system.accounts.permission.title' | translate}}</h1>
            <div class="page-declarations__footer"></div>
          </div>

          <nz-table nzBordered #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" 
            [nzData]="roles"
            [nzLoading]="loading" 
            [nzPageSize]="roles.length" 
            [nzShowPagination]="false"
            [nzLoading]="loading"
            [nzTotal]="total" 
            class="table-editor table-permission"
            [nzScroll]="{ y: '300px' }">
            <thead>
              <tr>
                <th nzWidth="60px" class="cell-custom" style="width: 50px;">{{'system.accounts.permission.stt' | translate}}</th>
                <th class="cell-custom" nzColumnKey="name">{{'system.accounts.permission.name' | translate}}</th>
                <th nzWidth="90px" class="cell-custom" nzColumnKey="tax">
                  <span>{{'system.accounts.permission.permission_READ' | translate}}</span></th>
                <th nzWidth="100px" class="cell-custom" nzColumnKey="delegate">
                  <span>{{'system.accounts.permission.permission_UPDATE' | translate}}</span></th>
                <th nzWidth="95px" class="cell-custom" nzColumnKey="delegate">
                  <span>{{'system.accounts.permission.permission_CREATE' | translate}}</span></th>
                <th nzWidth="80px" class="cell-custom" nzColumnKey="delegate">
                  <span>{{'system.accounts.permission.permission_DELETE' | translate}}</span></th>
                <th nzWidth="100px" class="cell-custom" nzColumnKey="delegate">
                  <span>{{'system.accounts.permission.permission_ACTIVATED' | translate}}</span></th>
                <th nzWidth="80px" class="cell-custom" nzColumnKey="delegate">
                  <span>{{'system.accounts.permission.permission_APPROVAL' | translate}}</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let role of ajaxTable.data;index as i">
                <td>{{i + 1}}</td>
                <td>{{ role.screenName }}</td>
                <td class="text-center">
                    <ng-container *ngIf="role && role.read !== 2">
                        <input type="checkbox" [(ngModel)]="role.read" name="role-read-{{ i + 1 }}">
                    </ng-container>
                </td>
                <td class="text-center">
                    <ng-container *ngIf="role && role.update !== 2">
                        <input type="checkbox" [(ngModel)]="role.update" name="role-update-{{ i + 1 }}">
                    </ng-container>
                </td>
                <td class="text-center">
                    <ng-container *ngIf="role && role.create !== 2">
                        <input type="checkbox" [(ngModel)]="role.create" name="role-create-{{ i + 1 }}">
                    </ng-container>
                </td>
                <td class="text-center">
                    <ng-container *ngIf="role && role.delete !== 2">
                        <input type="checkbox" [(ngModel)]="role.delete" name="role-delete-{{ i + 1 }}">
                    </ng-container>
                </td>
                <td class="text-center">
                    <ng-container *ngIf="role && role.active !== 2">
                        <input type="checkbox" [(ngModel)]="role.active" name="role-active-{{ i + 1 }}">
                    </ng-container>
                </td>
                <td class="text-center">
                    <ng-container *ngIf="role && role.approve !== 2">
                        <input type="checkbox" [(ngModel)]="role.approve" name="role-approve-{{ i + 1 }}">
                    </ng-container>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      <!-- Table permission -->

        <div nz-row nzGutter="8">
          <div nz-col nzMd="24" class="footer-botton">
            <button type="submit" class="employee-form__button-save" nz-button nzType="primary"
              (click)="save()">
              <i nz-icon nzType="save"></i>Lưu
            </button>
            <button class="employee-form__button-back" nz-button nzType="default" [routerLink]="['/account-management/list']">
              <i nz-icon nzType="stop"></i>Quay lại
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

