<div class="page-card-custom">
  <nz-spin [nzSpinning]="isSpinning" class="page-card__spinning">
  <form nz-form [formGroup]="formSearch" (ngSubmit)="handleSearchBox()">
    <div class="page-title ">
      <h1>{{'contract.contract-list.title' | translate}}</h1>
      <div class="page-declarations__footer">
        
        <button class="element-form_button-search" nz-button nzType="default">
          <i nz-icon nzType="search"></i>{{ 'common.btnSearch' | translate }}
        </button>
        <button class="element-form_button-add" nz-button nzType="default">
          <i nz-icon nzType="user-add" nzTheme="outline"></i>{{ 'common.btnCreate' | translate }}
        </button>
      </div>
    </div>
  <div class="page-search">
    <div nz-row nzGutter="30">
      <div nz-col nzMd="8">
        <nz-form-item>
          <nz-form-label>{{ 'contract.contract-list.keyWords' | translate }}</nz-form-label>
          <nz-form-control>
            <input type="text" nz-input formControlName="keyword">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="4">
        <nz-form-item>
          <nz-form-label>{{ 'contract.contract-list.dateFrom' | translate }}</nz-form-label>
          <nz-form-control>
              <input nz-input placeholder="Từ ngày" formControlName="dateFrom" mask="00/00/0000" [showMaskTyped]="true"
                [validation]="true" [clearIfNotMatch]="true" />
            </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="4">
        <nz-form-item>
          <nz-form-label>{{ 'contract.contract-list.dateTo' | translate }}</nz-form-label>
          <nz-form-control>
              <input nz-input placeholder="Đến ngày" formControlName="dateTo" mask="00/00/0000" [showMaskTyped]="true"
                [validation]="true" [clearIfNotMatch]="true" />
            </nz-form-control>
        </nz-form-item>
      </div>

    </div>
  </div>
  </form>
  <nz-table nzBordered 
    #ajaxTable 
    nzShowSizeChanger 
    [nzFrontPagination]="false"
    [nzData]="contracts"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzPageSize]="contracts.length"
    [nzShowPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    class="table-editor"
    >
    <thead (nzSortChange)="sort($event)" nzSortFn>
      <tr class="ui-table-custom-header">
        <th class="cell-custom" style="width: 50px">{{'contract.table.stt' | translate}}</th>
        <th class="cell-custom" nzSortFn nzColumnKey="email">
          {{'contract.table.company' | translate}}</th>
        <th class="cell-custom"  nzSortFn nzColumnKey="email">
          <span>{{'contract.table.contractNo' | translate}}</span>
        </th>
        <th class="cell-custom" style="width: 140px" nzSortFn nzColumnKey="email">
          <span>{{'contract.table.productCode' | translate}}</span>
        </th>
        <th class="cell-custom" style="width: 150px" nzSortFn nzColumnKey="email">
          <span>{{'contract.table.priceCode' | translate}}</span>
        </th>
        <th class="cell-custom" style="width: 165px" nzSortFn nzColumnKey="email">
          <span>{{'contract.table.numberMonth' | translate}}</span>
        </th>
        <th class="cell-custom" style="width: 120px" nzSortFn nzColumnKey="email">
          <span>{{'contract.table.createDate' | translate}}</span>
        </th>
        <th class="cell-custom"  style="width: 120px" nzSortFn nzColumnKey="email">
            <span>{{'contract.table.contractStatus' | translate}}</span>
          </th>
        <th class="cell-custom" style="width: 140px">
          <span>{{'contract.table.action' | translate}}</span>
        </th>
      </tr>

      <tr class="ui-table-custom-filter">
        <td class="cell-custom"></td>
        <td class="cell-custom">
          <input class="input-filter" nz-input createDate="Tìm kiếm..." nzSize="small" [(ngModel)]="filter.company"
            (ngModelChange)="handleFilter('company')" />
        </td>
        <td class="cell-custom">
          <input class="input-filter" nz-input placeholder="Tìm kiếm..." nzSize="small" [(ngModel)]="filter.contractNo"
            (ngModelChange)="handleFilter('contractNo')" />
        </td>
        <td class="cell-custom">
          <input class="input-filter" nz-input placeholder="Tìm kiếm..." nzSize="small" [(ngModel)]="filter.productCode"
            (ngModelChange)="handleFilter('productCode')" />
        </td>
        <td class="cell-custom">
          <input class="input-filter" nz-input placeholder="Tìm kiếm..." nzSize="small" [(ngModel)]="filter.priceCode"
            (ngModelChange)="handleFilter('priceCode')" />
        </td>
        <td class="cell-custom">
          <input class="input-filter" nz-input placeholder="Tìm kiếm..." nzSize="small"
            [(ngModel)]="filter.numberMonth" (ngModelChange)="handleFilter('numberMonth')" />
        </td>
        <td class="cell-custom">
          <input class="input-filter" nz-input createDate="Tìm kiếm..." nzSize="small" [(ngModel)]="filter.createDate"
            (ngModelChange)="handleFilter('createDate')" />
        </td>
        <td class="cell-custom">
            <input class="input-filter" nz-input createDate="Tìm kiếm..." nzSize="small" [(ngModel)]="filter.status"
              (ngModelChange)="handleFilter('status')" />
          </td>
        <td class="cell-custom"></td>

    </thead>
    <tbody>
      <tr *ngFor="let data of ajaxTable.data;index as i">
        <td>{{i + 1}}</td>
        <td>{{ data.customerName }}</td>
        <td>{{ data.no }}</td>
        <td>{{ data.productName }}</td>
        <td>{{ data.priceName}}</td>
        <td>{{ data.numberMonth}}</td>
        <td>{{ data.createdDate }}</td>
        <td>{{ status[data.status] | translate }}</td>
        <td>
          <ng-container>
            <ng-container>
              <a [routerLink]="['/contract/' + data.id + '/edit']" title ="Xem hợp đồng" class="action-padding">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
              </a>
            </ng-container>
          </ng-container>
          
          <ng-container>
            <a (click)="download(data.id)"  *ngIf="(data.status === 3)" title ="Tải hợp đồng" class="action-padding" style="color: blue;">
              <i nz-icon nzType="download" nzTheme="outline"></i>
            </a>
          </ng-container>
          <ng-container>
              <a (click)="redNew(data.id)"  *ngIf="(data.status === 4)" title ="Làm mới hợp đồng" class="action-padding" style="color: blue;">
                  <i nz-icon nzType="sync" nzTheme="outline"></i>
              </a>
          </ng-container>
          <app-button-delete [id]="data.id" *ngIf="(data.status === 4)" (delete)="delete($event)"></app-button-delete>
          <ng-container>
              <a (click)="download(data.id)"  *ngIf="(data.status === 1)" class="action-padding" title ="Nộp tờ khai" style="color: blue;">
                <i nz-icon nzType="thunderbolt" nzTheme="outline"></i>
              </a>
            </ng-container>
        </td>
      </tr>
    </tbody>
  </nz-table>
  </nz-spin>
</div>
