.declaration-sidebar {
  height: 100%;
  padding: 5px 0 5px 5px;

  &--hidden {
    app-users-tree, .declaration-sidebar__group-button button {
      display: none;
    }
  }

  &__group-button {
    margin-bottom: 10px;
    position: relative;
    height: 32px;

    button {
      margin-right: 5px;

      &::after {
        margin-right: 0;
      }
    }
  }

  &__toggle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__button {
    border-color: #D1D5EE;

    &:hover {
      border-color: #D1D5EE;
      color: #5084EF;
    }

    &--refresh {
      background-color: #E2FBD7;
    }

    &--add {
      background-color: #CCF8FE;
    }

    &--edit {
      background-color: #DAD7FE;
    }

    &--delete {
      background-color: #FFE5D3;
    }
  }
}
