<form [formGroup]="loginForm" (ngSubmit)="handleSubmit()" class="login-page">
  <div class="page-container">    
      <div class="page-company" cardFullHeight>
        <div class="page-company__blank"></div>
        <div class="page-company__main">
          <h1>A. Thông tin đơn vị</h1> 
          <div class="ui-g">
            <div class="ui-g-3">
              <label class="label">{{ 'company.from.city' | translate }} <span class="required">*</span></label>  
            </div>
            <div class="ui-g-3">
              <p-dropdown [options]="documentTypes" placeholder="Lựa chọn" class="input-fluid" formControlName="address"></p-dropdown>                    
            </div>
            <div class="ui-g-3">
              <label class="label text-padding-left">{{ 'company.from.insurrancemanagement' | translate }} <span class="required">*</span></label>                      
            </div>
            <div class="ui-g-3">
              <p-dropdown [options]="documentTypes" placeholder="Lựa chọn" class="input-fluid" formControlName="address"></p-dropdown>                       
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-3">
              <label class="form-group-infomation__label">{{ 'company.from.companycode' | translate }} <span class="required">*</span></label>               
            </div>
            <div class="ui-g-3">
              <input type="text" pInputText formControlName="address" class="input-fluid" />               
            </div>
            <div class="ui-g-3">
              <label class="form-group-infomation__label text-padding-left">{{ 'company.from.area' | translate }} <span class="required">*</span></label>                    
            </div>
            <div class="ui-g-3">
              <p-dropdown [options]="documentTypes" placeholder="Lựa chọn" class="input-fluid" formControlName="address"></p-dropdown>                  
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-3">
              <label class="form-group-infomation__label">{{ 'company.from.name' | translate }} <span class="required">*</span></label>               
            </div>   
            <div class="ui-g-9">
              <input type="text" pInputText formControlName="name" class="input-fluid" />
            </div>
          </div>  
          <div class="ui-g">
            <div class="ui-g-3">
              <label class="form-group-infomation__label">{{ 'company.from.addressregister' | translate }} <span class="required">*</span></label>
            </div>   
            <div class="ui-g-9">
              <input type="text" pInputText formControlName="name" class="input-fluid" />
            </div>
          </div>          
          <div class="ui-g">
            <div class="ui-g-3">
              <label class="form-group-infomation__label">{{ 'company.from.address' | translate }} <span class="required">*</span></label>
            </div>   
            <div class="ui-g-9">
              <input type="text" pInputText formControlName="addressregister" class="input-fluid" />
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-3">   
                <label class="form-group-infomation__label">{{ 'company.from.taxcode' | translate }} <span class="required">*</span></label>
            </div>
            <div class="ui-g-3">
              <input type="text" pInputText formControlName="taxcode" class="input-fluid" />
            </div>
            <div class="ui-g-3">
                <label class="form-group-infomation__label text-padding-left">{{ 'company.from.tel' | translate }} <span class="required">*</span></label>
            </div>
            <div class="ui-g-3">
                <input type="text" pInputText formControlName="taxcode" class="input-fluid" />
            </div>
          </div>
          <div class="ui-g">
              <div class="ui-g-3">
                <label class="form-group-infomation__label">{{ 'company.from.delegate' | translate }} <span class="required">*</span></label>
              </div>
              <div class="ui-g-3">
                <input type="text" pInputText formControlName="address" class="input-fluid" />
              </div>
              <div class="ui-g-3">
                <label class="form-group-infomation__label text-padding-left">{{ 'company.from.regency' | translate }} <span class="required">*</span></label>
              </div>
              <div class="ui-g-3">
                  <input type="text" pInputText formControlName="address" class="input-fluid" />
              </div>
          </div>
          <div class="ui-g">
              <div class="ui-g-3">
                <label class="form-group-infomation__label">{{ 'company.from.traders' | translate }} <span class="required">*</span></label>
              </div>
              <div class="ui-g-3">
                <input type="text" pInputText formControlName="address" class="input-fluid" />
              </div>
              <div class="ui-g-3">
                <label class="form-group-infomation__label text-padding-left">{{ 'company.from.mobile' | translate }} <span class="required">*</span></label>
              </div>
              <div class="ui-g-3">
                  <input type="text" pInputText formControlName="address" class="input-fluid" />
              </div>
          </div>
          <div class="ui-g">
              <div class="ui-g-3">
                <label class="form-group-infomation__label">{{ 'company.from.emailcontract' | translate }} <span class="required">*</span></label>
              </div>
              <div class="ui-g-9">
                <input type="text" pInputText formControlName="addressregister" class="input-fluid" />
              </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-3">
                <label class="form-group-infomation__label">{{ 'company.from.methodpay' | translate }} <span class="required">*</span></label>
            </div>
            <div class="ui-g-3">
                <p-dropdown [options]="documentTypes" placeholder="Lựa chọn" class="input-fluid" formControlName="address"></p-dropdown>
            </div>
            <div class="ui-g-2">
              <label class="form-group-infomation__label text-padding-left">{{ 'company.from.responseresults' | translate }} <span class="required">*</span></label>
            </div>
            <div class="ui-g-4">
              <p-radioButton name="groupname" value="0" label="Nhận tại CQBH" [(ngModel)]="responseresults"></p-radioButton>
              <p-radioButton name="groupname" value="1" label="Nhận qua BĐ" [(ngModel)]="responseresults"></p-radioButton>
            </div>
          </div>
          <h1>B. Cấu hình kê khai</h1>
          <div class="ui-g">
              <div class="ui-g-3">
                <label class="form-group-infomation__label">{{ 'company.from.group' | translate }} <span class="required">*</span></label>
              </div>
              <div class="ui-g-9">
                  <p-dropdown [options]="documentTypes" placeholder="Lựa chọn" class="input-fluid" formControlName="address"></p-dropdown>
              </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-3">
                <label class="form-group-infomation__label">{{ 'company.from.submission' | translate }} <span class="required">*</span></label>
            </div>
            <div class="ui-g-9">
                <p-radioButton name="groupsubmission" value="0" label="Ký và nộp luôn" [(ngModel)]="responseresults"></p-radioButton>
                <p-radioButton name="groupsubmission" value="1" label="Phải trình ký" [(ngModel)]="responseresults"></p-radioButton>
            </div>
          </div>
        </div>
      </div>
  </div>
</form>