<h2>Danh sách lao động tham gia BHXH, BHYT, BHTN</h2>
<form nz-form [formGroup]="form" class="page-regime-approval__search">
  <nz-form-item>
    <nz-form-label [nzNoColon]="true" [nzSpan]="10">Số</nz-form-label>
    <nz-form-control [nzSpan]="14" [nzErrorTip]="numberTpl">
      <!-- <nz-input-number
         formControlName="number"
      ></nz-input-number> -->
      <input nz-input formControlName="number">
      <ng-template #numberTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          <p class="regime-approval-form__error">Số không để trống</p>
        </ng-container>
        <ng-container *ngIf="control.hasError('pattern')">
          <p class="regime-approval-form__error">Số lương phải số</p>
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzNoColon]="true" [nzSpan]="10">Tháng</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input formControlName="month">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzNoColon]="true" [nzSpan]="10">Năm</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input formControlName="year">
    </nz-form-control>
  </nz-form-item>
</form>
