<h2>Danh sách lao động tham gia BHXH, BHYT, BHTN</h2>
<form nz-form [formGroup]="form" class="page-regime-approval__search">
  <nz-form-item>
    <nz-form-label [nzNoColon]="true" [nzSpan]="10">Số</nz-form-label>
    <nz-form-control [nzSpan]="14" [nzErrorTip]="numberTpl">
      <!-- <nz-input-number
         formControlName="number"
      ></nz-input-number> -->
      <input nz-input formControlName="batch">
      <ng-template #numberTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          <p class="regime-approval-form__error">Số tờ khai không để trống</p>
        </ng-container>
        <ng-container *ngIf="control.hasError('pattern')">
          <p class="regime-approval-form__error">Số tờ khai phải số</p>
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzNoColon]="true" [nzSpan]="10">Tháng</nz-form-label>
    <nz-form-control [nzSpan]="14" [nzErrorTip]="monthTpl">
      <!-- <input nz-input formControlName="month"> -->
      <input nz-input formControlName="month">
      <ng-template #monthTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
              <p class="regime-approval-form__error">Tháng tờ khai không để trống</p>
            </ng-container>
            <ng-container *ngIf="control.hasError('min')">
              <p class="regime-approval-form__error"> Tháng phải lơn hơn 0</p>
            </ng-container>
            <ng-container *ngIf="control.hasError('max')">
                <p class="regime-approval-form__error">Tháng phải nhỏ hơn hoặc bằng 12</p>
            </ng-container>
            <ng-container *ngIf="control.hasError('pattern')">
              <p class="regime-approval-form__error">Tháng tờ khai phải số</p>
            </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzNoColon]="true" [nzSpan]="10">Quý</nz-form-label>
    <nz-form-control [nzSpan]="14" [nzErrorTip]="quarterTpl">
      <!-- <input nz-input formControlName="month"> -->
      <input nz-input formControlName="quarter">
      <ng-template #quarterTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          <p class="regime-approval-form__error">Quý khai không để trống</p>
        </ng-container>
        <ng-container *ngIf="control.hasError('min')">
            <p class="regime-approval-form__error"> Quý phải lơn hơn 0</p>
          </ng-container>
          <ng-container *ngIf="control.hasError('max')">
              <p class="regime-approval-form__error">Quý phải nhỏ hơn hoặc bằng 4</p>
          </ng-container>
        <ng-container *ngIf="control.hasError('pattern')">
          <p class="regime-approval-form__error">Quý tờ khai phải số</p>
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzNoColon]="true" [nzSpan]="10">Năm</nz-form-label>
    <nz-form-control [nzSpan]="14"  [nzErrorTip]="yearTpl">
      <!-- <input nz-input formControlName="year"> -->
      <input nz-input formControlName="year">
      <ng-template #yearTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
              <p class="regime-approval-form__error">Năm tờ khai không để trống</p>
            </ng-container>
            <ng-container *ngIf="control.hasError('pattern')">
              <p class="regime-approval-form__error">Năm tờ khai phải số</p>
            </ng-container>
            <ng-container *ngIf="control.hasError('min')">
                <p class="regime-approval-form__error"> Năm phải lơn hơn năm 1990</p>
            </ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">
                <p class="regime-approval-form__error"> Năm chỉ được tối đa 4 ký tự</p>
            </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</form>
