<div class="page-container">
  <nz-spin [nzSpinning]="isSpinning">
    <div class="page-declarations" [ngClass]="{'page-declarations-hide-last-tab': !usedocumentDT01}" cardFullHeight>
      <nz-tabset nzSize="small" [ngClass]="{'page-adjust-general__tabs-error': tableSubmitErrorCount > 0}" nzTabPosition="bottom" nzSelectedIndex="1" [nzTabBarExtraContent]="extraTemplate" (nzSelectChange)="handleSelectTab($event)">
          <nz-tab [nzTitle]="tabDocument">
            <ng-template #tabDocument>
              <div class="page-adjust-general__tab-title" [ngClass]="{'page-adjust-general__tab-title--error': tableSubmitErrors.documentFomError > 0}">
                Danh mục tài liệu
              </div>
            </ng-template>
          <div class="page-document-list__container">
            <form nz-form [formGroup]="documentForm">
              <h1><strong>{{declarationCode}}</strong> | {{declarationName}}</h1>
              <div nz-row [nzGutter]="10">
                <div nz-col [nzSpan]="12">
                  <nz-form-item>
                    <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="10">Người nộp</nz-form-label>
                    <nz-form-control [nzSpan]="14" [nzErrorTip]="submitterTpl">
                      <input nz-input placeholder="Người nộp" formControlName="submitter"/>
                      <ng-template #submitterTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          <p class="regime-approval-form__error">Người nộp không được để trống</p>
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                      <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="10">Số điện thoại</nz-form-label>
                      <nz-form-control [nzSpan]="14" [nzErrorTip]="mobileTpl">
                        <input nz-input formControlName="mobile" placeholder="Số điện thoại">
                        <ng-template #mobileTpl let-control>
                          <ng-container *ngIf="control.hasError('required')">
                            <p class="regime-approval-form__error">Số điện thoại không được để trống</p>
                          </ng-container>
                          <ng-container *ngIf="control.hasError('pattern')">
                            <p class="regime-approval-form__error">Số điện thoại phải là số</p>
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <h1>Thành phần hồ sơ</h1>
                <div class="document-form__process-table">
                  <div class="document-form__process-table">
                    <app-document-table
                      [data]="documentList"
                      (onChange)="handleChangeProcessTable($event)"
                      (onDelete)="handleDeleteProcessData($event)"
                    ></app-document-table>
                  </div>
                </div>
            </form>
          </div><!-- page-declarations__container -->
        </nz-tab><!-- tab 1-->

        <nz-tab [nzTitle]="returnPaymentOrganization">
            <ng-template #returnPaymentOrganization>
              <div class="page-adjust-general__tab-title" [ngClass]="{'page-adjust-general__tab-title--error': tableSubmitErrors.returnPaymentOrganization > 0}">
                  TK1-TS
              </div>
            </ng-template>
            <div class="page-declarations__container" [ngClass]="{ 'page-declarations__container--hidden': isHiddenSidebar }">
            <app-declaration-sidebar
              tableName="increaseLabor"
              [isHiddenSidebar]="isHiddenSidebar"
              [events]="employeeSubject.asObservable()"
              (onSelectEmployees)="handleSelectEmployees($event)"
              (onToggleSidebar)="handleToggleSidebar()"
              (onUserUpdated)="handleUserUpdated($event)"
              (onUserDeleted)="handleUserDeleted($event)"
              (onUserAdded)="handleUserAdded($event)"
            ></app-declaration-sidebar>

            <div class="page-declarations__content">
              <div class="page-declarations__group-button">
                <div class="page-declarations__buttons">
                  <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button nzType="default" (click)="handleAddEmployee('')">
                    <i nz-icon nzType="user-switch" nzTheme="outline"></i>
                    Hoàn trả tiền
                  </button>
                </div>
                <h1><strong>{{declarationCode}}</strong> | {{declarationName}}</h1>
              </div><!-- page-declarations__group-button -->

              <div class="page-declarations__title">
                <h2>Hoàn trả tiền đã đóng (Đối với người tham gia BHXH tự nguyện, BHYT theo hộ gia đình, BHYT được ngân sách nhà nước hỗ trợ một phần mức đóng BHYT)</h2>
                <form nz-form [formGroup]="form" class="page-declarations__search">
                  <nz-form-item>
                    <nz-form-label [nzNoColon]="true" [nzSpan]="10">Số</nz-form-label>
                    <nz-form-control [nzSpan]="14" [nzErrorTip]="batchTpl">
                      <input nz-input formControlName="batch" (onChange)="handleChangeForm()">
                      <ng-template #batchTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          <p class="regime-approval-form__error">Số tờ khai không để trống</p>
                        </ng-container>
                        <ng-container *ngIf="control.hasError('pattern')">
                          <p class="regime-approval-form__error">Số tờ khai phải số</p>
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label [nzNoColon]="true" [nzSpan]="10">Tháng</nz-form-label>
                    <nz-form-control [nzSpan]="14" [nzErrorTip]="monthTpl">
                      <input nz-input formControlName="month" (onChange)="handleChangeForm()">
                      <ng-template #monthTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          <p class="regime-approval-form__error">Tháng tờ khai không để trống</p>
                        </ng-container>
                        <ng-container *ngIf="control.hasError('min')">
                            <p class="regime-approval-form__error"> Tháng phải lơn hơn 0</p>
                          </ng-container>
                          <ng-container *ngIf="control.hasError('max')">
                              <p class="regime-approval-form__error">Tháng phải nhỏ hơn hoặc bằng 12</p>
                          </ng-container>
                        <ng-container *ngIf="control.hasError('pattern')">
                          <p class="regime-approval-form__error">Tháng tờ khai phải số</p>
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label [nzNoColon]="true" [nzSpan]="10">Năm</nz-form-label>
                    <nz-form-control [nzSpan]="14" [nzErrorTip]="yearTpl">
                      <input nz-input formControlName="year" (onChange)="handleChangeForm()">
                      <ng-template #yearTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          <p class="regime-approval-form__error">Năm tờ khai không để trống</p>
                        </ng-container>
                        <ng-container *ngIf="control.hasError('pattern')">
                          <p class="regime-approval-form__error">Năm tờ khai phải số</p>
                        </ng-container>
                        <ng-container *ngIf="control.hasError('min')">
                            <p class="regime-approval-form__error"> Năm phải lơn hơn năm 1990</p>
                        </ng-container>
                        <ng-container *ngIf="control.hasError('maxlength')">
                            <p class="regime-approval-form__error"> Năm chỉ được tối đa 4 ký tự</p>
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </form>

                <div class="page-declarations__check-code">
                  <button nz-button nzType="default" (click)="checkInsurranceCode($event)">Kiểm tra mã số BHXH</button>
                </div><!-- page-declarations__check-code -->
              </div><!-- page-declarations__title -->

              <div class="page-declarations__editor">
                <app-table-editor-normal
                  tableName="returnPaymentOrganization"
                  [declarationCode]="declarationCode"
                  [declarationName]="declarationName"
                  [nestedHeaders]="tableNestedHeaders"
                  [columns]="tableHeaderColumns"
                  [data]="declarations"
                  [events]="tableSubject.asObservable()"
                  [validate]="validateSubject.asObservable()"
                  (onSubmit)="handleSubmit($event)"
                  (onChange)="handleChangeTable($event)"
                  (onDelete)="handleDeleteData($event)"
                  (onAddRow)="handleAddRow($event)"
                  (onFocus)="handleFocus($event)"
                  (onSort)="handleSort($event)"
                ></app-table-editor-normal>
              </div><!-- page-declarations__editor -->

              <nz-collapse [nzBordered]="false">
                <nz-collapse-panel class="collapse-attachment" [nzHeader]="attachmentHeader" [nzActive]="panel.attachment.active" (nzActiveChange)="collapseChange($event, 'attachment')">
                    <app-labor-attachment [files]="files" [declarationCode] = "declarationCode" [notAllowAttach] ="!allowAttachFile" (onSelectedFileChanged)="handleFileSelected($event)"></app-labor-attachment>
                </nz-collapse-panel>
              </nz-collapse>
              <ng-template #attachmentHeader>
                Tài liệu kèm theo <span class="collapse-attachment-note">(tổng dung lượng &lt; 20MB)</span>
              </ng-template>
            </div><!-- page-declarations__content -->
          </div><!-- page-declarations__container -->
        </nz-tab><!-- tab 2 -->
        <nz-tab [nzTitle]="tabFamily"> <!--[nzDisabled]="!families || !families.length">-->
            <ng-template #tabFamily>
              <div class="page-adjust-general__tab-title" [ngClass]="{'page-adjust-general__tab-title--error': tableSubmitErrors.family > 0}">
                PL TVHD-NLD
              </div>
            </ng-template>
          <div class="page-document-list__container page-document-list__container--note">
            <h1>{{declarationCode}} | {{declarationName}}</h1>
            <h2>PHỤ LỤC THÀNH VIÊN GIA ĐÌNH</h2>
            <div class="document-form__process-table">
              <app-families-list-table
                tableName="family"
                [tableEvent]="eventValidData"
                [data]="families"
                [nestedHeaders]="tableNestedHeadersFamilies"
                [columns]="tableHeaderColumnsFamilies"
                [events]="tableSubject.asObservable()"
                (onChange)="handleChangeDataFamilies($event)"
                (onDelete)="handleDeleteMember($event)"
                (onAddRow)="handleAddMember($event)"
              ></app-families-list-table>
            </div>
          </div>
        </nz-tab><!-- tab 3-->
        <nz-tab [nzTitle]="tabDocumentList">
          <ng-template #tabDocumentList>
              <div class="page-adjust-general__tab-title" [ngClass]="{'page-adjust-general__tab-title--error': tableSubmitErrors.documentList > 0}">
                Bảng kê hồ sơ
              </div>
          </ng-template>
          <div class="page-document-list__container">
            <form nz-form [formGroup]="documentForm">
              <h1><strong>{{declarationCode}}</strong> | {{declarationName}}</h1>
              <h2>Bảng kê thông tin</h2>

              <div class="document-form__process-table">
                <app-document-list-table
                  [data]="informations"
                  tableName="documentList"
                  [nestedHeaders]="tableNestedHeadersDocuments"
                  [columns]="tableHeaderColumnsDocuments"
                  [events]="tableSubject.asObservable()"
                  (onChange)="handleChangeInfomation($event)"
                  (onDelete)="handleDeleteInfomation($event)"
                  (onAddRow)="handleAddDocumentRow($event)"
                ></app-document-list-table>
              </div>
            </form>
          </div>
        </nz-tab>
      </nz-tabset>
      <ng-template #extraTemplate>
        <div class="page-declarations__footer">
          <button nz-button class="page-declarations__footer-export"   nzType="default" nzSize="small" (click)="emitEventToChild('saveAndView')">
            <i nz-icon nzType="upload"></i>Xuất tờ khai
          </button>
          <button nz-button nzType="default" nzSize="small" (click)="emitEventToChild('save')">
            <i nz-icon nzType="save"></i>Lưu nháp
          </button>
          <button nz-button nzType="default" nzSize="small" (click)="emitEventToChild('back')">
            <i nz-icon nzType="folder-open"  nzTheme="outline"></i>Lấy mẫu file
          </button>
          <button nz-button nzType="default" nzSize="small" (click)="emitEventToChild('back')">
            <i nz-icon nzType="database" nzTheme="outline"></i>Nhập Excel
          </button>
          <button nz-button class="page-declarations__navigater-button" nzType="default" nzSize="small" (click)="emitEventToChild('back')">
            <i nz-icon nzType="rollback"></i>Quay lại
          </button>
        </div>
      </ng-template>
    </div>
  </nz-spin>
</div>
