@import "../_colors";

body .ui-accordion .ui-accordion-header {
    background-color: $default-color;
    border: 1px solid $default-secondary-color;
    border-radius: 0;
    font-weight: bold;
    transition: background-color 200ms ease-out;

    &:last-child {
        margin-bottom: 0;
    }
}

body .ui-accordion .ui-accordion-header a {
    height: 34px;
    padding: 8px 10px;
    color: $primary-dark-text-color;
    text-decoration: none;
}

body .ui-accordion .ui-accordion-header a .sds-badge-error {
    margin: 0 5px 0 5px;
}

body .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
    background-color: highlight($default-primary-color);
}

body .ui-accordion .ui-accordion-header:not(.ui-state-disabled):hover {
    background-color: $default-primary-color;
}

body .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover .ui-icon {
    color: $primary-dark-text-color;
}

body .ui-accordion .ui-accordion-header.ui-state-active {
    background-color: $default-secondary-color;
    color: $primary-dark-text-color;
}

body .ui-accordion .ui-accordion-header.ui-state-active a {
    color: $primary-dark-text-color;
}

body .ui-accordion .ui-accordion-header.ui-tabview-outline {
    border: 0 none;
    outline: 0 none;
    background-color: #e6e6e6;
}

body .ui-accordion .ui-accordion-header.ui-tabview-outline.ui-state-active {
    background-color: #0283f1;
}

body .ui-accordion .ui-accordion-content-wrapper {
    margin-top: -1px;
    margin-bottom: 10px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: $default-secondary-color;
}

body .ui-accordion .ui-accordion-header.ui-state-disabled + .ui-accordion-content-wrapper {
    @include disabled();
}

body .ui-accordion .ui-accordion-content {
    padding: 15px;
    border: none;
}

body .ui-accordion .ui-accordion-toggle-icon:before {
    content: "\f067";
}

body .ui-accordion .ui-state-active .ui-accordion-toggle-icon:before {
    content: "\f068";
}
