@import "../_colors";

body .ui-card {
    border: 1px solid $default-secondary-color;

    &-body {
        padding: 0;
    }
    &-title {
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        padding: 15px;
    }
    &-content {
        padding: 15px;
        font-size: 14px;
    }
    &-subtitle {
        opacity: unset;
        color: $secondary-dark-text-color;
        font-weight: normal;
        padding: 0 15px;
        margin: -10px 0 15px;
    }
    &-footer {
        padding: 15px;
        margin: 0;
    }
}

body .ui-card .ui-card-title + .ui-card-content {
    border-top: 1px solid $default-secondary-color;
}
