@import "../_colors";

body .ui-datagrid .ui-datagrid-header {
    padding: 0.75em 1.25em;
    background-color: #fff;
}

body .ui-datagrid .ui-paginator {
    padding: 15px 0 0;
}

body .ui-datagrid {
    & .ui-panel {
        padding: 0;
    }
    & .ui-panel .ui-panel-titlebar {
        color: $primary-dark-text-color;
        padding: 15px;
    }
    & .ui-panel .ui-panel-content {
        padding: 15px;
    }
}