@import "../_colors";

.ui-datatable .ui-sortable-column-icon {
    color: $default-primary-color;
}

.ui-datatable thead th,
.ui-datatable tfoot td {
    text-align: left !important;
}

.ui-datatable {
    & .ui-datatable-header {
        font-weight: bold;
    }
    &.col-icon a {
        color: $primary-dark-text-color;
        &:hover {
            color: highlight($primary-dark-text-color);
        }
    }
}

.ui-datatable.ui-datatable-stacked .ui-datatable-data.ui-widget-content {
    border: 1px solid #ccc !important;
}

body .ui-datatable .ui-datatable-data tr td.ui-editable-column input:focus {
    border: 1px solid #428bca;
}

body .ui-datatable thead th.ui-state-active .ui-sortable-column-icon {
    color: $primary-dark-text-color;
}

.ui-datatable .ui-datatable-data > tr.ui-expanded-row-content:hover {
    background-color: transparent;
}

body .ui-datatable tbody > tr {
    &.ui-state-highlight > td {
        background-color: active($primary-color);
        color: $primary-light-text-color;
    }

    &:not(.sds-expanded-row).ui-state-highlight:hover > td {
        background-color: $primary-color;
        color: $primary-light-text-color;
    }

    &:not(.sds-expanded-row):hover > td {
        background-color: #e5eaea;
    }
}

body .ui-datatable .ui-datatable-header,
body .ui-datatable .ui-datatable-footer {
    padding: 0.75em 1.25em;
    background-color: #fff;
}

body .ui-datatable .ui-editable-column.ui-cell-editing .ui-cell-editor {
    font-size: medium;
}

body .ui-datatable .ui-paginator {
    padding: 0.75em 0;
}

body .ui-datatable .ui-datatable-thead > tr > th,
body .ui-datatable .ui-datatable-tfoot > tr > td {
    background-color: #fff;
    padding: 10px;
    border-color: #ccc;
    color: $primary-dark-text-color;
}

body .ui-datatable thead th.ui-sortable-column:not(.ui-state-active):hover {
    background-color: #e5eaea;
}

body .ui-datatable thead th.ui-state-active {
    background-color: #ccc;
    border-color: #ccc;
    color: $primary-dark-text-color;
}

body .ui-datatable thead th.ui-state-active .ui-dropdown-item {
    color: $primary-dark-text-color;
}

body .ui-datatable thead th:focus {
    outline: 0 none;
    background-color: #fff;
}

body .ui-datatable thead th:focus.ui-state-active {
    background-color: #248bca;
}

body .ui-datatable tfoot th.ui-state-default {
    background-color: #fff;
    padding: 5px 10px;
    border-color: #ccc;
    color: $primary-dark-text-color;
}

body .ui-datatable .ui-datatable-data tr.ui-datatable-even {
    background-color: #f1f1f1;
}

body .ui-datatable .ui-datatable-data tr.ui-state-highlight,
body .ui-datatable .ui-datatable-data tr.ui-datatable-even.ui-state-highlight,
body .ui-datatable .ui-datatable-data tr.ui-datatable-even.ui-state-highlight:hover {
    background-color: active($primary-color);
    color: $primary-light-text-color;
}

body .ui-datatable .ui-datatable-data.ui-datatable-hoverable-rows > tr.ui-widget-content:not(.ui-state-highlight):hover {
    background-color: #e5eaea;
    cursor: pointer;
}

body .ui-datatable .ui-datatable-data tr.ui-row-editing.ui-datatable-odd,
body .ui-datatable .ui-datatable-data tr.ui-row-editing.ui-datatable-even {
    border-color: #ccc;
    border-bottom-color: active($primary-color);
}

body .ui-datatable .ui-datatable-data > tr > td {
    padding: 10px;
}

body .ui-datatable .ui-datatable-data tr td.ui-editable-column input {
    width: 100%;
    box-sizing: border-box;
    border: 0 none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 4px;
}

body .ui-datatable .ui-datatable-scrollable-header,
body .ui-datatable .ui-datatable-scrollable-footer {
    background-color: #fff;
}

body .ui-datatable .ui-datatable-scrollable-header .ui-datatable-scrollable-header-box td,
body .ui-datatable .ui-datatable-scrollable-footer .ui-datatable-scrollable-header-box td {
    color: $primary-dark-text-color;
}

body .ui-datatable .ui-datatable-data tr.ui-rowgroup-header {
    font-weight: bold;
}

body .ui-datatable .ui-rowgroup-header {
    color: $primary-dark-text-color;
}

body .ui-datatable .ui-rowgroup-header a {
    color: $primary-dark-text-color;
}
