@import "../_colors";

body .ui-autocomplete-panel .ui-autocomplete-list {
    padding: 0;
}

body .ui-tieredmenu {
    border: 1px solid $default-secondary-color;
}

body .ui-autocomplete-panel li.ui-autocomplete-list-item,
body .ui-dropdown-panel li.ui-dropdown-item,
body .ui-tieredmenu li.ui-menuitem {
    margin: 0;
    min-height: 20px;
    display: flex;
    transition: background-color 200ms ease-out, color 200ms ease-out, border-color 200ms ease-out;
}

body .ui-tieredmenu .ui-menuitem-link {
    color: $primary-dark-text-color !important;
}

body .ui-tieredmenu .ui-menuitem-link.ui-state-active {
    color: $primary-light-text-color !important;
}

body .ui-autocomplete-panel li.ui-autocomplete-list-item:hover,
body .ui-dropdown-panel li.ui-dropdown-item:hover,
body .ui-tieredmenu li.ui-menuitem:hover {
    color: $primary-dark-text-color;
    background-color: highlight($default-primary-color);
}

body .ui-dropdown-panel li.ui-dropdown-item.ui-state-highlight:hover,
body .ui-tieredmenu li.ui-menuitem .ui-menuitem-link.ui-state-active:hover {
    color: $primary-light-text-color;
    background-color: highlight($primary-color);
}

body .ui-autocomplete-panel li.ui-autocomplete-list-item,
body .ui-dropdown-panel li.ui-dropdown-item,
body .ui-tieredmenu .ui-menuitem-link {
    margin: 0;
    padding: 5px 10px;
    flex: 1;
    border-radius: 4px;
    transition: background-color 200ms ease-out, color 200ms ease-out, border-color 200ms ease-out;
}

body .ui-autocomplete-panel,
body .ui-dropdown-panel {
    padding: 0;
}

body .ui-tieredmenu,
body .ui-tieredmenu .ui-submenu-list,
body .ui-autocomplete-panel .ui-autocomplete-items,
body .ui-dropdown-panel .ui-dropdown-list {
    padding: 5px;
}

body .ui-tieredmenu,
body .ui-tieredmenu .ui-submenu-list {
    width: 240px;
}

body .ui-tieredmenu .ui-menuitem-icon {
    margin-right: 10px;
}

body .ui-tieredmenu .ui-menu-separator {
    margin: 5px 0;
    border: none;
    height: 1px;
    background-color: $default-secondary-color;
}

body .ui-tieredmenu .ui-menuitem-link .ui-menuitem-text {
    vertical-align: baseline;
}
