@import "../_colors";

body .ui-menu .ui-menuitem {
  margin: 0;
}

.ui-menu .ui-menuitem-link {
  cursor: pointer;
  padding: .25em;
  display: block;
  text-decoration: none;
}

.ui-menu .ui-menuitem-icon {
  margin-right: .25em;
  vertical-align: middle;
}

.ui-menu .ui-menuitem-text {
  vertical-align: middle;
}

body .ui-menu .ui-menuitem-link .ui-menuitem-text,
body .ui-menubar .ui-menuitem-link .ui-menuitem-text,
body .ui-tieredmenu .ui-menuitem-link .ui-menuitem-text,
body .ui-contextmenu .ui-menuitem-link .ui-menuitem-text,
body .ui-megamenu .ui-menuitem-link .ui-menuitem-text,
body .ui-slidemenu .ui-menuitem-link .ui-menuitem-text {
  color: $primary-dark-text-color;
}

body .ui-menu .ui-menuitem-link,
body .ui-menubar .ui-menuitem-link,
body .ui-tieredmenu .ui-menuitem-link,
body .ui-contextmenu .ui-menuitem-link,
body .ui-megamenu .ui-menuitem-link,
body .ui-slidemenu .ui-menuitem-link {
  padding: 0.714em 0.857em;
  color: $primary-dark-text-color;
  font-weight: normal;
  border-radius: 0;
  transition: box-shadow 0.2s;
}

body .ui-menu .ui-menuitem-link .ui-menuitem-icon,
body .ui-menubar .ui-menuitem-link .ui-menuitem-icon,
body .ui-tieredmenu .ui-menuitem-link .ui-menuitem-icon,
body .ui-contextmenu .ui-menuitem-link .ui-menuitem-icon,
body .ui-megamenu .ui-menuitem-link .ui-menuitem-icon,
body .ui-slidemenu .ui-menuitem-link .ui-menuitem-icon {
  color: $primary-dark-text-color;
  margin-right: 0.5em;
}

body .ui-menu .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-icon,
body .ui-menubar .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-icon,
body .ui-tieredmenu .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-icon,
body .ui-contextmenu .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-icon,
body .ui-megamenu .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-icon,
body .ui-slidemenu .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-icon {
  color: $primary-color;
}

body .ui-menu .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-text,
body .ui-menubar .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-text,
body .ui-tieredmenu .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-text,
body .ui-contextmenu .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-text,
body .ui-megamenu .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-text,
body .ui-slidemenu .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-text {
  color: $primary-color;
}

body .ui-menu .ui-menuitem-link:hover,
body .ui-menubar .ui-menuitem-link:hover,
body .ui-tieredmenu .ui-menuitem-link:hover,
body .ui-contextmenu .ui-menuitem-link:hover,
body .ui-megamenu .ui-menuitem-link:hover,
body .ui-slidemenu .ui-menuitem-link:hover {
  background-color: #eaeaea;
}
