@import "../_colors";

$message-summary-color: $primary-dark-text-color !default;
$message-detail-color: $secondary-dark-text-color !default;
$message-icon-color: $primary-light-text-color !default;

$message-success-primary-color: #8bc051 !default;
$message-success-bg-color: #f7ffe7 !default;

$message-info-primary-color: #428bca !default;
$message-info-bg-color: #f1f7f8 !default;

$message-warning-primary-color: #fcbf10 !default;
$message-warning-bg-color: #fef4e3 !default;

$message-error-primary-color: #eb5b5c !default;
$message-error-bg-color: #fef0f0 !default;

body .ui-message .ui-message-text {
    color: $message-summary-color;
    margin-left: 10px;
}

body .ui-message {
    border: none;
    border-left: 5px solid;
    padding: 5px 10px;
    height: 34px;

    &.ui-message-success {
        background-color: $message-success-bg-color;
        border-color: $message-success-primary-color;

        .ui-message-icon {
            color: $message-success-primary-color;
        }
    }

    &.ui-message-info {
        background-color: $message-info-bg-color;
        border-color: $message-info-primary-color;

        .ui-message-icon {
            color: $message-info-primary-color;
        }

        .ui-message-icon::before {
            content: "\f129";
        }
    }

    &.ui-message-warn {
        background-color: $message-warning-bg-color;
        border-color: $message-warning-primary-color;

        .ui-message-icon {
            color: $message-warning-primary-color;
        }
    }

    &.ui-message-error {
        background-color: $message-error-bg-color;
        border-color: $message-error-primary-color;

        .ui-message-icon {
            color: $message-error-primary-color;
        }
    }
}
