@import "../_colors";

body .ui-multiselect {
    background: $default-color;
    padding: 5px 10px;
    border: 1px solid $default-primary-color;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 34px;
    min-width: 150px;
    max-width: 100%;
}

body .ui-multiselect .ui-multiselect-trigger {
    border-radius: 0 4px 4px 0;
    background: $default-color;
    border-left: 1px solid $default-primary-color;
    width: 34px;
    transition: background-color 200ms ease-out;
}

body .ui-multiselect:not(.ui-state-disabled):hover {
    color: $primary-dark-text-color;
}

body .ui-multiselect:not(.ui-state-disabled):hover .ui-multiselect-trigger {
    background-color: highlight($default-primary-color);
}

body .ui-multiselect .ui-multiselect-trigger .ui-multiselect-trigger-icon {
    margin-top: -6px;
    margin-left: -4px;

    &::before {
        content: "\f0d7";
    }
}

body .ui-multiselect:not(.ui-state-disabled) .ui-multiselect-trigger:hover {
    background-color: highlight($default-primary-color);
}

body .ui-multiselect .ui-multiselect-panel,
body .ui-dropdown-panel .ui-dropdown-items {
    min-width: 110px;
    font-size: 14px;
}

body .ui-multiselect-panel .ui-multiselect-header {
    border: none;
    margin-bottom: 10px;
    padding: 0 10px;
}

body .ui-multiselect-panel .ui-multiselect-header .ui-multiselect-close {
    color: $primary-dark-text-color;
}

body .ui-multiselect-panel .ui-multiselect-item {
    margin: 0;
    padding: 10px;
    transition: background-color 200ms ease-out;
}

body .ui-multiselect-panel .ui-multiselect-item:not(.ui-state-highlight):hover,
body .ui-multiselect-panel .ui-multiselect-item.ui-state-highlight:hover {
    background-color: highlight($default-primary-color) !important;
    color: $primary-dark-text-color;
}

body .ui-multiselect-panel .ui-multiselect-item.ui-state-highlight {
    background-color: transparent;
    color: $primary-dark-text-color;
}

body .ui-multiselect-panel .ui-multiselect-item.ui-state-highlight .ui-chkbox {
    border: none;
}

body .ui-multiselect-panel .ui-multiselect-item > td {
    padding: 5px 10px;
}

body .ui-multiselect {
    .ui-multiselect-label-container {
        height: 100%;
    }

    & .ui-multiselect-label {
        padding: 0 20px 0 0 !important;
    }
}

body .ui-multiselect-panel .ui-multiselect-header .ui-multiselect-filter-container {
    width: calc(100% - 35px);
    padding: 0 10px;

    .ui-inputtext {
        font-size: 14px;
        padding: 5px 10px;
    }
}
body .ui-multiselect-panel .ui-multiselect-header .ui-multiselect-close {
    display: none;
}

body .ui-multiselect-header .ui-multiselect-filter-container .ui-multiselect-filter-icon {
    display: none;
}

body .ui-multiselect-panel {
    min-width: 14em !important;

    .ui-multiselect-list {
        font-size: 14px !important;
    }

    .ui-multiselect-item .ui-chkbox {
        margin-right: 10px;
    }

    .ui-multiselect-item label {
        margin-bottom: 0;
        vertical-align: baseline;
    }
}

body .ui-multiselect-panel {
    padding: 10px;
}
