@import "../_colors";
@import "../_queries";

body .ui-paginator .ui-paginator-right-content {
    margin-left: auto;
    height: 100%;
    padding-top: 5px;
    padding-left: 20px;
}

body .ui-paginator .ui-paginator-element {
    background-color: $default-color;
    font-weight: normal;
}

body .ui-paginator {
    padding: 0.75em 0;
    box-sizing: border-box;
    text-align: left;
    border-color: transparent;
    display: flex;
    display: -ms-flexbox;
}

body .ui-paginator .ui-paginator-first:before,
body .ui-paginator .ui-paginator-prev:before,
body .ui-paginator .ui-paginator-next:before,
body .ui-paginator .ui-paginator-last:before {
    position: relative;
    top: 0.063em;
}

body .ui-paginator .ui-paginator-prev {
    border-radius: 0;
}

body .ui-paginator .ui-paginator-next {
    border-radius: 0;
}

body .ui-paginator .ui-paginator-first,
body .ui-paginator .ui-paginator-last {
    .ui-paginator-icon {
        font-size: 12px;
    }
}

body .ui-paginator .ui-paginator-pages {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

body .ui-paginator .ui-paginator-first,
body .ui-paginator .ui-paginator-prev,
body .ui-paginator .ui-paginator-next,
body .ui-paginator .ui-paginator-last,
body .ui-paginator .ui-paginator-pages .ui-paginator-page {
    padding: 0.4em 0;
    color: $primary-color;
    transition: background-color 200ms ease-out;
    border-radius: 0;
    border: 1px solid $default-primary-color;
    border-width: 1px 0 1px 1px;
    text-align: center;
    width: 2.55em;
    height: 2.55em;
    margin: 0;

    &:hover {
        background-color: highlight($default-secondary-color);
    }

    &.ui-state-active:hover {
        background-color: highlight($primary-color);
        border-color: highlight($primary-color);
    }
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    color: $primary-light-text-color;
    border: 1px solid $primary-color;
    background: $primary-color;
}

body .ui-paginator {
    .ui-paginator-first {
        border-radius: 4px 0 0 4px;
    }

    .ui-paginator-last {
        border-right-width: 1px;
        border-radius: 0 4px 4px 0;
    }

    .ui-dropdown {
        height: 34px;
        border: none;
        margin-left: 20px !important;
    }

    .ui-dropdown .ui-dropdown-label {
        border: 1px solid #ccc !important;
        font-size: 14px !important;
    }
}

.ui-paginator .ui-dropdown {
    width: 100% !important;
}

.sds-extended-paginator .ui-dropdown-panel {
    top: -210px !important;
}

.sds-extended-paginator .ui-dropdown-panel .ui-dropdown-items-wrapper {
    max-height: 250px !important;
}

p-paginator .ui-dropdown.ui-state-focus .ui-dropdown-label,
p-paginator .ui-dropdown:not(.ui-state-disabled):hover .ui-dropdown-label {
    background-color: transparent !important;
}

@media #{$sm-devices} {
    body .ui-paginator {
        flex-wrap: wrap;

        & .ui-paginator-pages .ui-paginator-page {
            &:not(.ui-state-active) {
                display: none;
            }
        }

        & .ui-paginator-right-content {
            float: none;
            margin-left: 0;
            margin-top: 10px;
            padding-left: 0;
        }
    }

}
