@import "../_colors";
@import "../_queries";

body .ui-scrollpanel .ui-scrollpanel-wrapper {
    border-right: 8px solid transparent;
}

body .ui-scrollpanel .ui-scrollpanel-bar {
    opacity: 1;
    background-color: $default-secondary-color;
    transition: background-color 200ms ease-out;
    border-radius: 0;

    &.ui-scrollpanel-grabbed {
        background-color: active($default-primary-color);
    }
}

body .ui-scrollpanel:hover .ui-scrollpanel-bar {
    background-color: $default-primary-color;

    &.ui-scrollpanel-grabbed {
        background-color: active($default-primary-color);
    }
}
