@import "../_colors";

body .ui-selectbutton.ui-buttonset .ui-button {
    background-color: $default-color;
    border-color: $default-primary-color;
}

body .ui-selectbutton.ui-buttonset .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover {
    background-color: highlight($default-primary-color);
    color: $primary-dark-text-color;
}

body .ui-selectbutton.ui-buttonset .ui-button.ui-state-active {
    background-color: active($default-primary-color);
    color: $primary-dark-text-color;
}

body .ui-selectbutton.ui-buttonset .ui-button + .ui-button {
    border-left: none;
    margin-left: 0;
}
