@import "../_colors";

body .ui-steps {
    position: relative;
}

body .ui-steps .ui-steps-item {
    background-color: transparent;
    text-align: center;
}

body .ui-steps .ui-steps-item.ui-state-disabled {
    opacity: 1;
    filter: alpha(opacity=100);
}

body .ui-steps .ui-steps-item .ui-menuitem-link {
    display: inline-block;
    text-align: center;
    background-color: transparent;
    overflow: hidden;
}

body .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-number {
    display: inline-block;
    background-color: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 4px 10px;
    color: #999;
    position: relative;
    width: 28px;
    margin-top: 0;
    font-size: 16px;
    top: 14px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
}

body .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-title {
    display: block;
    margin-top: 6px;
    color: #999;
}

body .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-number {
    background-color: #428bca;
    color: $primary-light-text-color;
    border-color: #428bca;
}

body .ui-steps .ui-steps-item:not(.ui-state-highlight) .ui-steps-number:hover {
    background-color: #e5eaea;
}

body .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-title {
    font-weight: 700;
    color: $primary-dark-text-color;
}

body .ui-steps .ui-steps-item:last-child .ui-menuitem-link {
    display: block;
}

body .ui-steps:before {
    content: " ";
    border: 1px solid #428bca;
    width: 100%;
    top: 45%;
    left: 0;
    display: block;
    position: absolute;
}
