@import "../_colors";

.ui-chips-token,
.ui-autocomplete-token {
    color: $primary-dark-text-color !important;
    background-color: #ccc !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    font-size: 12px !important;
}

.ui-chips-token,
.ui-autocomplete-token {
    height: 20px;
    vertical-align: top !important;
    margin: 2px 8px 2px 2px;
    max-width: 200px;
}

.sds-token {
    height: 24px;
    max-height: 24px;
    padding: 2px 5px !important;
    margin: 2px 5px 0 0 !important;
    font-size: 12px !important;
    vertical-align: top;
    max-width: unset;
}

.ui-chips-token:hover,
.ui-autocomplete-token:hover {
    background-color: #e5eaea !important;
    cursor: pointer;
}

.ui-chips-token-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ui-chips-token .ui-chips-token-icon,
.ui-autocomplete-token .ui-autocomplete-token-icon {
    font-size: 14px !important;
    margin-left: 10px;
}

.sds-token .sds-token-icon {
    top: 4px !important;
}

.ui-chips-input-token,
.ui-autocomplete-input-token {
    padding: 0 !important;
}

.ui-chips-input-token input,
.ui-autocomplete-input-token input {
    font-size: 14px !important;
}

.sds-token {
    @extend .ui-chips-token;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    display: inline-block;
    font-weight: 400 !important;
    text-transform: none;
    &-icon {
        @extend .ui-chips-token-icon;
    }
    &-list {
        padding: 0;
    }
}
