@import "../_colors";

body .ui-tooltip {
    max-width: 220px;
    pointer-events: none;
}

body .ui-tooltip .ui-tooltip-text {
    background-color: #333333;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

body .ui-tooltip .ui-tooltip-bottom .ui-tooltip-arrow {
    border-bottom-color: #333333;
}

body .ui-tooltip .ui-tooltip-top .ui-tooltip-arrow {
    border-top-color: #333333;
}

body .ui-tooltip .ui-tooltip-right .ui-tooltip-arrow {
    border-right-color: #333333;
}

body .ui-tooltip .ui-tooltip-left .ui-tooltip-arrow {
    border-left-color: #333333;
}
