<div class="page-card">
  <h1>IVAN</h1>

  <form nz-form [formGroup]="ivanForm" class="ivan">
    <div nz-row>
      <div nz-col nzMd="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="10">Hạn sử dụng</nz-form-label>
          <nz-form-control
            [nzSpan]="14"
          >
            <input nz-input formControlName="expire">
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="10">Ngày hết hạn</nz-form-label>
          <nz-form-control
            [nzSpan]="14"
          >
            <nz-date-picker nzPlaceHolder="--Chọn--" formControlName="expireDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div class="ivan__group-button">      
      <button nz-button nzType="primary" type="submit">Gia hạn</button>
    </div>
  </form><!-- ivan -->
</div>
