<form nz-form [formGroup]="form" class="notificationEmails-form">
  <div class="page-container">
    <div class="page-company" cardFullHeight>
      <div class="page-company__blank"></div>
      <div class="page-company__main">
        <h1>I. THÔNG TIN CHI TIẾT GỬI EMAIL</h1>
        <div nz-row nzGutter="10">
          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="6">
                {{ 'system.notificationEmails.form.title' | translate }}
              </nz-form-label>
              <nz-form-control [nzSpan]="18">
                <input nz-input placeholder="{{ 'system.notificationEmails.form.title' | translate }}"
                  formControlName="title" readonly />
              </nz-form-control>
            </nz-form-item>
          </div><!-- col -->
        </div>
        <div nz-row nzGutter="10">
          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="6">
                {{ 'system.notificationEmails.form.to' | translate }}
              </nz-form-label>
              <nz-form-control [nzSpan]="18" [nzErrorTip]="toError">
                <input nz-input placeholder="{{ 'system.notificationEmails.form.to' | translate }}"
                  formControlName="to" />
                <ng-template #toError let-control>
                  <ng-container *ngIf="validateControl('to') && hasError('to', 'required')">
                    {{ 'system.notificationEmails.form.to' | translate }} không được để trống
                  </ng-container>

                  <ng-container *ngIf="validateControl('to') && hasError('to', 'pattern')">
                    {{ 'system.notificationEmails.form.to' | translate }} không hợp lệ
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div><!-- col -->
        </div>
        <div nz-row nzGutter="10">
          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="6">
                {{ 'system.notificationEmails.form.body' | translate }}</nz-form-label>
              <nz-form-control [nzSpan]="18" [nzErrorTip]="bodyError" class="item-left-2">
                <textarea nz-input placeholder="{{ 'system.notificationEmails.form.body' | translate }}"
                  formControlName="body" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
                <ng-template #bodyError let-control>
                  <ng-container *ngIf="validateControl('body') && hasError('body', 'required')">
                    {{ 'system.notificationEmails.form.body' | translate }} không được để trống
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>


        <div nz-row nzGutter="10">
          <div nz-col [nzSpan]="6">&nbsp;</div>
          <div nz-col [nzSpan]="12">
            <nz-checkbox-wrapper>
              <label nz-checkbox formControlName="status">{{ 'system.products.form.status' | translate }} </label>
            </nz-checkbox-wrapper>
          </div>
        </div>

        <div nz-row nzGutter="8">
          <div nz-col nzMd="24" class="footer-botton">
            <button class="employee-form__button-save" [disabled]="!form.valid" nz-button nzType="primary" (click)="save()">Lưu</button>
            <button class="employee-form__button-back" nz-button nzType="default"
              [routerLink]="['/notificationEmails/list']">Quay
              lại</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
