<!-- <div class="department">
  <table class="department-table">
    <tbody>
      <tr *ngFor="let row of rows">
        <td width="5%" class="text-center">{{ row.no }}</td>
        <td width="35%">
          <input nz-input nzSize="small" placeholder="Nhập mã phòng ban" [(ngModel)]="row.departmentCode" />
        </td>
        <td width="60%" class="text-right">
          <input nz-input nzSize="small" placeholder="Nhập tên phòng ban" [(ngModel)]="row.departmentName" />
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

<nz-table #basicTable nzBordered [nzData]="rows" class="editable-row">
  <thead>
    <tr>
      <th>STT</th>
      <th>Mã phòng ban</th>
      <th>Tên phòng ban</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td class="text-center">{{ row.no }}</td>
      <td>
        <input nz-input nzSize="small" placeholder="Nhập mã phòng ban" [(ngModel)]="row.departmentCode" />
      </td>
      <td>
        <input nz-input nzSize="small" placeholder="Nhập tên phòng ban" [(ngModel)]="row.departmentName" />
      </td>
    </tr>
  </tbody>
</nz-table>
