<div class="auth-layout">
  <header class="header">
    <div class="container">
      <div class="header__container">
        <a [routerLink]="['/']" class="header__logo">
          <img src="/assets/img/logo.png" alt="Bảo hiểm xã hội">
          <span>{{'common.title' | translate}}</span>
        </a>
        <div></div>
        <div class="header__languages">
          <!-- <p-dropdown [options]="languages" [(ngModel)]="selectedLanguage"></p-dropdown> -->
        </div>
      </div>
    </div>
  </header>

  <section class="body">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      {{'common.footer.copyright' | translate}}
    </div>
  </footer>
</div>
