<div class="auth-layout">
  <div class="auth-layout-side">
    <div class="auth-layout-side__logo">
      <img src="/assets/img/auth-logo4.png">
    </div>
    <div class="auth-layout-side__service">
      <img src="/assets/img/auth-service.png">
    </div>
    <div class="auth-layout-side__contact">
      <p class="auth-layout-side__support">Tổng đài hỗ trợ: <span class="auth-layout-side__support-phone">0901 80 16 18</span></p>
      <p>
        <span class="auth-layout-side__email">Email : info@minvoice.vn</span>
        <span class="auth-layout-side__website">Website : mbhxh.vn</span>
      </p>
    </div>
    <div class="auth-layout-side__description">
      Dịch vụ hóa đơn điện tử M-invoice
    </div>
  </div><!-- auth-layout-logo -->

  <div class="auth-layout-container">
    <div class="auth-layout-container__overlay"></div>

    <div class="auth-layout-content">
      <div class="auth-layout-content__form">
        <router-outlet></router-outlet>
      </div><!-- auth-layout-content__form -->

      <div class="auth-layout-content__footer">
        <div class="auth-layout-content__socials">
          <a href="https://fb.com" class="auth-layout-content__social">
            <img src="/assets/img/icon-facebook.png">
          </a>
          <a href="https://youtube.com" class="auth-layout-content__social">
            <img src="/assets/img/icon-youtube2.png">
          </a>
          <a href="https://youtube.com" class="auth-layout-content__social">
            <img src="/assets/img/icon-home.png">
          </a>
        </div>
        <p class="auth-layout-content__copyright">
          &copy; Copyright 2020
        </p>
      </div><!-- auth-layout-content__footer -->
    </div>
  </div><!-- auth-layout-content -->
</div>
