.auth-layout {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  height: 80px;
  background: #fff;
  padding-top: 15px;

  &__container {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
  }

  &__logo {
    display: inline-block;
    height: 50px;
    color: #2e3440;
    line-height: 50px;

    span {
      margin-left: 10px;
      display: inline-block;
      vertical-align: top;
      font-size: 18px;
      font-weight: 700;
    }

    img {
      height: 100%;
    }
  }
}

.body {
  height: calc(100% - 110px);
  width: 100%;
  background: url('/assets/img/auth-bg.jpg') no-repeat;
  position: relative;
}

.footer {
  height: 30px;
  line-height: 30px;
  background: #2e3440;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-size: 12px;
}
