<div class="layout-wrapper" [ngClass]="{'layout-wrapper-static': isSidebarStatic}">
  <div class="layout-sidebar"
    [ngClass]="{ 'layout-sidebar--active': isSidebarActivated }"
    (mouseenter)="handleActiveSidebar(true)"
    (mouseleave)="handleActiveSidebar(false)"
  >
    <div class="sidebar-logo">
      <a class="sidebar-pin" title="Toggle Menu" (click)="handleStaticSidebar($event)">
        <i class="pi pi-lock" *ngIf="isSidebarStatic"></i>
        <i class="pi pi-lock-open" *ngIf="!isSidebarStatic"></i>
      </a>
      <a [routerLink]="['/']">
        <img alt="logo" src="/assets/img/logo.png" alt="{{'common.title' | translate}}">
        <span class="app-name">{{'common.title' | translate}}</span>
      </a>
    </div>

    <div class="layout-menu-container">
      <ul class="layout-menu">
        <li>
          <a [routerLink]="['/']">
            <span class="menuitem-text">Trang chủ</span>
            <i class="pi pi-fw pi-home"></i>
          </a>
        </li>
        <li>
          <a [routerLink]="['/categories/documents']">
            <span class="menuitem-text">Danh mục loại hồ sơ</span>
            <i class="pi pi-fw pi-copy"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="layout-main">
    <div class="layout-topbar">
      <div class="layout-topbar-wrapper">
        <form class="search-input-wrapper">
          <input type="text" pInputText placeholder="{{'common.search' | translate}}" />
          <i class="pi pi-search"></i>
        </form>
        <div class="profile-item-container" (click)="menu.toggle($event)">
          <div class="profile-item">
            <span class="profile-image-wrapper">
              <img alt="mirage-layout" src="/assets/img/avatar-eklund.png">
            </span>
            <span class="profile-info-wrapper">
              <h3>Vương</h3>
            </span>
            <p-menu appendTo="body" #menu [popup]="true" [model]="menuItems"></p-menu>
          </div>
        </div>
      </div>
    </div>

    <div class="layout-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
