<div class="layout-wrapper">
  <header class="layout-header">
    <div class="layout-header__left">
      <a [routerLink]="['/']" class="logo">
        <img src="/assets/img/logo_login1.png" alt="{{'common.title' | translate}}">
      </a>
      <div class="profile-item-container" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
        <span class="profile-image-wrapper">
          <img alt="mirage-layout" src="/assets/img/avatar-eklund.png">
          <i nz-icon nzType="caret-down" nzTheme="outline"></i>
        </span>
      </div>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <a [routerLink]="['/register-ivan']"><i nz-icon nzType="setting" nzTheme="outline"></i> {{'common.headerMenu.register' | translate}}</a>
          </li>
          <li nz-menu-item (click)="handleLogout()"><i nz-icon nzType="logout"
              nzTheme="outline"></i>{{'common.headerMenu.logout' | translate}}</li>
        </ul>
      </nz-dropdown-menu>
    </div><!-- layout-header__left -->

    <div class="layout-header__right">
      <ul class="layout-menu">
        <li class="layout-menu__item layout-menu__item--active">
          <a [routerLink]="['/']" class="layout-menu__link">
            <span class="layout-menu__icon">
              <i nz-icon nzType="home" nzTheme="fill"></i>
            </span>
            <span class="layout-menu__text">Trang chủ</span>
          </a>
        </li>
        
        <li class="layout-menu__item" [hidden]="!permissions[pmsConf.employees.R] && !permissions[pmsConf.account.R] && !permissions[pmsConf.emailActive.R]">
          <a class="layout-menu__link" nz-dropdown nzTrigger="click" [nzDropdownMenu]="systemMenu"
            [nzOverlayClassName]="'header-dropdown-menu'">
            <span class="layout-menu__icon">
              <i nz-icon nzType="setting" nzTheme="fill"></i>
            </span>
            <span class="layout-menu__text">Hệ thống</span>
          </a>
          <nz-dropdown-menu #systemMenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item [hidden]="!permissions[pmsConf.employees.R]"><a [routerLink]="['/employees']"><i nz-icon
                    nzType="user" nzTheme="outline"></i>Quản lý người lao động</a></li>
              <li nz-menu-item [hidden]="!permissions[pmsConf.account.R]"><a [routerLink]="['/account-management/list']"><i nz-icon nzType="user" nzTheme="outline"></i>
                Danh sách tài khoản</a></li>
              <li nz-menu-item [hidden]="!permissions[pmsConf.emailActive.R]"><a [routerLink]="['/emails-notification/list']"><i nz-icon nzType="notification"
                nzTheme="outline"></i> Thông báo gửi Email</a></li>
            <li nz-menu-item [hidden]="!permissions[pmsConf.emailActive.R]"><a [routerLink]="['/research-connection/list']"><i nz-icon nzType="notification"
                nzTheme="outline"></i> Tra cứu kết quả nộp tờ khai đơn vị</a></li>
            </ul>
          </nz-dropdown-menu>
        </li>
        <li class="layout-menu__item" [hidden]="!permissions[pmsConf.customer.R] && !permissions[pmsConf.agencies.R]">
          <a class="layout-menu__link" nz-dropdown nzTrigger="click" [nzDropdownMenu]="categoryMenu"
            [nzOverlayClassName]="'header-dropdown-menu'">
            <span class="layout-menu__icon">
              <i nz-icon nzType="container" nzTheme="fill"></i>
            </span>
            <span class="layout-menu__text">Danh mục</span>
          </a>
          <nz-dropdown-menu #categoryMenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item [hidden]="!permissions[pmsConf.agencies.R]" ><a [routerLink]="['/agencies/list']"><i nz-icon nzType="team" nzTheme="outline"></i>Danh
                  sách đại lý</a></li>
              <li nz-menu-item [hidden]="!permissions[pmsConf.customer.R]"><a [routerLink]="['/customers/list']"><i nz-icon nzType="team" nzTheme="outline"></i>Danh
                  sách khách hàng</a></li>
            </ul>
          </nz-dropdown-menu>
        </li>
        <li class="layout-menu__item"
          [hidden]="!permissions[pmsConf.increase_labor.R] && !permissions[pmsConf.reduction_labor.R] && !permissions[pmsConf.adjust.R] && !permissions[pmsConf.arrears.R] && !permissions[pmsConf.adjust_general.R] && !permissions[pmsConf.regime_approval.R]">
          <a class="layout-menu__link" nz-dropdown nzTrigger="click" [nzDropdownMenu]="declarationOrganization"
            [nzOverlayClassName]="'header-dropdown-menu'">
            <span class="layout-menu__icon">
              <i nz-icon nzType="delivered-procedure" nzTheme="outline"></i>
            </span>
            <span class="layout-menu__text">Tổ chức</span>
          </a>
          <nz-dropdown-menu #declarationOrganization="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item [hidden]="!permissions[pmsConf.increase_labor.R]"><a
                  [routerLink]="['/declarations/increase-labor']"><i nz-icon nzType="arrow-up" nzTheme="outline"></i>600 Báo
                  tăng lao động</a></li>
              <li nz-menu-item [hidden]="!permissions[pmsConf.reduction_labor.R]"><a
                  [routerLink]="['/declarations/reduction-labor']"><i nz-icon nzType="arrow-down"
                    nzTheme="outline"></i> 600a Báo giảm lao động</a></li>
              <li nz-menu-item [hidden]="!permissions[pmsConf.adjust.R]"><a [routerLink]="['/declarations/adjust']"><i
                    nz-icon nzType="form" nzTheme="outline"></i>600b Điều chỉnh chức danh, mức đóng</a></li>
              <li nz-menu-item [hidden]="!permissions[pmsConf.adjust.R]"><a [routerLink]="['/declarations/pending-retirement']"><i
                      nz-icon nzType="form" nzTheme="outline"></i>600c Tạm dừng đóng vào quỹ hưu trí và tử tuất</a></li>
              <li nz-menu-item [hidden]="!permissions[pmsConf.adjust.R]"><a [routerLink]="['/declarations/pending-retirement-covid']"><i
                        nz-icon nzType="form" nzTheme="outline"></i>600d Tạm dừng đóng vào quỹ hưu trí và tử tuất do ảnh hưởng của dịch Covid 19</a></li>
              <li nz-menu-item [hidden]="!permissions[pmsConf.adjust_general.R]"><a
                        [routerLink]="['/declarations/adjust-general']"><i nz-icon nzType="dribbble-square"
                          nzTheme="outline"></i>601 Truy thu (Trường hợp vi phạp quy định của pháp luật về đóng BHXH.BHYT, BHTNLĐ,
                        BNN)</a></li>
              <li nz-menu-item [hidden]="!permissions[pmsConf.arrears.R]"><a [routerLink]="['/declarations/arrears']"><i
                nz-icon nzType="carry-out" nzTheme="outline"></i>601a Truy thu điều chỉnh điều chỉnh chức danh, mức
              đóng(trường hợp báo muộn)</a></li>
              <li nz-menu-item [hidden]="!permissions[pmsConf.adjust.R]"><a [routerLink]="['/declarations/allocation-card']"><i
                nz-icon nzType="form" nzTheme="outline"></i>602 Đăng ký, đăng ký lại, điều chỉnh đóng BHXH tự nguyện, cấp sổ BHXH</a></li>
              <li nz-menu-item [hidden]="!permissions[pmsConf.adjust.R]"><a [routerLink]="['/declarations/register-allocation-card']"><i
                nz-icon nzType="form" nzTheme="outline"></i>603 Đăng ký đóng, cấp thẻ BHYT đối với người chỉ tham gia BHYT</a></li>
               <li nz-menu-item [hidden]="!permissions[pmsConf.company_change.R]"><a
                  [routerLink]="['/declarations/company-change']"><i nz-icon nzType="edit" nzTheme="outline"></i>604  Đăng ký
                  thay đổi thông tin đơn vị</a></li>
                  <li nz-menu-item [hidden]="!permissions[pmsConf.adjust.R]"><a [routerLink]="['/declarations/return-payment-organization']"><i
                    nz-icon nzType="form" nzTheme="outline"></i>606a Hoàn trả tiền đã đóng </a></li>    
                    <li nz-menu-item [hidden]="!permissions[pmsConf.reissue_insurance_card.R]"><a
                      [routerLink]="['/declarations/reissue-insurance-card']"><i nz-icon nzType="account-book"
                        nzTheme="outline"></i>607 Cấp lại sổ BHXH do hỏng, do mất</a></li>
                <li nz-menu-item [hidden]="!permissions[pmsConf.reissue_insurance_card.R]"><a
                    [routerLink]="['/declarations/infomation-insurance-card']"><i nz-icon nzType="account-book"
                      nzTheme="outline"></i>608 Cấp lại sổ BHXH do thay đổi họ, tên, chữ đệm; ngày, tháng, năm sinh; giới tính, dân tộc; quốc tịch</a></li>
               <li nz-menu-item [hidden]="!permissions[pmsConf.reissue_insurance_card.R]"><a
                        [routerLink]="['/declarations/adjustment-insurance-card']"><i nz-icon nzType="account-book"
                          nzTheme="outline"></i>609 Cấp lại sổ BHXH do điểu chỉnh nội dung đã ghi trên sổ BHXH</a></li>
                <li nz-menu-item [hidden]="!permissions[pmsConf.adjust.R]"><a [routerLink]="['/declarations/reissue-health-insurance-card']"><i
                            nz-icon nzType="form" nzTheme="outline"></i>610  Cấp lại thẻ BHYT do thay đổi mã quyền lợi, thay đổi thông tin in trên thẻ</a></li>
                <li nz-menu-item [hidden]="!permissions[pmsConf.reissue_insurance_card.R]"><a
                      [routerLink]="['/declarations/reissue-insurance-expire']"><i nz-icon nzType="account-book"
                        nzTheme="outline"></i>611 Cấp thẻ BHYT do hết hạn thẻ</a></li>
              <li nz-menu-item [hidden]="!permissions[pmsConf.health_insurance_card.R]"><a
                [routerLink]="['/declarations/health-insurance-card']"><i nz-icon nzType="idcard"
                  nzTheme="outline"></i>612 Cấp lại thẻ BHYT do hỏng, do mất</a></li>
              <li nz-menu-item [hidden]="!permissions[pmsConf.regime_approval.R]"><a
                  [routerLink]="['/declarations/regime-approval']"><i nz-icon nzType="diff" nzTheme="outline"></i>630 Xét
                  duyệt chế độ ôm đau, Thai sản và Dưỡng sức, phục hồi sức khỏe</a></li>
              <li nz-menu-item [hidden]="!permissions[pmsConf.sicknesses_approval.R]"><a
                    [routerLink]="['/declarations/sicknesses-approval']"><i nz-icon nzType="safety" nzTheme="outline"></i>630a Xét
                    duyệt chế độ ôm đau</a></li>
              <li nz-menu-item [hidden]="!permissions[pmsConf.maternity_approval.R]"><a
                    [routerLink]="['/declarations/maternity-approval']"><i nz-icon nzType="heart" nzTheme="outline"></i>630b Xét
                    duyệt chế độ thai sản</a></li>
              <li nz-menu-item [hidden]="!permissions[pmsConf.healthRecovery_approval.R]"><a
                [routerLink]="['/declarations/health-recovery-approval']"><i nz-icon nzType="user-add" nzTheme="outline"></i>630c Xét
                duyệt chế độ dưỡng sức, phục hồi sức khỏe</a></li>
            </ul>
          </nz-dropdown-menu>
        </li>

        <li class="layout-menu__item"
          [hidden]="!permissions[pmsConf.increase_labor.R] && !permissions[pmsConf.reduction_labor.R] && !permissions[pmsConf.adjust.R] && !permissions[pmsConf.arrears.R] && !permissions[pmsConf.adjust_general.R] && !permissions[pmsConf.regime_approval.R]">
          <a class="layout-menu__link" nz-dropdown nzTrigger="click" [nzDropdownMenu]="declarationMenu"
            [nzOverlayClassName]="'header-dropdown-menu'">
            <span class="layout-menu__icon">
              <i nz-icon nzType="delivered-procedure" nzTheme="outline"></i>
            </span>
            <span class="layout-menu__text">Cá nhân</span>
          </a>
          <nz-dropdown-menu #declarationMenu="nzDropdownMenu">
            <ul nz-menu>
               
              <li nz-menu-item [hidden]="!permissions[pmsConf.adjust.R]"><a [routerLink]="['/declarations/register-insurance-required']"><i
                  nz-icon nzType="form" nzTheme="outline"></i>605 Đăng ký đóng BHXH bắt buộc (Người lao động có thời hạn ở nước ngoài)</a></li>

              <li nz-menu-item [hidden]="!permissions[pmsConf.adjust.R]"><a [routerLink]="['/declarations/return-payment']"><i
                      nz-icon nzType="form" nzTheme="outline"></i>606  Hoàn trả tiền đã đóng </a></li>
            </ul>
          </nz-dropdown-menu>
        </li>
        
        <li class="layout-menu__item" [hidden]="!permissions[pmsConf.contract.R]">
          <a [routerLink]="['/contract/list']" class="layout-menu__link">
            <span class="layout-menu__icon">
              <i nz-icon nzType="contacts" nzTheme="outline"></i>
            </span>
            <span class="layout-menu__text">Quản lý hợp đồng</span>
          </a>
        </li>
        <li class="layout-menu__item" [hidden]="!permissions[pmsConf.increase_labor.R] && !permissions[pmsConf.reduction_labor.R] && !permissions[pmsConf.adjust.R] && !permissions[pmsConf.arrears.R] && !permissions[pmsConf.adjust_general.R] && !permissions[pmsConf.regime_approval.R]">
          <a [routerLink]="['/search']"  class="layout-menu__link">
            <span class="layout-menu__icon">
              <i nz-icon nzType="search" nzTheme="outline"></i>
            </span>
            <span class="layout-menu__text">Tra cứu</span>
          </a>
        </li>
        <li class="layout-menu__item" [hidden]="!permissions[pmsConf.downloadSignXMl.R]">
          <a href = "/setup.exe" download class="layout-menu__link">
            <span class="layout-menu__icon">
              <i nz-icon nzType="cloud-download" nzTheme="outline"></i>
            </span>
            <span class="layout-menu__text">Tải Phần mềm ký </span>
          </a>
        </li>
        
      </ul><!-- layout-menu -->

      <div class="layout-info">
        <div class="layout-info__icon">
          <i nz-icon nzType="bell" nzTheme="outline" style="font-size: 24px;"></i>
          <span class="badge">3</span>
        </div>
        <div class="layout-info__icon">
          <img src="/assets/img/icon-youtube.png">
        </div>
        <div class="layout-info__icon">
          <i class="pi pi-comment"></i>
        </div>
      </div><!-- layout-info -->
    </div><!-- layout-header__right -->
  </header><!-- layout-header -->

  <div class="layout-container">
    <!-- <nz-spin [nzSpinning]="isLoading" class="loading-custom">
    
    </nz-spin> -->

    <router-outlet></router-outlet>
  </div>
</div>
