<div class="request-reset-page">
  <h1 class="request-reset-page__title">{{ 'auth.changePassword.title' | translate }}</h1>
  <form nz-form nzLayout="vertical" class="request-reset-page__form" [formGroup]="resetForm" (ngSubmit)="handleSubmit()">
    <nz-form-item>
      <nz-form-label>{{ 'auth.login.form.username' | translate }} <span class="required">*</span></nz-form-label>
      <nz-form-control [nzErrorTip]="userNameTpl">
        <input nz-input formControlName="username" > 
        <ng-template #userNameTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Tài khoản không được trống
          </ng-container>
          <ng-container *ngIf="control.hasError('pattern')">
            Tài khoản không hợp lệ
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>{{ 'auth.changePassword.password' | translate }} <span class="required">*</span></nz-form-label>
      <nz-form-control [nzErrorTip]="passWordTpl">  
        <input type="password" nz-input formControlName="password">
        <ng-template #passWordTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Mật khẩu không được để trống
          </ng-container>
          
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>{{ 'auth.changePassword.newPassword' | translate }} <span class="required">*</span></nz-form-label>
      <nz-form-control [nzErrorTip]="newPasswordTpl">  
        <input type="password" nz-input formControlName="confirmPassword">
        <ng-template #newPasswordTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Nhập lại mật khẩu không được để trống
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <div class="form-group">
      <button nz-button nzType="primary" class="pull-width" type="submit">
        <i class="fa fa-key" aria-hidden="true"></i> {{ 'auth.requestReset.form.send' | translate }}
      </button>
    </div>
  </form>
  <div class="request-reset-page__group-links">
    <a [routerLink]="['/auth/login']"> {{ 'auth.requestReset.loginLink' | translate }}</a>
  </div>
</div>
