.page-container {
    height: 100%;
  }
  
  .page-card {
    height: 100%;
  }
  
  .document-form {
    &__process-table {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
  }
  