<div class="page-container">
  <nz-spin [nzSpinning]="isSpinning">
    <div class="page-company page-company-edit" [ngClass]="{'page-declarations-hide-last-tab': !usedocumentDT01}" cardFullHeight>
      <nz-tabset nzSize="small" nzTabPosition="bottom" nzSelectedIndex="1" [nzTabBarExtraContent]="extraTemplate"
        (nzSelectChange)="handleSelectTab($event)">
        <nz-tab nzTitle="Danh mục tài liệu" class="test1">
          <div class="page-document-list__container">
            <form nz-form [formGroup]="documentForm">
              <h1><strong>{{declarationCode}}</strong> | {{declarationName}}</h1>
              <div nz-row [nzGutter]="10">
                <div nz-col [nzSpan]="12">
                  <nz-form-item>
                    <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="10">Người nộp</nz-form-label>
                    <nz-form-control [nzSpan]="14" [nzErrorTip]="submitterTpl">
                      <input nz-input placeholder="Người nộp" formControlName="submitter"/>
                      <ng-template #submitterTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          <p class="regime-approval-form__error">Người nộp không được để trống</p>
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                      <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="10">Số điện thoại</nz-form-label>
                      <nz-form-control [nzSpan]="14" [nzErrorTip]="mobileTpl">
                        <input nz-input formControlName="mobile" placeholder="Số điện thoại">
                        <ng-template #mobileTpl let-control>
                          <ng-container *ngIf="control.hasError('required')">
                            <p class="regime-approval-form__error">Số điện thoại không được để trống</p>
                          </ng-container>
                          <ng-container *ngIf="control.hasError('pattern')">
                            <p class="regime-approval-form__error">Số điện thoại phải là số</p>
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <h1>THÀNH PHẦN HỒ SƠ</h1>
                <div class="document-form__process-table">
                  <div class="document-form__process-table">
                    <app-document-table
                      [data]="documentList"
                    ></app-document-table>
                  </div>
                </div>
            </form>
          </div><!-- page-declarations__container -->
        </nz-tab><!-- tab 1-->
        <nz-tab nzTitle="KT3-TS" class="page-company__container">
          <div class="page-company__container">
            <div>&nbsp;</div>
            <div class="page-company__content">
              <div class="page-company__editor">
                <form nz-form [formGroup]="companyForm" (ngSubmit)="handleSubmit()" class="login-page">
                  <div class="page-container">

                    <div class="page-company__blank"></div>
                    <div class="page-company__main">
                      <h1><strong>{{declarationCode}}</strong> | {{declarationName}}</h1>

                      <div nz-row nzGutter="8" style="margin-bottom: 5px;">
                        <div nz-col nzMd="8">
                          <nz-form-item >
                            <nz-form-control>
                              <textarea class="text-center bold textarea-custom" formControlName="companyName" nz-input
                                rows="2"></textarea>
                            </nz-form-control>
                          </nz-form-item>
                        </div>

                        <div nz-col nzMd="7">
                        </div>

                        <div nz-col nzMd="9">
                          <nz-form-control [nzSpan]="24" class="text-center bold">
                            <p>CÔNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</p>
                            <p>Độc lập - Tự do - Hạnh phúc</p>
                          </nz-form-control>
                        </div>
                      </div>

                      <div nz-row nzGutter="8">
                        <div nz-col nzMd="24">
                          <nz-form-item >
                            <nz-form-label class="subject" nz-col nzMd="8">{{ 'company.from.subject' | translate }}
                            </nz-form-label>
                            <nz-form-control nz-col nzMd="14" [nzErrorTip]="subjectError">
                              <input nz-input formControlName="isurranceDepartmentName" >
                              <ng-template #subjectError let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                  {{ 'company.from.subject' | translate }} không được để trống
                                </ng-container>
                              </ng-template>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>

                      <div nz-row nzGutter="8">
                        <div nz-col nzMd="24">
                          <nz-form-item >
                            <nz-form-label nz-col nzMd="8">{{ 'company.from.name' | translate }} <span
                                class="required">*</span>
                            </nz-form-label>
                            <nz-form-control nz-col nzMd="16" [nzErrorTip]="nameError">
                              <input nz-input formControlName="name" >
                              <ng-template #nameError let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                  {{ 'company.from.name' | translate }} không được để trống
                                </ng-container>
                              </ng-template>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>

                      <div nz-row nzGutter="8">
                        <div nz-col nzMd="24">
                          <nz-form-item >
                            <nz-form-label nz-col nzMd="8">{{ 'company.from.companyCode' | translate }} <span
                                class="required">*</span>
                            </nz-form-label>
                            <nz-form-control nz-col nzMd="16" [nzErrorTip]="companyCodeError">
                              <input nz-input formControlName="code" >
                              <ng-template #companyCodeError let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                  {{ 'company.from.companyCode' | translate }} không được để trống
                                </ng-container>
                              </ng-template>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>

                      <div nz-row nzGutter="8">
                        <div nz-col nzMd="24">
                          <nz-form-item >
                            <nz-form-label nz-col nzMd="8">{{ 'company.from.taxCode' | translate }} <span
                                class="required">*</span>
                            </nz-form-label>
                            <nz-form-control nz-col nzMd="16" [nzErrorTip]="taxCodeError">
                              <input nz-input formControlName="taxCode" >
                              <ng-template #taxCodeError let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                  {{ 'company.from.taxCode' | translate }} không được để trống
                                </ng-container>
                              </ng-template>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>
                      <div nz-row nzGutter="8">
                        <div nz-col nzMd="24">
                          <nz-form-item >
                            <nz-form-label nz-col nzMd="8">{{ 'company.from.address' | translate }}
                              <span class="required">*</span>
                              <span class="icon-edit">
                                <a nz-button nzType="primary" nzShape="circle"><i class="pd-b-8" nz-icon
                                    nzType="info"></i></a>
                              </span>
                            </nz-form-label>
                            <nz-form-control nz-col nzMd="16" [nzErrorTip]="addressError">
                              <input nz-input formControlName="address" >
                              <ng-template #addressError let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                  {{ 'company.from.address' | translate }} không được để trống
                                </ng-container>
                              </ng-template>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>

                      <div nz-row nzGutter="8">
                        <div nz-col nzMd="24">
                          <nz-form-item >
                            <nz-form-label nz-col nzMd="8">{{ 'company.from.addressRegister' | translate }} <span
                                class="required">*</span>
                            </nz-form-label>
                            <nz-form-control nz-col nzMd="16" [nzErrorTip]="addressRegisterError">
                              <input nz-input formControlName="addressRegister" >
                              <ng-template #addressRegisterError let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                  {{ 'company.from.addressRegister' | translate }} không được để trống
                                </ng-container>
                              </ng-template>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>

                      <div nz-row nzGutter="8">
                        <div nz-col nzMd="24">
                          <nz-form-item >
                            <nz-form-label nz-col nzMd="8">{{ 'company.from.career' | translate }} <span
                                class="required">*</span>
                            </nz-form-label>
                            <nz-form-control nz-col nzMd="16" [nzErrorTip]="careerError">
                              <input nz-input formControlName="careers">
                              <ng-template #careerError let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                  {{ 'company.from.career' | translate }} không được để trống
                                </ng-container>
                              </ng-template>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>

                      <div nz-row nzGutter="8">
                        <div nz-col [nzSpan]="14">
                          <nz-form-item >
                            <nz-form-label nz-col [nzSpan]="8">{{ 'company.from.mobile' | translate }} <span
                                class="required">*</span>
                            </nz-form-label>
                            <nz-form-control nz-col [nzSpan]="16" nzOffset="6" class="ant-col-offset-6-edit" [nzErrorTip]="mobileError">
                              <input nz-input formControlName="mobile" style="padding-left: 2px;">
                              <ng-template #mobileError let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                  {{ 'company.from.mobile' | translate }} không được để trống
                                </ng-container>
                                <ng-container *ngIf="control.hasError('maxlength')">
                                  {{ 'customers.from.mobile' | translate }} chỉ được tối đa 15 ký tự
                                </ng-container>
                                <ng-container *ngIf="control.hasError('pattern')">
                                    {{ 'customers.from.mobile' | translate }} liên hệ phải là số
                                </ng-container>
                              </ng-template>
                            </nz-form-control>
                          </nz-form-item>
                        </div>

                        <div nz-col [nzSpan]="10">
                          <nz-form-item >
                            <nz-form-label nz-col nzMd="8">{{ 'company.from.email' | translate }} <span
                                class="required">*</span>
                            </nz-form-label>
                            <nz-form-control nz-col nzMd="16" [nzErrorTip]="emailError">
                              <input nz-input formControlName="email">
                              <ng-template #emailError let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                  {{ 'company.from.email' | translate }} không được để trống
                                </ng-container>
                                <ng-container *ngIf="control.hasError('pattern')">
                                  {{ 'company.from.email' | translate }} không hợp lệ
                                </ng-container>
                              </ng-template>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>

                      <div nz-row nzGutter="8">
                        <div nz-col nzMd="14">
                          <nz-form-item >
                            <nz-form-label nz-col nzMd="11">{{ 'company.from.license' | translate }} <span
                                class="required">*</span>
                            </nz-form-label>
                            <nz-form-control nz-col nzMd="13" nzOffset="3" class="ant-col-offset-3-edit"  [nzErrorTip]="licenseError">
                              <input nz-input formControlName="license" style="padding-left: 2px;">
                              <ng-template #licenseError let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                  {{ 'company.from.license' | translate }} không được để trống
                                </ng-container>
                              </ng-template>
                            </nz-form-control>
                          </nz-form-item>
                        </div>

                        <div nz-col nzMd="10">
                          <nz-form-item >
                            <nz-form-label nz-col nzMd="8">{{ 'company.from.issued' | translate }} <span
                                class="required">*</span>
                            </nz-form-label>
                            <nz-form-control nz-col nzMd="16" [nzErrorTip]="issuedError">
                              <input nz-input formControlName="issued">
                              <ng-template #issuedError let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                  {{ 'company.from.issued' | translate }} không được để trống
                                </ng-container>
                              </ng-template>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>

                      <div nz-row nzGutter="8">
                        <div nz-col nzMd="24">
                          <nz-form-item >
                            <nz-form-label nz-col nzMd="8">{{ 'company.from.methodPayother' | translate }}
                              <span class="required">*</span>
                              <span class="icon-edit">
                                <a nz-button nzType="primary" nzShape="circle"><i class="pd-b-8" nz-icon
                                    nzType="info"></i></a>
                              </span>
                            </nz-form-label>
                            <nz-form-control nz-col nzMd="16"  [nzErrorTip]="methodPayotherError">
                              <nz-radio-group formControlName="paymentMethodCode">
                                <label nz-radio nzValue="01">Hàng tháng</label>
                                <label nz-radio nzValue="02">Hàng Quý</label>
                                <label nz-radio nzValue="03">6 Tháng</label>
                              </nz-radio-group>

                              <ng-template #methodPayotherError let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                  {{ 'company.from.methodPayother' | translate }} không được để trống
                                </ng-container>
                              </ng-template>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>

                      <div nz-row nzGutter="8">
                        <div nz-col nzMd="24">
                          <nz-form-item >
                            <nz-form-label nz-col nzMd="8">{{ 'company.from.noteChange' | translate }} <span
                                class="required">*</span>
                            </nz-form-label>
                            <nz-form-control nz-col nzMd="16" [nzErrorTip]="noteChangeError">
                              <input nz-input formControlName="note" >
                              <ng-template #noteChangeError let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                  {{ 'company.from.noteChange' | translate }} không được để trống
                                </ng-container>
                              </ng-template>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>

                      <div nz-row nzGutter="8">
                        <div nz-col nzMd="24">
                          <nz-form-item >
                            <nz-form-label nz-col nzMd="8">{{ 'company.from.documentFile' | translate }}</nz-form-label>
                            <nz-form-control nz-col nzMd="16">
                              <input nz-input formControlName="documentAttached">
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div><!-- page-declarations__editor -->

              <nz-collapse [nzBordered]="false" style="position: relative;" class="collapse-attachment-files">
                <nz-collapse-panel style="position: absolute; bottom: 0" class="collapse-attachment" [nzHeader]="attachmentHeader"
                  [nzActive]="panel.attachment.active" (nzActiveChange)="collapseChange($event, 'attachment')">
                  <app-labor-attachment [files]="files" [declarationCode]="'6000'"
                    (onSelectedFileChanged)="handleFileSelected($event)"></app-labor-attachment>
                </nz-collapse-panel>
              </nz-collapse>
              <ng-template #attachmentHeader>
                Tài liệu kèm theo <span class="collapse-attachment-note">(tổng dung lượng &lt; 20MB)</span>
              </ng-template>
            </div><!-- page-declarations__content -->
          </div><!-- page-declarations__container -->
        </nz-tab><!-- tab 2 -->
      </nz-tabset>
      <ng-template #extraTemplate>
        <div class="page-declarations__footer">
          <button nz-button class="page-declarations__footer-export" nzType="default" nzSize="small"
            (click)="saveAndView()">
            <i nz-icon nzType="upload"></i>Xuất tờ khai
          </button>
          <button nz-button nzType="default" nzSize="small" (click)="save()">
            <i nz-icon nzType="save"></i>Ghi lại
          </button>
          <button nz-button class="page-declarations__footer-button" nzType="default" nzSize="small"
            (click)="rollback()">
            <i nz-icon nzType="reload"></i>Quay lại
          </button>
        </div>
      </ng-template>
    </div>
  </nz-spin>
</div>
