<div class="page-container">
  <nz-spin [nzSpinning]="isSpinning">
    <div class="page-adjust-general" [ngClass]="{'page-adjust-general-hide-last-tab': !usedocumentDT01}" cardFullHeight>
      <nz-tabset nzSize="small" nzTabPosition="bottom" nzSelectedIndex="1" [nzTabBarExtraContent]="extraTemplate" (nzSelectChange)="handleSelectTab($event)">
        <nz-tab nzTitle="Danh mục tài liệu">
          <div class="page-document-list__container">
            <form nz-form [formGroup]="documentForm">
              <h1><strong>600</strong> | Báo tăng lao động</h1>
              <div nz-row [nzGutter]="10">
                <div nz-col [nzSpan]="12">
                  <nz-form-item>
                    <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="10">Người nộp</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                      <input nz-input
                        placeholder="Người nộp"
                        formControlName="submitter"
                      />
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                      <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="10">Số điện thoại</nz-form-label>
                      <nz-form-control [nzSpan]="14">
                        <input nz-input
                          placeholder="Số điện thoại"
                          formControlName="mobile"
                        />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <h1>Thành phần hồ sơ</h1>
                <div class="document-form__process-table">
                  <div class="document-form__process-table">
                    <app-document-table
                      [data]="documentList"
                      (onChange)="handleChangeProcessTable($event)"
                      (onDelete)="handleDeleteProcessData($event)"
                    ></app-document-table>
                  </div>
                </div>
                <div nz-row [nzGutter]="10">
                  <div nz-col [nzSpan]="12">
                    <nz-form-item>
                      <label nz-checkbox  formControlName="usedocumentDT01">Phát sinh kê khai Mẫu D01T-TS Bảng kê thông tin</label>
                    </nz-form-item>
                  </div>
                </div>
            </form>
          </div><!-- page-declarations__container -->
        </nz-tab><!-- tab 1-->
        <nz-tab nzTitle="D02-TS Tăng">
          <app-increase
            [declarationId]="declarationId"
            [data]="declarations.origin['600']"
            (onChange)="handleChangeTable($event, 'increaselabor')"
            (onHiddenSidebar)="handleHiddenSidebar($event)"
          ></app-increase>
        </nz-tab>
        <nz-tab nzTitle="D02-TS Giảm">
          <app-reduction
            [declarationId]="declarationId"
            [data]="declarations.origin['600a']"
            (onChange)="handleChangeTable($event, 'reductionlabor')"
            (onHiddenSidebar)="handleHiddenSidebar($event)"
          ></app-reduction>
        </nz-tab>

        <nz-tab nzTitle="D02-TS Điều chỉnh">
          <app-adjustment
            [declarationId]="declarationId"
            [data]="declarations.origin['600b']"
            (onChange)="handleChangeTable($event, 'adjustment')"
            (onHiddenSidebar)="handleHiddenSidebar($event)"
          ></app-adjustment>
        </nz-tab>
        <nz-tab nzTitle="PL TVHGD-NLD"> <!-- [nzDisabled]="!families || !families.length"> -->
          <div class="page-document-list__container page-document-list__container--note">
            <h1>600 | Báo tăng lao động</h1>
            <h2>PHỤ LỤC THÀNH VIÊN GIA ĐÌNH</h2>
            <div class="document-form__process-table">
              <app-document-table
              [data]="documentList"
              (onChange)="handleChangeProcessTable($event)"
              (onDelete)="handleDeleteProcessData($event)"
            ></app-document-table>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
      <ng-template #extraTemplate>
        <div class="page-declarations__footer">
          <button nz-button class="page-declarations__footer-export" nzType="default" nzSize="small" (click)="emitEventToChild('saveAndView')">
            <i nz-icon nzType="upload"></i>Xuất tờ khai
          </button>
          <button nz-button nzType="default" nzSize="small" (click)="emitEventToChild('save')">
            <i nz-icon nzType="save"></i>Ghi lại
          </button>
          <button nz-button class="page-declarations__footer-button" nzType="default" nzSize="small" (click)="emitEventToChild('back')">
            <i nz-icon nzType="reload"></i>Quay lại
          </button>
        </div>
      </ng-template>
      <app-increase-form [data]="declarations.formOrigin" class="page-regime-approval__form" [ngClass]="{'page-regime-approval__form--hidden': selectedTabIndex == 0}" (onFormValuesChanged)="handleFormValuesChanged($event)"></app-increase-form>
    </div>
  </nz-spin>
</div>
