<div class="page-container">
  <nz-spin [nzSpinning]="isSpinning">

    <div class="page-card page-card-register-ivan" cardFullHeight>
      <div class="register-ivan-header">
        <div class="register-ivan-header-title">
          <h1 class="text-center">ĐĂNG KÝ SỬ DỤNG DỊCH VỤ I-VAN CỦA M-BHXH</h1>
        </div>

        <div class="choose">
          <label nz-checkbox [(ngModel)]="checked">Chuyển từ nhà I-VAN khác sang M-BHXH</label>
        </div>
      </div>

      <div class="register-ivan-form">
        <div class="register-ivan-form__content" [ngClass]="{'page-declarations-hide-last-tab': !checked}">
          <nz-tabset class="register-ivan-tabset" [nzSelectedIndex]="1" (nzSelectChange)="handleSelectTab($event)">
            <!-- <nz-tab nzTitle="Điều khoản">
              <app-register-ivan-proviso  class="app-register-ivan-proviso"></app-register-ivan-proviso>
            </nz-tab>Tab 1 -->

            <nz-tab nzTitle="Hồ sơ đăng ký ngừng sử dụng dịch vụ I-VAN" [nzDisabled]="!checked">
              <app-register-ivan-stop-service></app-register-ivan-stop-service>
            </nz-tab><!-- Tab 1 -->

            <nz-tab nzTitle="Hồ sơ đăng ký sử dụng dịch vụ I-VAN">
              <app-register-ivan-register  [tabEvents]="tabSubject.asObservable()" [isSwichVendor] = "checked" class="app-register-ivan-register">
              </app-register-ivan-register>
            </nz-tab><!-- Tab 2 -->

            <nz-tab nzTitle="Hồ sơ Thay đổi, bổ sung thông tin đăng ký sử dụng dịch vụ I-VAN">
              <app-register-ivan-adjust-info [tabEvents]="tabSubject.asObservable()" [isSwichVendor] = "checked" class="app-register-ivan-register">
              </app-register-ivan-adjust-info>
            </nz-tab><!-- Tab 3 -->

          </nz-tabset>
        </div>
      </div>
    </div>
  </nz-spin>
</div>
