<div class="users-tree">
  <nz-input-group [nzSuffix]="suffixIcon">
    <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="searchValue" />
  </nz-input-group>
  <ng-template #suffixIcon>
    <i nz-icon nzType="search"></i>
  </ng-template>
  <nz-spin [nzSpinning]="isLoading">
    <nz-tree
      nzCheckable
      nzMultiple
      [nzData]="employees"
      [nzCheckedKeys]="defaultCheckedKeys"
      [nzSelectedKeys]="defaultSelectedKeys"
      [nzAsyncData]="false"
      [nzSearchValue]="searchValue"
      [nzTreeTemplate]="nzTreeTemplate"
      (nzCheckBoxChange)="nzCheck($event)"
      (nzDblClick)="doubleClick($event)"
    >
    </nz-tree>
    <ng-template #nzTreeTemplate let-node let-origin="origin">
      <span [ngStyle]="{'font-weight': !origin.isLeaf ? '700' : '400'}">
        <span class="folder-name">{{ node.title }}</span>
      </span>
    </ng-template>
  </nz-spin>
</div>
