<div class="users-tree">
  <nz-input-group [nzSuffix]="suffixIcon">
    <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="searchValue" />
  </nz-input-group>
  <ng-template #suffixIcon>
    <i nz-icon nzType="search"></i>
  </ng-template>
  <nz-tree
    nzCheckable
    nzMultiple
    [nzData]="employees"
    [nzCheckedKeys]="defaultCheckedKeys"
    [nzSelectedKeys]="defaultSelectedKeys"
    [nzAsyncData]="false"
    [nzSearchValue]="searchValue"
    (nzCheckBoxChange)="nzCheck($event)"
    (nzDblClick)="doubleClick($event)"
  >
  </nz-tree>
</div>
