.users-tree {
  height: calc(100% - 42px);

  .users-tree-item {
    &__icon {
      display: none;
      margin-left: 5px;
      cursor: pointer;

      &:hover {
        color: #2E68D3;
      }
    }

    &__icon_delete {
      display: none;
      margin-left: 7px;
      cursor: pointer;

      &:hover {
        color: #2E68D3;
      }
    }

    &:hover {
      .users-tree-item__icon {
        display: inline-block;
      }
      .users-tree-item__icon_delete {
        color: red;
        display: inline-block;
      }
    }
  }

  .users-tree-item-warning {
    background-color: rgb(255, 210, 0)
  }

  nz-tree {
    display: block;
    height: calc(100% - 37px);
    overflow-y: scroll;
    overflow-x: auto;
    margin-top: 5px;
  }

  .ant-tree li span.ant-tree-switcher, .ant-tree li span.ant-tree-iconEle {
    width: 16px;
    height: 16px;
  }

  .ant-tree li ul {
    padding: 0 0 0 10px;
  }

  .ant-tree .ant-tree-indent-unit {
    width: 15px;
  }

  .ant-tree .ant-tree-switcher {
    width: 15px;
  }

  .ant-tree .ant-tree-node-content-wrapper {
    cursor: default;
  }
}
