<div class="page-container">
  <nz-spin [nzSpinning]="isSpinning">
    <div class="page-declarations" cardFullHeight>
      <nz-tabset nzSize="small" nzTabPosition="bottom" nzSelectedIndex="1">
        <nz-tab nzTitle="Danh mục tài liệu">
          <div class="page-document-list__container">
            <form nz-form [formGroup]="documentForm">
              <h1>600 | Báo tăng lao động</h1>
              <div nz-row [nzGutter]="10">
                  <div nz-col [nzSpan]="12">
                    <nz-form-item>
                      <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="10">Người nộp</nz-form-label>
                      <nz-form-control [nzSpan]="14">
                        <input nz-input
                          placeholder="Người nộp"
                          formControlName="userAction"
                        />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzSpan]="12">
                      <nz-form-item>
                        <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="10">Số điện thoại</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                          <input nz-input
                            placeholder="Số điện thoại"
                            formControlName="mobile"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                </div>
                <h1>Thành phần hồ sơ</h1>
                <div class="document-form__process-table">
                    <div class="document-form__process-table">
                        <app-document-table
                          [data]="documentList"
                          [events]="eventsSubject.asObservable()"
                          (onChange)="handleChangeProcessTable($event)"
                          (onDelete)="handleDeleteProcessData($event)"
                        ></app-document-table>
                    </div>
                </div>
                <div nz-row [nzGutter]="10">
                  <div nz-col [nzSpan]="12">
                    <nz-form-item>
                      <label nz-checkbox  formControlName="usedocumentDT01">Phát sinh kê khai Mẫu D01T-TS Bảng kê thông tin</label>
                    </nz-form-item>
                  </div>
                </div>
            </form>
          </div><!-- page-declarations__container -->
        </nz-tab><!-- tab 1-->

        <nz-tab nzTitle="D02-TS">
          <div class="page-declarations__container">
            <app-declaration-sidebar (onSelectEmployees)="handleSelectEmployees($event)"></app-declaration-sidebar>

            <div class="page-declarations__content">
              <div class="page-declarations__group-button">
                <div class="page-declarations__buttons">
                  <button nz-button nzType="default" (click)="handleAddEmployee('I1')">
                    <i nz-icon nzType="arrow-up"></i>Tăng lao động
                  </button>
                  <button nz-button nzType="default" (click)="handleAddEmployee('I2')">
                    <i nz-icon nzType="arrow-up"></i>Tăng BHYT
                  </button>
                  <button nz-button nzType="default" (click)="handleAddEmployee('I3')">
                    <i nz-icon nzType="arrow-up"></i>Tăng BHTN
                  </button>
                  <button nz-button nzType="default" (click)="handleAddEmployee('III')">
                    <i nz-icon nzType="arrow-up"></i>Tăng BHTNLĐ, BNN
                  </button>
                  <button nz-button nzType="default" (click)="handleAddEmployee('II1')">
                    <i nz-icon nzType="arrow-down"></i>Giảm BHYT
                  </button>
                </div>
                <h1>600 | Báo tăng lao động</h1>
              </div><!-- page-declarations__group-button -->

              <div class="page-declarations__title">
                <h2>Danh sách lao động tham gia BHXH, BHYT, BHTN</h2>
                <form nz-form [formGroup]="form" class="page-declarations__search">
                  <nz-form-item>
                    <nz-form-label [nzNoColon]="true" [nzSpan]="10">Số</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                      <input nz-input formControlName="number">
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label [nzNoColon]="true" [nzSpan]="10">Tháng</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                      <input nz-input formControlName="month">
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label [nzNoColon]="true" [nzSpan]="10">Năm</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                      <input nz-input formControlName="year">
                    </nz-form-control>
                  </nz-form-item>
                </form>
              </div><!-- page-declarations__title -->

              <div class="page-declarations__editor" editorAutoSize>
                <app-table-editor
                  [nestedHeaders]="tableNestedHeaders"
                  [columns]="tableHeaderColumns"
                  [data]="declarations"
                  [events]="eventsSubject.asObservable()"
                  (onSubmit)="handleSubmit($event)"
                  (onChange)="handleChangeTable($event)"
                  (onDelete)="handleDeleteData($event)"
                ></app-table-editor>
              </div><!-- page-declarations__editor -->

              <div class="page-declarations__footer">
                <button nz-button nzType="default" (click)="viewDocument('save')">
                  <i nz-icon nzType="file"></i>Danh sách tài liệu
                </button>
                <button nz-button nzType="default" (click)="emitEventToChild('save')">
                  <i nz-icon nzType="export"></i>Xuất tờ khai
                </button>
                <button nz-button nzType="default" (click)="emitEventToChild('save')">
                  <i nz-icon nzType="save"></i>Ghi lại
                </button>
                <button nz-button nzType="default" (click)="emitEventToChild('save')">
                  <i nz-icon nzType="rollback"></i>Quạy lại
                </button>
              </div><!-- page-declarations__footer -->
            </div><!-- page-declarations__content -->
          </div><!-- page-declarations__container -->
        </nz-tab><!-- tab 2 -->
        <nz-tab nzTitle="Bảng kê hồ sơ" *ngIf="(usedocumentDT01)">
            <div class="page-document-list__container">
              <form nz-form [formGroup]="documentForm">
                    <h1>600 | Báo tăng lao động</h1>
                    <h2>Bảng kê thôn tin</h2>

                    <div class="document-form__process-table">
                        <app-document-list-table
                          [data]="documentList"
                          (onChange)="handleChangeProcessTable($event)"
                          (onDelete)="handleDeleteProcessData($event)"
                        ></app-document-list-table>
                    </div>
                </form>
            </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </nz-spin>
</div>
