<div class="page-container">
  <nz-spin [nzSpinning]="isSpinning">
    <div class="page-declarations" [ngClass]="{'page-declarations-hide-last-tab': !usedocumentDT01}" cardFullHeight>
      <nz-tabset nzSize="small" nzTabPosition="bottom" nzSelectedIndex="1" [nzTabBarExtraContent]="extraTemplate" (nzSelectChange)="handleSelectTab($event)">
        <nz-tab nzTitle="Danh mục tài liệu">
          <div class="page-document-list__container">
            <form nz-form [formGroup]="documentForm">
              <h1><strong>600</strong> | Báo tăng lao động</h1>
              <div nz-row [nzGutter]="10">
                <div nz-col [nzSpan]="12">
                  <nz-form-item>
                    <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="10">Người nộp</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                      <input nz-input
                        placeholder="Người nộp"
                        formControlName="userAction"
                      />
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                      <nz-form-label class="text-left" [nzRequired]="true" [nzSpan]="10">Số điện thoại</nz-form-label>
                      <nz-form-control [nzSpan]="14">
                        <input nz-input
                          placeholder="Số điện thoại"
                          formControlName="mobile"
                        />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <h1>Thành phần hồ sơ</h1>
                <div class="document-form__process-table">
                  <div class="document-form__process-table">
                    <app-document-table
                      [data]="documentList"
                      (onChange)="handleChangeProcessTable($event)"
                      (onDelete)="handleDeleteProcessData($event)"
                    ></app-document-table>
                  </div>
                </div>
                <div nz-row [nzGutter]="10">
                  <div nz-col [nzSpan]="12">
                    <nz-form-item>
                      <label nz-checkbox  formControlName="usedocumentDT01">Phát sinh kê khai Mẫu D01T-TS Bảng kê thông tin</label>
                    </nz-form-item>
                  </div>
                </div>
            </form>
          </div><!-- page-declarations__container -->
        </nz-tab><!-- tab 1-->

        <nz-tab nzTitle="D02-TS">
          <div class="page-declarations__container" [ngClass]="{ 'page-declarations__container--hidden': isHiddenSidebar }">
            <app-declaration-sidebar
              tableName="increaseLabor"
              [isHiddenSidebar]="isHiddenSidebar"
              [events]="employeeSubject.asObservable()"
              (onSelectEmployees)="handleSelectEmployees($event)"
              (onToggleSidebar)="handleToggleSidebar()"
              (onUserUpdated)="handleUserUpdated($event)"
              (onUserDeleted)="handleUserDeleted($event)"
              (onUserAdded)="handleUserAdded($event)"
            ></app-declaration-sidebar>

            <div class="page-declarations__content">
              <div class="page-declarations__group-button">
                <div class="page-declarations__buttons">
                  <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button nzType="default" (click)="handleAddEmployee('I_1')">
                    <i nz-icon nzType="arrow-up"></i>Tăng lao động
                  </button>
                  <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button nzType="default" (click)="handleAddEmployee('I_2')">
                    <i nz-icon nzType="arrow-up"></i>Tăng BHYT
                  </button>
                  <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button nzType="default" (click)="handleAddEmployee('I_3')">
                    <i nz-icon nzType="arrow-up"></i>Tăng BHTN
                  </button>
                  <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button nzType="default" (click)="handleAddEmployee('II_2')">
                    <i nz-icon nzType="arrow-up"></i>Tăng BHTNLĐ, BNN
                  </button>
                  <button class="page-declarations__button" [ngClass]="{'flash-button': isBlinking}" nz-button nzType="default" (click)="handleAddEmployee('II_1')">
                    <i nz-icon nzType="arrow-down"></i>Giảm BHYT
                  </button>
                </div>
                <h1><strong>600</strong> | Báo tăng lao động</h1>
              </div><!-- page-declarations__group-button -->

              <div class="page-declarations__title">
                <h2>Danh sách lao động tham gia BHXH, BHYT, BHTN</h2>
                <form nz-form [formGroup]="form" class="page-declarations__search">
                  <nz-form-item>
                    <nz-form-label [nzNoColon]="true" [nzSpan]="10">Số</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                      <input nz-input formControlName="number">
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label [nzNoColon]="true" [nzSpan]="10">Tháng</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                      <input nz-input formControlName="month">
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label [nzNoColon]="true" [nzSpan]="10">Năm</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                      <input nz-input formControlName="year">
                    </nz-form-control>
                  </nz-form-item>
                </form>

                <div class="page-declarations__check-code">
                  <button nz-button nzType="default" (click)="checkInsurranceCode($event)">Kiểm tra mã số BHXH</button>
                </div><!-- page-declarations__check-code -->
              </div><!-- page-declarations__title -->

              <div class="page-declarations__editor">
                <app-table-editor
                  tableName="increaseLabor"
                  [nestedHeaders]="tableNestedHeaders"
                  [columns]="tableHeaderColumns"
                  [data]="declarations"
                  [events]="eventsSubject.asObservable()"
                  [validate]="validateSubject.asObservable()"
                  (onSubmit)="handleSubmit($event)"
                  (onChange)="handleChangeTable($event)"
                  (onDelete)="handleDeleteData($event)"
                  (onAddRow)="handleAddRow($event)"
                  (onFocus)="handleFocus($event)"
                  (onSort)="handleSort($event)"
                ></app-table-editor>
              </div><!-- page-declarations__editor -->

              <nz-collapse [nzBordered]="false" [ngClass]="{
                'collapse-active-all': panel.general.active && panel.attachment.active,
                'collapse-active-general': panel.general.active && !panel.attachment.active,
                'collapse-active-attachment': !panel.general.active && panel.attachment.active
              }">
                <nz-collapse-panel class="collapse-general" nzHeader="Phần tổng hợp" [nzActive]="panel.general.active" (nzActiveChange)="collapseChange($event, 'general')">
                  <app-labor-general-form
                  [data]="declarationGeneral"
                  (onFormValuesChanged)="handleFormValuesChanged($event)"></app-labor-general-form>
                </nz-collapse-panel>
                <nz-collapse-panel class="collapse-attachment" [nzHeader]="attachmentHeader" [nzActive]="panel.attachment.active" (nzActiveChange)="collapseChange($event, 'attachment')">
                  <app-labor-attachment (onSelectedFileChanged)="handleFileSelected($event)"></app-labor-attachment>
                </nz-collapse-panel>
              </nz-collapse>
              <ng-template #attachmentHeader>
                Tài liệu kèm theo <span class="collapse-attachment-note">(tổng dung lượng &lt; 20MB)</span>
              </ng-template>
            </div><!-- page-declarations__content -->
          </div><!-- page-declarations__container -->
        </nz-tab><!-- tab 2 -->
        <nz-tab nzTitle="PL TVHGD-NLD" [nzDisabled]="!families || !families.length">
          <div class="page-document-list__container page-document-list__container--note">
            <h1>600 | Báo tăng lao động</h1>
            <h2>PHỤ LỤC THÀNH VIÊN GIA ĐÌNH</h2>
            <div class="document-form__process-table">
              <app-families-list-table
                tableName="family"
                [data]="families"
                [nestedHeaders]="tableNestedHeadersFamilies"
                [columns]="tableHeaderColumnsFamilies"
                [events]="familiesSubject.asObservable()"
                (onChange)="handleChangeDataFamilies($event)"
                (onDelete)="handleDeleteMember($event)"
                (onAddRow)="handleAddMember($event)"
              ></app-families-list-table>
            </div>
          </div>
        </nz-tab>
        <nz-tab nzTitle="Bảng kê hồ sơ" [nzDisabled]="!informations || !informations.length">
          <div class="page-document-list__container">
            <form nz-form [formGroup]="documentForm">
              <h1>600 | Báo tăng lao động</h1>
              <h2>Bảng kê thông tin</h2>

              <div class="document-form__process-table">
                <app-document-list-table
                  [data]="informations"
                  [nestedHeaders]="tableNestedHeadersDocuments"
                  [columns]="tableHeaderColumnsDocuments"
                  [events]="documentsSubject.asObservable()"
                  (onChange)="handleChangeInfomation($event)"
                  (onDelete)="handleDeleteInfomation($event)"
                ></app-document-list-table>
              </div>
            </form>
          </div>
        </nz-tab>

      </nz-tabset>
      <ng-template #extraTemplate>
        <div class="page-declarations__footer">
          <button nz-button class="page-declarations__footer-export" nzType="default" nzSize="small" (click)="emitEventToChild('saveAndView')">
            <i nz-icon nzType="upload"></i>Xuất tờ khai
          </button>
          <button nz-button nzType="default" nzSize="small" (click)="emitEventToChild('save')">
            <i nz-icon nzType="save"></i>Ghi lại
          </button>
          <button nz-button class="page-declarations__footer-button" nzType="default" nzSize="small" (click)="emitEventToChild('back')">
            <i nz-icon nzType="reload"></i>Quay lại
          </button>
        </div>
      </ng-template>
    </div>
  </nz-spin>
</div>
