<div class="page-card">
  <h1>Tin tức</h1>

  <div class="news">
    <div class="news__thumb">
      <img src="/assets/img/dashboard-news.png">
    </div>
    <div class="news__description">
      <p>Hiển thị tầm 3 dòng sau đó có chữ xem thêm để nhấn sang link chính thức website.Hiển thị tầm 3 dòng sau đó có chữ xem thêm để nhấn sang link chính thức website Hiển thị tầm 3 dòng sau đó có chữ xem thêm để nhấn sang link chính thức website  </p>
      <a href="/">Xem thêm</a>
    </div>
  </div>
</div>
