
@import './assets/scss/reset.scss';
@import './assets/scss/themes/default.scss';
@import '../node_modules/@clr/ui/src/utils/components.clarity.scss';

body {
	background: #ECEFF4;
}

.container {
	width: 100%;
	height: 100%;
  margin-right: auto;
	margin-left: auto;
	position: relative;

	@media (min-width: 576px) {
		max-width: 540px;
	}

	@media (min-width: 768px) {
		max-width: 720px;
	}

	@media (min-width: 992px) {
		max-width: 960px;
	}

	@media (min-width: 1360px) {
		max-width: 1280px;
	}
}

a {
	text-decoration: none;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.auth-layout {
	.clr-form-control {
		margin-top: 0;
	}
}

.layout-menu-container {
	.clr-vertical-nav {
		.nav-content {
			height: 100%;
		}

		.nav-group,
		.nav-link {
			margin-bottom: 10px;
		}

		.nav-group .nav-group-children .nav-link {
			margin-bottom: 0;
		}

		.nav-group-trigger {
			outline: none;
		}

		.nav-group-content:hover,
		.nav-link:hover {
			background-color: #f4f4f4;
		}

		.nav-icon {
			flex: 0 0 1rem;
		}
	}

	.layout-menu-icons {
		.nav-link {
			padding: 0 0.6rem 0 1rem;
		}
	}
}
