
@import './assets/less/reset.less';
@import './assets/less/components/table.less';
@import './assets/less/components/declaration.less';
@import './assets/less/components/regime-approval.less';
@import './assets/less/components/document-list.less';
@import './assets/less/components/company.less';

body {
  background: #2B4A83;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1360px) {
    max-width: 1280px;
  }
}

a {
  text-decoration: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
.text-wrap {
  white-space: pre-wrap;
  text-indent: 5px;
}

.required {
  color: #f00;
  font-size: 11px;
}

.input-fluid {
  width: 100%;

  button,
  .ui-dropdown {
    width: 100%;
  }
}

.ui-button-outline {
  background-color: transparent !important;
  border: 1px solid #2254BF !important;
  color: #2254BF !important;

  .ui-button-text {
    color: #2254BF !important;
  }
}

app-root {
	order: 0;
  flex: 1 1 auto;
  align-self: auto;
  display: flex;
}

app-layout {
	order: 0;
  flex: 1 1 auto;
  align-self: auto;
  display: block;
}

.header-dropdown-menu {
  & ul > li > a > .anticon {
    margin-right: 5px;
  }
}

.auth-layout {
  h1 {
    color: #2254BF;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 65px;
    text-transform: uppercase;
  }
}

.page-container {
  padding: 10px;
  // height: 100%;
}

.page-card {
  background-color: #F8FBFF;
  box-shadow: -3px 2px 2px rgba(13, 13, 13, .25);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;

  h1 {
    font-size: 14px;
    font-weight: 700;
    color: #3266D3;
    margin: 18px 0;

    &:first-child {
      margin-top: 0px;
      margin-bottom: 18px;
    }
  }

  &__declaration-button {
    background-color: #4964EE;
    border-color: #D0D5EE;
    color: #B7D3FF;

    i {
      color: #B7D3FF;
    }

    &:hover {
      color: #fff;
      background-color: #4964EE;
      border-color: #D0D5EE;

      i {
        color: #fff;
      }
    }
  }

  // &--scrollable {
  //   padding-right: 7px;
  // }
}

.scrollable-container {
  .ui-scrollpanel-wrapper {
    border-right: 9px solid transparent;
  }

  .ui-scrollpanel-bar {
    background-color: #8BA0B3;
    opacity: 1;
    transition: background-color .3s;
    border-radius: 10px;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, .16);

    &:hover {
      background-color: #6D869E;
    }
  }
}

