.dashboard-page-card {
  width: 100%;
  height: 570px;
}

.page-card {
  background-color: #ffffff;
  box-shadow: -3px 2px 2px rgba(13, 13, 13, 0.25);
  border-radius: 10px;
  padding: 15px;
  margin: 5px;

  h1 {
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    color: #3266D3;
    margin: 5px 0;
  }
}

.table-editor {
  width: 100%; 
}
.ant-table-tbody > tr > td {
  padding: 8px 8px;
}
.ant-table-thead > tr > th {
  padding: 9px 9px;
  background-color: #3266D3;
}


