<div class="page-card">
  <div class="page-title ">
      <h1>{{'contract.contract-list.title' | translate}}</h1>
      <div class="page-declarations__footer">
          <button nz-button nzType="default" (click)="emitEventToChild('save')">
            <i nz-icon nzType="search"></i>Search
          </button>
      </div>
  </div>
    <div class="page-search">
      <div nz-row nzGutter="30">
          <div nz-col nzMd="4">
            <nz-form-item>
              <nz-form-label>{{ 'contract.contract-list.keyWords' | translate }}</nz-form-label>
              <nz-form-control>
                <input type="text" nz-input formControlName="keyword">
              </nz-form-control>
            </nz-form-item >
          </div>
          <div nz-col nzMd="3">
            <nz-form-item>
              <nz-form-label>{{ 'contract.contract-list.dateFrom' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-date-picker nzPlaceHolder="--Chọn--" formControlName="dateFrom"></nz-date-picker>
              </nz-form-control>
            </nz-form-item >
          </div>
          <div nz-col nzMd="3">
            <nz-form-item>
              <nz-form-label>{{ 'contract.contract-list.dateTo' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-date-picker nzPlaceHolder="--Chọn--" formControlName="dateTo"></nz-date-picker>
              </nz-form-control>
            </nz-form-item >
          </div>

          <div nz-col nzMd="4">
            <nz-form-item>
              <nz-form-label>{{ 'contract.contract-list.companyType' | translate }}</nz-form-label>
              <nz-form-control
                [nzSpan]="24"
              >
                <nz-select formControlName="type" nzAllowClear nzPlaceHolder="Lựa chọn">
                  <nz-option [nzValue]="type.value" [nzLabel]="type.label" *ngFor="let type of documentTypes"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item >
          </div>

          <div nz-col nzMd="3">
            <nz-form-item>
              <nz-form-label [nzRequired]="true">{{ 'contract.contract-list.contractStatus' | translate }}</nz-form-label>
              <nz-form-control
                [nzSpan]="24"
              >
                <nz-select formControlName="type" nzAllowClear nzPlaceHolder="Lựa chọn">
                  <nz-option [nzValue]="type.value" [nzLabel]="type.label" *ngFor="let type of documentTypes"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item >
          </div>        

      </div>
    </div>
    <nz-table
      nzBordered 
      #ajaxTable
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="listOfData"
      [nzLoading]="loading"
      [nzTotal]="total"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="searchData()"
      (nzPageSizeChange)="searchData(true)"
      class="table-editor "
    >
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th>{{'contract.table.stt' | translate}}</th>
          <th nzShowFilter [nzFilters]="filterGender" (nzFilterChange)="updateFilter($event)">{{'contract.table.company' | translate}}</th>
          <th nzShowSort nzSortKey="email"><span>{{'contract.table.contractNo' | translate}}</span></th>
          <th nzShowSort nzSortKey="email"><span>{{'contract.table.numberMonth' | translate}}</span></th>
          <th nzShowSort nzSortKey="email"><span>{{'contract.table.contractType' | translate}}</span></th>
          <th nzShowSort nzSortKey="email"><span>{{'contract.table.createDate' | translate}}</span></th>
          <th nzShowSort nzSortKey="email"><span>{{'contract.table.action' | translate}}</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ajaxTable.data">
          <td>1</td>
          <td>{{ data.gender }} {{ data.gender }}</td>
          <td>{{ data.gender }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.email }} {{ data.email }}</td>
          <td>{{ data.gender }}</td>
          <td>
            <ng-container>
                <a (click)="startEdit(data.id)">
                    <i nz-icon nzType="search" nzTheme="outline"></i>
                </a>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </nz-table>
</div>

