<div class="page-company__container">
  <div>&nbsp;</div>
  <div class="page-company__content">
    <div class="proviso">
      <h2 class="text-center">ĐIỀU KHOẢN SỬ DỤNG DỊCH VỤ I-VAN </h2>
      <p class="proviso-title">A. Dịch vụ I-VAN là gì? :</p>
      <p>
        <span class="proviso-title dotted"> * </span> Dịch vụ giá trị gia tăng về giao dịch điện tử trong lĩnh vực BHXH
        (dịch vụ I-VAN) là dịch vụ nhận,
        truyền, lưu
        trữ, phục hồi thông điệp dữ liệu giao dịch điện tử trong lĩnh vực BHXH giữa cơ quan,
        tổ chức, cá nhân tham gia giao dịch điện tử trong lĩnh vực BHXH và cơ quan Bảo hiểm xã hội để thực hiện
        giao
        dịch
        bằng phương tiện điện tử
      </p>
      <p> <span class="proviso-title dotted"> * </span> Dịch vụ I-VAN không phải là Chữ ký số, có chữ ký số chưa phải là
        dịch vụ I-VAN</p>
      <p>
        <span class="proviso-title dotted"> * </span> Các yêu cầu để đơn vị sử dụng dịch vụ I-VAN: có chữ ký số hợp lệ,
        máy tính cài Office (word, excel) từ
        2007
        trở lên
      </p>
      <p>
        <span class="proviso-title dotted"> * </span> Những thuận lợi khi sử dụng dịch vụ I-VAN: kê khai đơn giản, không
        phải nộp hồ sơ giấy, an toàn bảo mật
        và
        được hưởng các sản phẩm tốt nhất của nhà cung cấp dịch vụ.
      </p>
      <p class="proviso-title">B. Điều khoản thỏa thuận :</p>
      <p> <span class="dotted">1. </span>Các bên tham gia sử dụng và cung cấp dịch vụ I-VAN gồm:</p>
      <p><span class="dotted-child">a. </span> Đơn vị đăng ký sử dụng dịch vụ I-VAN, sau đây được gọi tắt là Bên A</p>
      <p>
        <span class="dotted-child">b. </span> Bên cung cấp dịch vụ I-VAN (trực tiếp bởi M-BHXH hoặc các đại lý được M-BHXH ủy quyền), sau
        đây
        được gọi tắt là Bên B
      </p>
      <p><span class="dotted">2. </span>Các dịch vụ I-VAN do Bên B cung cấp gồm:</p>
      <p><span class="dotted-child">a. </span> Được sử dụng phần mềm hỗ trợ kê khai M-BHXH</p>
      <p><span class="dotted-child">b. </span> Được sử dụng Cổng giao dịch điện tử bảo hiểm xã hội trên mạng Internet ( mbhxh.com.vn )</p>
      <p><span class="dotted-child">c. </span> Được hỗ trợ giao dịch điện tử qua Tổng đài 
      </p>
      <p> <span class="dotted">3. </span>Thời gian sử dụng</p>
      <p><span class="dotted-child">a. </span> Thời gian sử dụng dịch vụ theo gói dịch vụ Bên A đã đăng ký mua và được tính từ ngày gói dịch vụ được
        kích
        hoạt</p>
      <p><span class="dotted-child">b. </span> Thời gian hết hạn tương ứng với gói dịch vụ bên A lựa chọn. Trước khi hết thời hạn, nếu có nhu cầu bên
        A
        phải
        thực hiện gia hạn để sử dụng tiếp (phí gia hạn căn cứ tại thời điểm gia hạn).</p>
      <p><span class="dotted-child">c. </span> Gói dịch vụ sẽ được tự động kích hoạt sau khi Bên A thanh toán phí dịch vụ cho Bên B.</p>
      <p> <span class="dotted">4. </span>Thanh toán:</p>
      <p><span class="dotted-child">a. </span> Bên A sẽ thanh toán cho Bên B ngay sau khi Bên A đăng ký sử dụng dịch vụ hoặc sau khi hai bên ký hợp
        đồng
      </p>
      <p><span class="dotted-child">b. </span> Hình thức thanh toán: tiền mặt hoặc chuyển khoản</p>
      <p><span class="dotted-child">c. </span> Đồng tiền thanh toán: Việt Nam đồng (VNĐ). </p>
      <h3 class="text-center agree"> Vui lòng nhấn nút Đồng ý để thực hiện bước tiếp theo! </h3>
      <button class="employee_form__button_agree pull-right" nz-button>
        <i nz-icon nzType="check"></i> Đồng ý
      </button>
    </div>
  </div>
</div>
