<div class="request-reset-page">
  <h1 class="request-reset-page__title">{{ 'auth.requestReset.title' | translate }}</h1>
  <div class="request-reset-page__description">{{ 'auth.requestReset.description' | translate }}</div>
  <div class="request-reset-page__errors" *ngIf="errors.length">
    <app-ui-alert
      type="error"
      [message]="errors"
    ></app-ui-alert>
  </div>
  <form class="request-reset-page__form" [formGroup]="resetForm" (ngSubmit)="handleSubmit()">
    Form
  </form>
  <div class="request-reset-page__group-links">
    {{ 'auth.requestReset.loginLink' | translate }}
  </div>
</div>
