<div class="request-reset-page">
  <h1 class="request-reset-page__title">{{ 'auth.requestReset.title' | translate }}</h1>
  <div class="request-reset-page__description">{{ 'auth.requestReset.description' | translate }}</div>
  <form nz-form nzLayout="vertical" class="request-reset-page__form" [formGroup]="resetForm" (ngSubmit)="handleSubmit()">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="emailTpl">
        <input nz-input formControlName="email">
        <ng-template #emailTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Email không được trống
          </ng-container>
          <ng-container *ngIf="control.hasError('pattern')">
            Email không đúng định dạng
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <div class="form-group">
      <button nz-button nzType="primary" class="pull-width" type="submit">
        <i class="fa fa-key" aria-hidden="true"></i> {{ 'auth.requestReset.form.send' | translate }}
      </button>
    </div>
  </form>
  <div class="request-reset-page__group-links">
    <a [routerLink]="['/auth/login']"> {{ 'auth.requestReset.loginLink' | translate }}</a>
  </div>
</div>
