<div class="page-container">
  <div class="page-card page-employees">
    <h1>Thông tin người lao động</h1>

    <div class="page-employees__menu-bar">
      <div class="page-employees__filter">
      </div>

      <div class="page-employees__group-button">
        <button nz-button nzType="default" (click)="add()"><i nz-icon nzType="plus" nzTheme="outline"></i>Thêm</button>
        <!-- <a nz-button nzType="default"><i nz-icon nzType="edit"></i>Sửa</a>
        <button nz-button nzType="default"><i nz-icon nzType="delete"></i>Xóa</button> -->
      </div>
    </div><!-- page-employees__menu-bar -->

    <nz-table
      #rowSelectionTable
      nzBordered
      [nzData]="employees"
      [nzPageSize]="employees.length"
      [nzShowPagination]="false"
      class="table ui-table-custom ui-table-custom--center"
    >
      <thead>
        <tr>
          <th>Họ và tên</th>
          <th>Mã nhân viên</th>
          <th>Mã số BHXH</th>
          <th>Số sổ BHXH</th>
          <th>CMND/HC/TCC</th>
          <th>Năm sinh</th>
          <th>GT</th>
          <th>Đơn vị KCB ban đầu</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td class="text-center">{{ data.fullName }}</td>
          <td class="text-center">{{ data.code }}</td>
          <td></td>
          <td class="text-center">{{ data.isurranceCode }}</td>
          <td class="text-center">{{ data.isurranceNo }}</td>
          <td class="text-center">{{ data.identityCar }}</td>
          <td class="text-center">{{ data.birthday }}</td>
          <td class="text-center">{{ data.hospitalFirstRegistName }}</td>
          <td class="text-center">
            <a [routerLink]="['/employees/' + data.id + '/edit']" nz-button nzType="link">
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </a>
            <button nz-button nzType="link">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
