
.page-employees {
  &__menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__group-button {
    button, a {
      margin-left: 5px;
    }
  }
}
nz-date-picker,
nz-month-picker,
nz-year-picker,
nz-range-picker,
nz-week-picker {
  margin: 0 8px 12px 0;
  margin-top: 50px;
}

.table {
  .text-left {
    text-align: left !important;
  }

  .text-center {
    text-align: center !important;
  }
}
