<div class="page-container">
  <nz-spin [nzSpinning]="isSpinning">
    <div class="page-card page-employees">
      <h1>Thông tin người lao động</h1>
      <div class="page-employees__menu-bar">
        <div class="page-employees__filter">
        </div>

        <div class="page-employees__group-button">
          <button nz-button nzType="default" (click)="add()"><i nz-icon nzType="plus" nzTheme="outline"></i>Thêm</button>
          <!-- <a nz-button nzType="default"><i nz-icon nzType="edit"></i>Sửa</a>
          <button nz-button nzType="default"><i nz-icon nzType="delete"></i>Xóa</button> -->
        </div>
      </div><!-- page-employees__menu-bar -->

      <nz-table
        #rowSelectionTable
        [nzData]="employees"
        [nzPageSize]="employees.length"
        [nzShowPagination]="false"
        class="table ui-table-custom ui-table-custom--center"
      >
        <thead>
          <tr>
            <th class="text-left" >Họ và tên</th>
            <th class="text-left">Mã nhân viên</th>
            <th>Mã số BHXH</th>
            <th>Số sổ BHXH</th>
            <th>CMND/HC/TCC</th>
            <th>Năm sinh</th>
            <th>GT</th>
            <th>Đơn vị KCB ban đầu</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr class="ui-table-custom-filter">
            <td><input nz-input placeholder="Tìm kiếm..." nzSize="small" [(ngModel)]="filter.fullName" (ngModelChange)="handleFilter('fullName')" /></td>
            <td><input nz-input placeholder="Tìm kiếm..." nzSize="small" [(ngModel)]="filter.code" (ngModelChange)="handleFilter('code')" /></td>
            <td><input nz-input placeholder="Tìm kiếm..." nzSize="small" [(ngModel)]="filter.isurranceCode" (ngModelChange)="handleFilter('isurranceCode')" /></td>
            <td><input nz-input placeholder="Tìm kiếm..." nzSize="small" [(ngModel)]="filter.isurranceNo" (ngModelChange)="handleFilter('isurranceNo')" /></td>
            <td><input nz-input placeholder="Tìm kiếm..." nzSize="small" [(ngModel)]="filter.identityCar" (ngModelChange)="handleFilter('identityCar')" /></td>
            <td><input nz-input placeholder="Tìm kiếm..." nzSize="small" [(ngModel)]="filter.birthday" (ngModelChange)="handleFilter('birthday')" /></td>
            <td><input nz-input placeholder="Tìm kiếm..." nzSize="small" [(ngModel)]="filter.gender" (ngModelChange)="handleFilter('gender')" /></td>
            <td><input nz-input placeholder="Tìm kiếm..." nzSize="small" [(ngModel)]="filter.hospitalFirstRegistName" (ngModelChange)="handleFilter('hospitalFirstRegistName')" /></td>
            <td></td>
          </tr>
          <tr *ngFor="let data of rowSelectionTable.data">
            <td>{{ data.fullName }}</td>
            <td>{{ data.code }}</td>
            <td>{{ data.isurranceCode }}</td>
            <td class="text-center">{{ data.isurranceNo }}</td>
            <td class="text-center">{{ data.identityCar }}</td>
            <td class="text-center">{{ data.birthday }}</td>
            <td class="text-center">{{ gender[data.gender] | translate }}</td>
            <td class="text-center">{{ data.hospitalFirstRegistName }}</td>
            <td class="text-center">
              <button nz-button nzType="link" (click)="edit(data.id)">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
              </button>
              <app-button-delete [id]="data.id" (delete)="delete($event)"></app-button-delete>
            </td>
          </tr>
        </tbody>
      </nz-table>

      <app-pagination [total]="total" [selected]="selectedPage" (onPageChange)="pageChange($event)"></app-pagination>
    </div>
  </nz-spin>
</div>
