<div class="page-container">
  <div class="page-card page-increase-labor">
    <h1>{{declarationCode}} | {{declarationName}}</h1>

    <div class="page-increase-labor__menu-bar">
      <div class="page-increase-labor__filter">
        <nz-year-picker [(ngModel)]="year" (ngModelChange)="onChange($event)" nzPlaceHolder="Chọn năm"></nz-year-picker>
      </div>

      <div class="page-increase-labor__group-button">
        <a [routerLink]="['/declarations/reissue-insurance-card/add']" class="page-card__declaration-button" nz-button nzType="default">
          Lập tờ khai<i nz-icon nzType="container"></i>
        </a>
        <!-- <a nz-button nzType="default"><i nz-icon nzType="edit"></i>Sửa</a>
        <button nz-button nzType="default"><i nz-icon nzType="delete"></i>Xóa</button> -->
      </div>
    </div><!-- page-increase-labor__menu-bar -->

    <nz-table
      #rowSelectionTable
      nzBordered
      [nzData]="declarations"
      [nzPageSize]="declarations.length"
      [nzShowPagination]="false"
      class="table ui-table-custom--center table-editor"
    >
      <thead>
        <tr class="ui-table-custom-header">
          <th class="cell-custom-reduction width-12p">Ngày lập</th>
          <th class="cell-custom-reduction width-7p">Số hồ sơ</th>
          <th class="cell-custom-reduction">Giấy tờ, biểu mẫu</th>
          <th class="cell-custom-reduction width-7p">Ngày nộp</th>
          <th class="cell-custom-reduction  width-12p">Kết quả giải quyết</th>
          <th class="cell-custom-reduction  width-7p">Tờ khai</th>
          <th class="cell-custom-reduction width-7p">Thao tác</th>
        </tr>

        <tr class="ui-table-custom-filter">
          <th class="cell-custom-reduction">
            <input class="input-filter" nz-input placeholder="Tìm kiếm..." nzSize="small"
            [(ngModel)]="filter.createDate" (ngModelChange)="handleFilter('createDate')" />
          </th>
          <th class="cell-custom-reduction">
            <input class="input-filter" nz-input placeholder="Tìm kiếm..." nzSize="small"
              [(ngModel)]="filter.documentNo" (ngModelChange)="handleFilter('documentNo')" />
          </th>
          <th class="cell-custom-reduction">
            <input class="input-filter" nz-input placeholder="Tìm kiếm..." nzSize="small"
              [(ngModel)]="filter.declarationName" (ngModelChange)="handleFilter('declarationName')" />
          </th>
          <th class="cell-custom-reduction">
            <input class="input-filter" nz-input placeholder="Tìm kiếm..." nzSize="small"
              [(ngModel)]="filter.sendDate" (ngModelChange)="handleFilter('sendDate')" />
          </th>
          <th class="cell-custom-reduction">
            <input class="input-filter" nz-input placeholder="Tìm kiếm..." nzSize="small"
            [(ngModel)]="filter.documentStatusName" (ngModelChange)="handleFilter('documentStatusName')" />
          </th>
          <th class="cell-custom-reduction"></th>
          <th class="cell-custom-reduction"></th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data" class="status_{{data.status}}">
          <td class="text-center">{{ data.createDate }}</td>
          <td class="text-center">{{ data.documentNo }}</td>
          <td class="text-wrap">{{ data.declarationName }}</td>
          <td class="text-center">{{ data.sendDate }}</td>
          <td class="text-center">{{ data.documentStatusName }}</td>
          <td class="text-center">
              <button nz-button nzType="link" nzBlock (click)="viewDocument(data)" >Xem</button>
            </td>
          <td class="text-center">
            <a [routerLink]="['/declarations/reissue-insurance-card/' + data.id + '/edit']" nz-button nzType="link">
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </a>
            <app-button-delete [id]="data.id" (delete)="delete($event)"></app-button-delete>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <app-pagination [total]="total" [selected]="selectedPage" (onPageChange)="pageChange($event)"></app-pagination>
  </div>
</div>
