@jexcel-readonly-color: #B3E5FC;
@jexcel-readonly-formula-color: #EFF2F6;
@primary-dark-text-color: #4B5A67;

.jexcel > tbody > tr > td {
  color: @primary-dark-text-color;
}

.jexcel > tbody > tr > td.row-title-readonly,
.jexcel_content.table-freeze-column .jexcel > tbody > tr > td.jexcel_freezed.row-title-readonly {
  background-image: none !important;
  background-color: #E9EDFB;
  color: #4964EE !important;
  font-weight: 700;
  overflow: visible !important;
}

.jexcel > tbody > tr > td.row-formula-readonly,
.jexcel_content.table-freeze-column .jexcel > tbody > tr > td.jexcel_freezed.row-formula-readonly {
  background-image: none !important;
  background-color: @jexcel-readonly-formula-color;
  color: @primary-dark-text-color !important;
  font-weight: 700;
}

.jexcel_content.table-sticky-header .jexcel > thead > tr > td {
  border-bottom-color: transparent !important;
}

.jexcel_content.table-sticky-header .jexcel > thead > tr:not(.jexcel_nested) > td {
  border-bottom-color: #ccc !important;
}

.jexcel_content.table-freeze-column .jexcel tbody .jexcel_freezed.jexcel_cell_error {
  background-color: #F44336;
}
